.cases__wr

  .bold
    font-weight: 500

  .colored
    color: #25c993

.cases__head
  text-align: center
  padding-bottom: 50px

.cases__head_top
  text-transform: uppercase
  margin-bottom: 0
  padding: 5px 10px
  background-color: rgba(203, 203, 203, 0.06)
  display: inline-block

.cases__numb
  font-size: 103px
  color: #3defd3
  margin: 0
  line-height: 90px

.cases__numb_wr
  height: 100px
  width: 80px
  background-color: rgba(203, 203, 203, 0.06)
  border-radius: 6px;
  display: flex
  justify-content: center
  align-items: center
  float: left
  margin-right: 18px

.cases__wr1_top
  font-size: 50px
  line-height: 44px
  text-transform: uppercase
  overflow: hidden

  .text_fix
    float: left
    padding-right: 20px

.cases__wr1_low
  font-size: 37px
  line-height: 32px
  padding-top: 14px

.cases__wr1
  max-width: 590px
  display: inline-block
  width: 100%
  padding: 0 75px 0 0
  margin-bottom: 66px
  min-height: 445px
  position: relative

.cases__right
  padding-left: 97px
  padding-right: 0

.cases__center
  padding-right: 0
  max-width: 780px

  .cases__list
    max-width: 460px
    float: left

  .cases__btn
    position: static
    float: left
    margin-top: 90px
    margin-left: 90px
    background-color: #25c993
    color: #27283a

    path
      fill: #27283a

    img,
    svg
      animation: moving_arr 1s ease infinite

  .cases__wr1_top
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center

    span
      padding-left: 10px

@keyframes moving_arr 
  0%, 100% 
    transform: translateX(0)
  50% 
    transform: translateX(-10px)


.cases__wr_cont
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: center
  flex-wrap: wrap

.cases__list
  margin: 40px 0 60px
  padding: 0
  list-style: none

.cases__list_item
  // padding-bottom: 20px
  margin-bottom: 20px
  padding-left: 30px
  position: relative

  &::before
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    height: 1px
    width: 15px
    background-color: rgba(203, 203, 203, 0.16)

.cases__btn
  width: 230px
  height: 60px
  background-color: #4d09d6
  border-radius: 29.5px
  box-sizing: border-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: center
  align-items: center
  color: #c7cbfd
  text-decoration: none
  transition: all ease .4s
  position: absolute
  bottom: 0
  font-weight: 500

  span
    margin-left: 10px

  svg,
  img,
  span
    transition: all ease .4s

  &:hover
    opacity: .9

    svg,
    img
      transform: translateX(-10px)

    span
      transform: translateX(10px)

.cases__left
  
  &::after
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 38px
    bottom: 0
    background-image: url(/static/img/pictures/cases/lane1.svg)
    background-repeat: no-repeat
    transform: translateX(50%)

