.live-sale
	margin: 0 auto

	&__wr
		margin: 0 auto

	&-bold
		font-weight: bold

	&__head
		font-size: px-to-rem(64px)
		font-weight: 500

		padding: px-to-rem(200px) 0 5rem
		margin: 0

		&_span
			color: #00E8D8

			position: relative

			margin-left: 10px

			&::after
				content: ''
				position: absolute

				left: 0
				right: 0
				bottom: 6px
				height: 3px

				background-color: #00E8D8

			&::before
				content: ''
				position: absolute

				left: -20px
				top: 50%
				transform: translateY(-50%)
				width: 13px
				height: 13px

				border-radius: 50%

				background-color: #00E8D8

	&__soc
		display: flex

		justify-content: center

		padding-bottom: 70px

	&__soc_wr
		height: 45px
		padding: 0 50px

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		align-items: center

		&-first
			border-right: 1px dashed #5b5c73

	&__social_img_1
		width: 26px
		height: 26px
		margin-right: 10px

	&__top_wr
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		justify-content: space-between

		max-width: 800px
		width: 100%
		padding-bottom: 60px

	&__bdb
		font-size: 3.1rem
		line-height: 2

		border-bottom: 2px solid  #00E8D8

		margin: 0

	&__wr1
		text-align: left
		padding-top: 10px

	&__low_text1
		color: #91919b
		font-size: 1.7rem

		margin: 0 0 2px

	&__bold_text1
		margin: 0

		font-size: 2.3rem

	&__timer
		max-width: 800px
		width: 100%
		padding: 29px 75px 60px
		margin-bottom: 55px

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		// justify-content: space-between

		font-size: 9.6rem

		background-image: url(/static/img/pictures/live-sale/border.svg)
		background-size: 100% 100%
		background-position: center

	&__time_wr
		position: relative

	&__time_desc
		position: absolute

		left: 50%
		transform: translateX(-50%)
		bottom: -30px

		font-size: 3.7rem

	&__martel
		font-family: 'MartelSans';
		line-height: 9.6rem
		font-size: 5.4rem
		color: #39ebd6

		width: 5.9rem

	&__btn
		margin-bottom: 15px

	&__text2
		color: #91919b
		font-size: 1.6rem

		margin: 0 auto 55px

	&__wr_2
		display: inline-flex
		position: relative

		margin-bottom: 75px

		&::before
			content: ''
			position: absolute

			top: -15px
			left: 50%
			transform: translateX(-50%)
			width: 1px
			bottom: -20px

			background: linear-gradient(#00dbdf, rgba(0, 219, 223, 0))

	&__doc
		width: 365px
		padding-right: 60px

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		flex-wrap: wrap
		box-sizing: content-box

		justify-content: space-between

		&_img
			width: 25px
			margin-right: 20px

		&_link
			width: 49%
			height: 50px
			margin-bottom: 20px

			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex

			justify-content: center
			align-items: center

			text-decoration: none
			color: #fff
			font-size: 1.7rem

			background-image: url(/static/img/pictures/live-sale/border2-fade.svg)
			background-size: 100% 100%
			background-position: center

			&-big
				width: 100%
				margin-bottom: 0

				background-image: url(/static/img/pictures/live-sale/border2-fade-full.svg)

	&__pay_wr
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		align-items: center

	&__paym
		text-align: left

		padding-left: 60px

		&_bdb
			display: inline-block

			font-size: 2.2rem
			line-height: 1.3

			margin-bottom: 40px

		&_img
			margin-right: 33px

	&__widgets
		justify-content: center

		padding-bottom: 75px

	&__title
		font-size: 4.9rem
		font-weight: normal

		padding-bottom: 7.5rem
		margin: 0

	&-grad
	  color: $greenish-cyan
	  @supports (-webkit-background-clip: text)
	    background-image: linear-gradient(90deg, #26a6d1, #00f5d2)
	    -webkit-background-clip: text
	    -webkit-text-fill-color: transparent

	&__press
		margin-bottom: 80px

		position: relative

		&::before
			content: ''
			position: absolute
			z-index: -1

			top: -110px
			left: 0
			right: 0
			bottom: 0

			background-color: #292a3d

	&__pr_list
		max-width: 900px
		height: 80px
		padding-bottom: 130px

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		position: relative
		box-sizing: content-box

		justify-content: space-between
		align-items: center

	&__pr_item
		width: 30%

		display: inline-block

		transition: all .4s ease

		&:hover
			opacity: .6

	&__pr_image
		width: 100%

	&__pr_link
		position: absolute

		right: 0
		bottom: 63px

		color: #00fccf
		font-size: 1.9rem

		opacity: .5

	&__bon_list
		max-width: 1000px
		width: 100%
		padding-bottom: 10rem

	&__bon_item
		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		align-items: center

		list-style: none

		font-size: 2.2rem

		margin-bottom: 2rem

		opacity: .4

		&.active
			opacity: 1

			.live-sale__bon_active
				opacity: 1

		&.past
			opacity: 1

			.live-sale__bon_pr_bar
				opacity: .4

	&__bon_text
		display: inline-block
		text-align: right

		width: 24%
		margin-right: 5%

	&__bon_pr_wr
		display: inline-flex

		align-items: center

		width: 100%
		max-width: 600px
		margin-right: 13px

	&__bon_pr
		display: inline-block
		position: relative

		height: 18px
		width: 90%

	&__bon_pr_bar
		height: 100%
		width: 100%

		background: linear-gradient(-90deg, #00fccf, #00dbdf)

		border-radius: 36px

	&__bon_perc
		// padding-right: 13px
		position: absolute

		top: 50%
		transform: translateY(-50%)
		// right: -77px
		right: -60px

	&__bon_active
		right: -155px
		top: 50%
		transform: translateY(-50%)
		padding-left: 16px

		position: absolute

		color: #00fccf

		opacity: 0

		&::before
			content: ''
			position: absolute

			left: 0
			top: 50%
			transform: translateY(-50%)
			width: 5px
			height: 8px

			background-image: url(/static/img/pictures/live-sale/arr.svg)
			background-size: contain
			background-repeat: no-repeat
	
	//grpah

		

	.graph_block
		padding-bottom: 110px
		max-width: 750px

		&::after
			display: none

		.bordered_block
			background: none

			font-size: 2.2rem
			color: #00e9d7
			opacity: .3
			text-align: left

			padding: 0 0 7px
			margin: 0

		.small_text
			font-size: 1.7rem

		.graph__desc_vert
			width: 340px
			padding-top: 45px

		.pie-chart
			width: 345px
			margin-left: 65px

			object
				padding-top: 340px !important

		.desc__title
			font-size: 2.2rem

		.live-sale__title
			padding-bottom: 6.5rem

		.percents_block
			background-image: url(/static/img/pictures/live-sale/border-fade.svg)
			background-size: contain

			width: 740px
			height: 185px
			padding: 8px 0 0

			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex

			flex-wrap: wrap
			position: relative

			&__string
				// width: 50%
				width: 43%
				padding: 15px 0
				margin: 0 25px

				&:nth-child(1),
				&:nth-child(2)
					border-bottom: 1px dashed #5b5c73

				&:nth-child(1),
				&:nth-child(3)
					width: 46%

				&:nth-child(2),
				&:nth-child(4)
					position: relative
					width: 40%

					&::before
						content: ''
						position: absolute

						left: -25px
						top: 0
						bottom: 0
						width: 1px

						border-left: 1px dashed #5b5c73

				&:nth-child(2)::before
					top: 15px

				&:nth-child(4)::before
					bottom: 15px

				.right__part
					color: rgba(255, 255, 255, 0.5)
					font-weight: 500

				.left__part
					font-size: 2.2rem

			.non_colored
				font-size: 1.7rem
				font-weight: normal


		.left__part::after
			display: none

		.graph__desc_hor
			width: 100%

		.graph__desc_vert

			.live-sale__bordered
				background-image: url(/static/img/pictures/live-sale/border3-fade.svg)
				background-size: contain
				background-repeat: no-repeat

				width: 338px
				height: 88px

				padding: 15px 26px
				margin-bottom: 30px

				transition: all ease .4s

				&:hover,
				&.hovered
					background-image: url(/static/img/pictures/live-sale/border3.svg)

					.bordered_block
						opacity: 1
						color: #00e9d7

	&__about_title
		font-size: 2.6rem

		margin: 0
		padding-bottom: 20px

	&__about-colored
		color: #00dbdf

	&__about_wr
		max-width: 680px
		padding: 55px 0 105px

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		flex-wrap: wrap
		justify-content: space-between

	&__about_item
		width: 49%
		margin-bottom: 15px
		padding: 6px 0

		text-align: left

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		background-image: url(/static/img/pictures/live-sale/border4-fade.svg)
		background-repeat: no-repeat
		background-size: contain

		&:nth-child(3),
		&:nth-child(4)
			padding: 0

			background-image: url(/static/img/pictures/live-sale/border5-fade.svg)

	&__about_icon
		width: 93px

	&__about_text
		max-width: 200px

	&__about-op
		color: rgba(255, 255, 255, 0.51)

	&__about-desc
		font-size: 1.4rem
		text-align: right

		width: 100%
		margin: -5px 0 0

	&__problems
		padding-bottom: 6.5rem

	&__problems_desc
		margin: 0
		padding-bottom: 8rem

		font-size: 2.3rem

	&__problems_wr
		padding: 0
		margin: 0 auto

		display: inline-block

	&__problems_item
		list-style: none
		text-align: left

		font-size: 1.7rem

		padding-bottom: 5rem

	&__problems_title
		font-size: 2.2rem
		color: #00e9d7
		font-weight: 500

		position: relative

		padding-left: 18px
		margin: 0 0 7px

		&::before
			content: ''
			position: absolute

			left: 0
			top: 50%
			transform: translateY(-50%) rotate(180deg)
			width: 5px
			height: 8px

			background-image: url(/static/img/pictures/live-sale/arr.svg)
			background-size: contain
			background-repeat: no-repeat

	&__problems_text
		padding-left: 18px
		margin: 0

		opacity: .7

	&__why
		font-size: 3.1rem

		padding-bottom: 6rem

		&_title
			font-weight: 500

		&-col
			color: #00fccf

		&_text
			max-width: 765px
			margin: 0 auto

		&_bg
			background-image: url(/static/img/pictures/live-sale/border6.svg)
			background-position: center center
			// background-size: 100%

			padding: 40px 20px

	&__backed
		padding-bottom: 9rem

	&__economy

		&_title
			font-weight: 500

