.press-wrapper
  padding: px-to-rem(113px) px-to-rem(30px) px-to-rem(115px)
  overflow: hidden
  @media(max-width: 767px)
    padding-bottom: 0


.press
  margin: 0 auto
  max-width: 127rem
  width: 35%
  margin-left: 10%
  float: left
  margin-right: 5%
  @media(max-width: 1024px)
    width: 80%
    margin: 0 auto
    float: none

  &__title
    margin-bottom: px-to-rem(40px)

  &__list
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    @media(max-width: 1023px)
      margin: 0 -3rem


  &__item
    margin: px-to-rem(20px) px-to-rem(50px)
    width: calc(50% - 10rem)
    // width: calc(33.33% - 10rem)
    @media(max-width: 1279px)
      margin: px-to-rem(25px) px-to-rem(30px)
      transform: scale(.75)


    @media(max-width: 1023px)
      width: calc(50% - 6rem)


    // @media(max-width: 767px)
    //   width: calc(50% - 6rem)


    @media(max-width: 579px)
      width: 100%


  &__image
    display: block
    margin: auto
    image-rendering: -webkit-optimize-contrast


.events
  width: 35%
  margin-left: 5%
  float: left
  position: relative
  @media(max-width: 1024px)
    width: 80%
    margin: 0 auto
    float: none
    padding-top: 10em

  @media(max-width: 440px)
    width: 86%



  // &__list
  //   margin-top: 5em
  //   position: relative

  //   @media(max-width: 1440px)
  //     margin-top: 4em

  .possbile_slider_cont 
    margin-top: 5em
    position: relative

    @media(max-width: 1440px)
      margin-top: 4em

  &__image
    opacity: .48
    width: 62%
    min-height: 100%
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0))
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0))
    mask-size: 100% 100%
    -webkit-mask-size: 100% 100%
    mask-repeat: no-repeat
    -webkit-mask-repeat: no-repeat
    mask-position: left top, left bottom
    -webkit-mask-position: left top, left bottom
    transition: all .8s ease
    float: left

  &__item
    width: 100%
    display: block
    height: 100px
    margin-bottom: 20px
    overflow: hidden
    position: relative
    font-family: "MavenPro", sans-serif
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.01))

    &:hover

      .events__image
        opacity: 1
        // -webkit-mask: none

      .events__right

        span

          &:before
            filter: drop-shadow(0 0 10px rgba(48, 224, 222, 0.95))

      .events__title
      	transform: translateX(15px)

      	&:before
      		transform: translateX(-35px)
      		opacity: 1

  &__text
    position: absolute
    top: 50%
    transform: translateY(-50%)
    color: #ffffff
    left: 23px

    @media(max-width: 1440px)
    	max-width: 62%

    @media(max-width: 500px)
      left: 14px
      max-width: 50%

    .events__title
      margin: 0
      font-size: 24px
      line-height: 28px
      letter-spacing: .7px
      font-weight: 500
      transition: all .4s ease
      position: relative

      @media(max-width: 1440px)
        font-size: 18px
        line-height: 22px

      @media(max-width: 500px)
        font-size: 14px
        line-height: 20px

      &:before
      	content: ''
      	position: absolute
      	left: 20px
      	width: 7px
      	height: 12px
      	top: 7px
      	// transform: translateY(-50%)
      	background-image: url(/static/img/pictures/events/icon_ar.svg)
      	background-repeat: no-repeat
      	background-size: cover
      	opacity: 0
      	transition: all .4s ease
      	@media(max-width: 1440px)
      		top: 5px

    .events__place
      font-size: 18px
      font-weight: 300
      opacity: .6

      @media(max-width: 1440px)
        font-size: 16px

  &__right
    width: 38%
    float: left
    color: #2ad7dc
    font-size: 15px
    text-align: center

    @media(max-width: 340px)
      display: none

    span
      margin-top: 43px
      display: inline-block
      font-weight: 300
      position: relative

      &:before
        content: ''
        position: absolute
        width: 20px
        height: 20px
        left: -30px
        top: 50%
        transform: translateY(-50%)
        background-image: url(/static/img/pictures/events/icon.svg)
        transition: all .4s ease

  .owl-prev,
  .owl-next
    all: unset
    cursor: pointer
    position: absolute
    opacity: .25
    transition: all .2s ease
    // display: none

    &:hover
    	opacity: 1

    span
      display: none

  .owl-prev
    top: 50%
    transform: translateY(-50%)
    left: -45px
    width: 15px
    height: 25px
    background-image: url(/static/img/pictures/events/big_ar_left.svg)
    background-repeat: no-repeat
    background-size: cover
    @media(max-width: 415px)
    	left: -30px

  .owl-next
    top: 50%
    transform: translateY(-50%)
    right: -45px
    width: 15px
    height: 25px
    background-image: url(/static/img/pictures/events/big_ar_right.svg)
    background-repeat: no-repeat
    background-size: cover
    @media(max-width: 415px)
    	right: -30px

  .owl-dots
    bottom: -34px
    height: 6px
    width: 100%
    left: 0
    text-align: center

    .owl-dot
      height: 100%
      width: 26px
      border-radius: 5px
      background-color: #fff
      margin: 0 7px
      display: inline-block
      opacity: .1
      cursor: pointer
      border: none

      &:hover
      	opacity: .3

    .active
      opacity: .5

      &:focus
      	outline: none

  .owl-item
    display: inline-block
    vertical-align: top

  .owl-stage-outer
    overflow: hidden

  .possbile_slider_cont
    max-width: 544px
    margin-left: auto
    margin-right: auto
    
.press-wrapper

  .line
    position: absolute
    height: 100%
    left: 50%
    width: 1px
    background-color: #707070
    opacity: .2
    @media(max-width: 1024px)
      display: none