.vision-wrapper
  padding: px-to-rem(113px) px-to-rem(30px) px-to-rem(140px)
  @media(max-width: 767px)
    padding-bottom: 0


.vision
  margin: 0 auto
  max-width: px-to-rem(1370px)

  &__title
    margin: 0 auto
    max-width: px-to-rem(600px)

  &__items
    display: flex
    flex-wrap: wrap
    margin: px-to-rem(50px) px-to-rem(-50px) px-to-rem(-40px)
    @media(max-width: 1023px)
      margin: px-to-rem(20px) px-to-rem(-20px) px-to-rem(-20px)
    @media(max-width: 767px)
      flex-direction: column


.vision-item
  align-items: flex-start
  display: flex
  padding: px-to-rem(40px) px-to-rem(50px)
  width: 50%
  @media(max-width: 1023px)
    padding: px-to-rem(20px)


  @media(max-width: 767px)
    align-items: center
    flex-direction: column
    text-align: center
    width: 100%


  &__icon
    align-items: center
    display: flex
    flex-shrink: 0
    height: px-to-rem(73px)
    justify-content: center
    margin-right: px-to-rem(30px)
    width: px-to-rem(71px)
    @media(max-width: 767px)
      margin: 20px 0


  &__title
    color: $greenish-teal
    font-size: px-to-rem(30px)
    font-weight: 400
    letter-spacing: px-to-rem(3px)
    margin: 0 0 px-to-rem(20px)
    text-transform: uppercase

  &__description
    color: $steel
    font-weight: 300
    letter-spacing: px-to-rem(.5px)
    line-height: 1.28




.backed__wr>*
  float: left

.backed__wr
  overflow: hidden
  max-width: 850px
  margin: 0 auto
  @media(max-width: 900px)
    text-align: center

  .backed__coin,
  .backed__FBC
    width: 49.5%
    padding-top: 18px
    @media(max-width: 900px)
      width: 100%
      padding: 20px 20%

  .line
    width: 1px
    height: 140px
    background-color: rgba(112, 112, 112, .2)
    @media(max-width: 900px)
      display: none

  .logo
    width: 266px
    @media(max-width: 440px)
      width: 200px

    .cls-2
      clip-path: none

  .backed__FBC
    padding-left: 54px
    padding-top: 40px
    @media(max-width: 900px)
      max-width: 366px
      padding: 40px 0 0
      float: none
      margin: 0 auto
      @media(max-width: 440px)
        padding: 40px 5% 0

    a
      width: 350px
      

  .backed__coin>*
    float: right

  .backed__coin
    @media(max-width: 900px)
      float: none
      margin: 0 auto
      overflow: hidden
      width: auto
      padding: 0
      display: inline-block

    .link
      width: 28px
      margin-left: 50px
      margin-right: 54px
      margin-top: 38px
      @media(max-width: 440px)
        margin-top: 24px
        margin-left: 20px
        margin-right: 20px

.backed__tittle
  margin-bottom: 100px

.backed-wrapper
  .patterns
    position: relative
    @media(max-width: 900px)
      display: none
  
    .net
      right: -30%
      top: -100px

    .triangle1
      left: 10%
      top: 100px
