-
  var app = { 
    
    lang: 'de',

    head: {
      title: 'Membrana (MBN) - trust management of digital assets', // default
      description: 'The first trust management platform fully based on Ethereum smart contracts.', // default
      index: {
        title: '', // inserts before default
        description: '' // overides default
      },
      competition: {
        title: 'Join Global Traders Competition and trade by real money', // inserts before default
        description: '' // overides default
      },
      ieo: {
        title: 'IEO', // inserts before default
        description: '' // overides default
      },
      whitepaper: {
        title: 'Whitepaper', // inserts before default
        description: 'Whitepaper of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      docs: {
        title: 'Docs', // inserts before default
        description: 'Docs' // overides default
      },
      team: {
        title: 'Team',
        description: 'Team',
      },
      career: {
        title: 'Careers',
        description: 'Careers',
      },
      business_overview: {
        title: 'Business overview', // inserts before default
        description: 'Business overview of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      roadmap: {
        title: 'Roadmap', // inserts before default
        description: 'Roadmap of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      faq: {
        title: 'FAQ', // inserts before default
        description: 'FAQ of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      ref: {
        title: 'Membrana platform referral system', // inserts before default
        description: 'Join referral system of Membrana platform.' // overides default
      },
      contacts: {
        title: 'Contacts', // inserts before default
        description: 'Contacts of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      }
    },

    nav: [
      {
        title: 'Quick guide',
        isQuickGuide: true
      },
      //- {
      //-   title: 'DASHBOARD',
      //-   link: 'https://sale.membrana.io'
      //- },
      {
        title: 'TOKEN',
        link: '/de/token/'
      },
      {
        title: 'Beta probieren',
        link: 'https://beta.membrana.io'
      },
      {
        title: 'Dokumente',
        link: '/de/docs/'
      },
      {
        title: 'Team',
        link: '/de/team/'
      },
      {
        title: 'Roadmap',
        link: '/de/roadmap/'
      },
      {
        title: 'FAQ',
        link: '/de/faq/'
      },
      // {
      //   title: 'Careers',
      //   link: '/career/'
      // },
      {
        title: 'Contacts',
        link: '/de/contacts/'
      },
    ],

    socials: [
      {
        icon: '/static/img/icons/socials/telegram.svg',
        link: 'https://t.me/membranaplatform',
        showInTop: true,
        showInGetInTouch: true
      },{
        icon: '/static/img/icons/socials/medium.svg',
        link: 'https://medium.com/@membrana',
        showInTop: true,
        showInGetInTouch: true
      },{
        icon: '/static/img/icons/socials/bitcointalk.svg',
        link: 'https://bitcointalk.org/index.php?topic=3119562.new#new',
        showInTop: true
      },{
        icon: '/static/img/icons/socials/twitter.svg',
        link: 'https://twitter.com/membrana_io',
        showInGetInTouch: true
      },{
        icon: '/static/img/icons/socials/reddit.svg',
        link: 'https://www.reddit.com/user/Membrana_Platform/'
      },{
        icon: '/static/img/icons/socials/flames.svg',
        link: 'https://steemit.com/@membranaio'
      },{
        icon: '/static/img/icons/socials/golos.svg',
        link: 'https://golos.io/@membrana-io/'
      },{
        icon: '/static/img/icons/socials/linkedIn.svg',
        link: 'https://www.linkedin.com/company/membrana-io/'
      },{
        icon: '/static/img/icons/socials/facebook.svg',
        link: 'https://www.facebook.com/membrana.io/',
        showInGetInTouch: true
      },{
        icon: '/static/img/icons/socials/github.svg',
        link: 'https://github.com/membrana-io',
        showInGetInTouch: true
      },{
        icon: '/static/img/icons/socials/youtube.svg',
        link: 'https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA'
      },{
        icon: '/static/img/icons/socials/blog_icon_1.svg',
        link: 'http://blog.membrana.io'
      }
    ],

    stat: {
      titleTableOne: '<b>Die Membrana Platform</b>ist jetzt in der <b>Beta</b>Version verfügbar',
      bestTraders: 'Die besten <b>Membrana Händler</b>',
      namePlatformTableRow: ['Gesamtes Handelsvolumen (*)', 'Gesamte Verträge im Management', 'Bislang verwaltetes Gesamtsaldo', 'Händler', 'Auszahlungen an Händler'],
      nameTradersTableRow: ['Nutzername', 'Gewinn im letzten Vertrag, %', 'Gewinn im letzten Vertrag, %', 'Durchschnittsprofit, %'],
      btnText: '<span class="big">ANFRAGE</span> SENDEN',
    },

    top: {      
      title: 'TRUST-VERWALTUNG <span class="nobr">VON DIGITALEN</span> VERMÖGENSWERTEN',
      subTitle: 'on ABCC',
      ends: '<span> <span class="top-bold">10%</span>Bonus Ends in</span>',
      beta_text: 'Try beta',
      description: `Join the first trust management platform fully built <br>on decentralized distributed network technologytechnology and trade 
          <b class="h-text-lighter">without fee</b> as early adopter`.replace(/\n/g, '')
    },

    youtube_video: 'https://www.youtube.com/embed/4wnAsOjSupY?enablejsapi=1',

    career: {
      title: 'careers',
      items: [{
        title: 'Engineering',
        desc: '1 open position',
        content: [{ 
          title: 'Node.js Senior Developer',
          link: '/career__node/',
          desc1: 'Full-time',
          desc2: 'Remote'
        }
        // { 
        //   title: 'Front-end Developer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote'
        // }
        ]
      //-},{
        //-title: 'Design',
        //-desc: '0 open position'
        // content: [{ 
        //   title: 'Designer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote' 
        // },{ 
        //   title: 'Designer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote' 
        // },{ 
        //   title: 'Designer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote' 
        // }]
      }]
    },

    nodeJS: {
      title: 'Node.js Senior Developer',
      desc: '<span class="bold">Membrana.io</span> is searching for experienced <span class="bold">Node.js developer</span>, who probably knows TypeScript. We are working on exchange platform with trust management. Our platform is using traditional and decent ways. Also we are creating open source multiexchange terminal. We are ready to help you to learn decentralized distributed network and decentralized architecture in the process.',
      items: [{
        title: 'Tasks:',
        content: [{ 
          title: 'Development of trading components.'
        },{ 
          title: 'decentralized distributed network integration.'
        },{ 
          title: 'Process automation.'
        },{ 
          title: 'Refactoring existing codebase.'
        },{ 
          title: 'Optimization and enhancement of algorithms.'
        }]
      },{
        title: 'Requirements:',
        content: [{ 
          title: '5 years of programming experience.'
        },{ 
          title: '3 years of node.js experience, excellent knowledge of API.'
        },{ 
          title: 'Real experience of using MongoDB, Redis/Memcached.'
        },{ 
          title: 'Understanding of CI/CD flow.'
        },{ 
          title: 'Docker usage (ability to execute docker run).'
        },{ 
          title: 'Quality code: eslint, jsdoc, autotests.'
        },{ 
          title: 'Distributed team experience.'
        },{ 
          title: 'Portfolio.'
        }]
      },{
        title: 'Advantages:',
        content: [{ 
          title: 'Ethereum, Bіtcoіn, EOS, Stellar or other decentralized distributed network usage experience.'
        },{ 
          title: 'Knowledge of one or all items:',
          list:  [{ 
            title: 'TypeScript.'
          },{ 
            title: 'DevOps.'
          },{ 
            title: 'Unix'
          },{ 
            title: 'P2P.'
          },{ 
            title: 'Applied cryptography.'
          }]
        },{ 
          title: 'Functional programming experience.'
        }]
      },{
        title: 'Conditions:',
        content: [{ 
          title: 'Remote work.'
        },{ 
          title: 'Floating work schedule. Meetups at 10:00+3 GMT.'
        },{ 
          title: 'Communication and collaboration with Telegram, Jira, Github, Bitbucket.'
        }]
      },{
        title: 'Compensation:',
        content: [{ 
          title: 'Salary in Ethereum equivalent to 2-2.5K USD.'
        }]
      }]
    },

    vision: {
      title: 'Presenting the vision of Membrana project',
      items: [{
        icon: '/static/img/pictures/vision/1.svg',
        title: 'Membrana ist die Sicherheit',
        description: `Membrana ist die Sicherheit für digitale Assets. Es ist eine Treuhand ohne Risiken für alle Auftragnehmer und die Sicherheitsgarantie für Teilnehmer und Händler durch einen einzigartigen Plattformalgorithmus und dezentral verteilte Netzwerktechnologie.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/2.svg',
        title: 'Membrana ist die Freiheit',
        description: `Membrana ist die Freiheit, die Freiheit, Partner unter den Plattformnutzern aus aller Welt zu wählen, ohne die Einschränkungen zentralisierter Systeme.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/3.svg',
        title: 'Membrana ist die neue Geschäftsmöglichkeit',
        // title: 'MEMBRANA IS THE NEW BUSINESS OPPORTUNITY',
        description: `Membrana ist die neue Geschäftsmöglichkeit, die Fähigkeit, sich zu beteiligen und Geld für das Management zu sammeln. Es ist die finanzielle Freiheit für alle - unabhängig von ihrem sozialen Status und ihrem Startkapital.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/4.svg',
        title: 'Membrana ist der Geist des Mutes.',
        description: `Membrana ist der Geist des Mutes. Wir haben die Erfahrung aller unserer Teammitglieder mit Lebensgabe in fünf verschiedenen Ländern gebündelt. Jeder von uns ist in seinem Geschäft gut etabliert und bereit, mit voller Kraft zu tauchen, um ein Start-up-Unternehmen zu gründen, das im Interesse dieser noblen Idee gegründet wurde. Wir sind kein anderer Broker - weil wir das System komplett umgestellt haben. Wie lange sind Sie schon auf der Suche nach einem aufstrebenden Projekt wie diesem,das die Welt zum Besseren verändert?`.replace(/\n/g, '')
      }]
    },

    backed: {
      title: 'UNTERSTÜTZT by Venture Funds'
    },

    components: {
      title: 'MEMBRANA-PLATTFORM KOMPONENTEN',
      items: [{
        title: 'FÜR INVESTOREN',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'EINE PLATTFORM FÜR INVESTOREN' 
        },{ 
          text: 'Anleger können den besten Händler auswählen und in 3 Schritten einen Vertrag unterzeichnen:'
        },{
          list: [{
            icon: '/static/img/icons/config.svg',
            text: '-API-Schlüssel einer beliebigen Tausch-Börse hinzufügen'
          },{
            icon: '/static/img/icons/request.svg',
            text: 'Senden Sie eine Anfrage an den ausgewählten Händler mit definierten Einstellungen und ausgewählten Paaren für den Handel'
          },{
            icon: '/static/img/icons/token.svg',
            text: 'Senden Sie die ETH an die Adresse des Smart-Vertrags (Händlergebühr).'
          },{
            icon: '/static/img/icons/lock.svg',
            text: 'Unterzeichnen Sie einen Smart-Vertrag, um dem Händler den Zugang zum Handel zu ermöglichen'
          }] 
        },{
          light_text: 'Der Gewinn wird direkt auf dem Account Ihrer Tauschbörse gutgeschrieben.'
        }]
      },{
        title: 'Für Händler',
        image: '/static/img/pictures/components/traders.jpg',
        content: [{ 
          title: 'EINE PLATTFORM FÜR HÄNDLER' 
        },{ 
          text: 'Ein Händler kann Geld für das Trust-Management erhalten.'
        },{
          list: [{
            icon: '/static/img/icons/statistics.svg',
            text: 'Starten Sie den Handel über die Membrana-Handelsplattform oder verbinden Sie Ihre eigene Software über das Membrana-API-Protokoll.'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Legen Sie Ihre spezifischen Einstellungen für das Trust-Management fest.'
          },{
            icon: '/static/img/icons/rating.svg',
            text: 'Erreichen Sie einen Spitzenplatz in der Händlerbewertung'
          },{
            icon: '/static/img/icons/certificate.svg',
            text: 'Akzeptieren Sie eine Anfrage eines Anlegers und unterschreiben Sie einen Smart-Vertrag mit ihm'
          },{
            icon: '/static/img/icons/unlock.svg',
            text: 'Erhalten Sie einen Zugang zum Handeln über den API-Schlüssel'
          }] 
        },{
          light_text: 'Ihr Gewinn ist mit Smart-Contracts garantiert. Sie erhalten den Gewinn direkt in Ihrem ETH-Wallet.'
        }]
      },{
        title: 'FÜR FONDS',
        image: '/static/img/pictures/components/funds.jpg',
        content: [{ 
          title: 'EINE PLATTFORM FÜR FONDS' 
        },{ 
          text: 'Ein Investor oder Trader kann in wenigen Schritten Teil eines Fonds werden oder diesen erstellen:'
        },{
          list: [{
            icon: '/static/img/icons/start.svg',
            text: 'Erstelle einen Trade oder einen Investmentfond und lade neue Mitglieder zum Beitritt ein'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Passen Sie Fond-Einstellungen und Benutzeroptionen an'
          },{
            icon: '/static/img/icons/check.svg',
            text: 'Schlagen Sie ein Angebot für eine Abstimmung vor'
          },{
            icon: '/static/img/icons/pen.svg',
            text: 'Führen Sie Unternehmensmaßnahmen über Multisig aus'
          }] 
        },{
          light_text: 'Zahlen Sie den Gewinn direkt auf eine Tauschbörse aus'
        }]
      }]
    },

    layers: {
      title: 'PLATTFORMSCHICHTEN',
      items: [{
        title: 'API-SCHLÜSSEL EINER BELIEBIGEN BÖRSE',
        description: 'Jeder Austausch mit API-Handel Unterstützung wird für den Betrieb der Membrana-Plattform zur Verfügung stehen.'
      },{
        title: 'SMART ORACLES',
        description: 'Oracles liefern Off-Blockchain-Daten für Smart Contracts. Auf Membrana gehen alle Handelsdaten über Oracles.'
      },{
        title: 'ETHEREUM SMART CONTRACTS',
        description: 'Alle Geschäfte zwischen einem Händler und einem Investor werden über Smart Contracts abgewickelt. Wir werden Ihr Geld nie in unseren Wallets aufbewahren.'
      }]
    },

    how_it_works: {
      title: 'WIE ES FUNKTIONIERT',
      content: [{
        border_text: `MEMBRANA ERMÖGLICHT EINE GERADE VERBINDUNG ZWISCHEN EINEM INVESTOR UND EINEM HÄNDLER, UM IHRE VERHÄLTNISSE FÜR BEIDE SEITEN ZU SCHÜTZEN UND PROFITABEL ZU MACHEN. DIE GELDER EINES ANLEGERS VERLASSEN NIE SEIN BÖRSENPORTFOLIO, DAS GESAMTE TREUHANDMANAGEMENT WIRD MIT DEM API-SCHLÜSSEL AUFGERUFEN UND AUSGEFÜHRT. JEDE BEZIEHUNG DURCHLÄUFT INTELLIGENTE VERTRÄGE, INDEM SIE ZWISCHENHÄNDLER- UND GEGENPARTEIRISIKEN ELIMINIERT UND EINE VEREINBARUNG VERBINDLICH VORSCHREIBT.`.replace(/\n/g, ''),
      },{
        title: 'IM RAHMEN EINES SMART CONTRACT ERFASSEN WIR ALLE DETAILS EINES GESCHÄFTS:'
      },{
        list: [
          'Der Anfangsbetrag der digitalen Vermögenswerte auf dem Konto eines Investors (entspricht BTC, ETH oder USD).',
          'Zielgewinn für die Vertragserfüllung (basierend auf der durchschnittlichen Rentabilität eines Händlers, bei dessen Abschluss der Vertrag automatisch beendet wird).',
          'Vertragsdauer (der Vertrag berechnet dann automatisch den Gewinn und sendet ihn an den Händler)',
          'Maximaler Verlust (Wenn ein Verlust den Maximalwert erreicht, wird der Zugriff automatisch geschlossen. -Der Vertrag wird dann aufgelöst und erstattet dem Anleger die Händlergebühr).',
          'Autorisierte Paare für den Handel',
          'Trader\'s Fee und seine Wallet.'
        ]
      }]
    },

    read_more: 'MEHR LESEN',

    technology: {
      title: 'TECHNOLOGIE',
      items: [{
        icon: '/static/img/pictures/technology/ethereum.svg',
        title: 'Ethereum',
        description: `Membrana basiert auf Ethereum, einem Blockchain-Protokoll der nächsten Generation, das erweiterte Smart Contracts ermöglicht - Vereinbarungen, die automatisch und ohne menschliche Kontrolle funktionieren. Ethereum ist dezentral und sicher; es schafft Transparenz über alle Vorgänge auf der Plattform.`.replace(/\n/g, ''),
        link: 'javascript:void(0)'
      },{
        icon: '/static/img/pictures/technology/metamask.svg',
        title: 'Metamask',
        description: `Um unsere Plattform noch sicherer zu machen, werden alle Prozesse mit MetaMask durchgeführt. Es ist ein Chrome-Plugin, mit dem Sie Ethereum DApps direkt in Ihrem Browser ausführen können, ohne einen vollständigen Ethereum-Knoten auszuführen. MetaMask beinhaltet einen sicheren Identitätsspeicher, der eine Benutzeroberfläche zur Verwaltung und Signierung von Blockchain-Transaktionen bietet.`.replace(/\n/g, ''),
        link: 'javascript:void(0)'
      }]
    },

    partners: {
      title: 'PARTNER',
      items: [{
        icon: '/static/img/pictures/partners/zeus.svg',
        description: `Schließen Sie Verträge über die Treuhandverwaltung von einzigartigen Vermögenswerten ab, die nur bei <b>Zeus.Exchange...</b>`,
        link: 'https://twitter.com/ExchangeZeus/status/986366220877418501'
      },{
        icon: '/static/img/pictures/partners/trust-wallet.svg',
        description: `Sie können Membrana über den Trust Browser verwenden. Trust Browser ist ein Ethereum-Browser der neuen Generation, der es Benutzern ermöglicht, sich von ihrem Handy aus in ihre Ethereum-Wallet einzuloggen. ...`,
        link: 'https://twitter.com/membrana_io/status/988286785078874112'
      },{
        icon: '/static/img/pictures/partners/toshi.svg',
        description: `Die Membrana-Plattform wird in den vorgestellten Apps des Toshi-Browsers von Coinbase hinzugefügt. Jetzt können Sie Membrana via Toshi Browser von Ihrem Handy aus nutzen, von jedem Ort der Welt aus...`,
        link: 'https://twitter.com/membrana_io/status/987065242080464896'
      },{
        icon: '/static/img/pictures/partners/cipher.svg',
        description: `Cipher Browser ist der weltweit erste vollwertige mobile dapp-Browser und Wallet für die Ethereum-Blockkette...`,
        link: 'https://twitter.com/CipherBrowser/status/963867927257600001'
      },{
        icon: '/static/img/pictures/partners/ingvarr.png',
        description: `Das Beraterteam von Ingvarr besteht aus anerkannten Experten für Corporate Governance, Mergers & Acquisitions und Finanzen. Wir arbeiten zusammen, um unseren Kunden auf der ganzen Welt Rechtssicherheit zu bieten...`,
        link: 'http://ingvarr.com/'
      },{
        icon: '/static/img/pictures/partners/hacken.svg',
        description: `Unser Sicherheitspartner - Hacken, hat Smart Contract Audit und Penetration Testing der Membrana-Plattform durchgeführt...`,
        link: 'https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d'
      },{
        icon: '/static/img/pictures/partners/herdius.svg',
        description: `Herdius ist eine leistungsstarke dezentrale Finanzplattform, die in der Lage ist, die nächste Generation von dezentralen Anwendungen zu betreiben. Außerdem ist Herdius die nächste Generation von DEX, das die Handhabung privater Schlüssel löst...`,
        link: 'https://www.herdius.com/'
      },{
        icon: '/static/img/pictures/partners/credits.png',
        description: `Credits Blockchain-Plattform für die Erstellung und Verwaltung von Finanzdienstleistungen auf Basis von Blockchain/Ledger....`,
        link: 'https://credits.com/'
      }]
    },

    team: [{
      title: 'Our team',
      items: [{
        avatar: '/static/img/pictures/team/yurii_gerasimov.png',
        avatar_hov: '/static/img/pictures/team/yurii_gerasimov_hov.png',
        occupation: 'CEO',
        full_name: 'Jurij Gerasimow',
        description: 'Master-Abschluss in Ingenieurwesen an der Peter der Große St. Petersburg Polytechnische Universität, Marketing in der SxS Corporation, Gründung mehrerer erfolgreicher Unternehmen in Russland, Kryptoanalytiker und Sprecher auf mehreren Blockchain-Veranstaltungen.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/jerry-gerasimov/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/vyacheslav_mychkin.png',
        avatar_hov: '/static/img/pictures/team/vyacheslav_mychkin_hov.png',
        occupation: 'CTO',
        full_name: 'Vyacheslav Mychkin',
        description: 'Master-Abschluss in ""Informatik""; an der KNU Universität. Vollständiger Stack-Entwickler mit Berufserfahrung in deutschen Unternehmen. Profi in JS, React, Mobile Entwicklung (Android, IOS). Entwicklung eines eigenen Algorithmus für Hochlastsysteme',
        github: 'https://github.com/goblinrd',
        linkedin: '',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/kirill_romanov.png',
        avatar_hov: '/static/img/pictures/team/kirill_romanov_hov.png',
        occupation: 'CMO',
        full_name: 'Kirill Romanov',
        description: 'Bachelor of Telecommunications Digitalagentur Gründer Auszeichnungen bei Webentwicklung und -werbung Startup-Starts bei Mobilfunk-, Leuchtturm- und Loyalitätsprogrammen Marketing seit 2009',
        github: '',
        linkedin: 'https://www.linkedin.com/in/kirill-romanov-4u',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/evgeniy_buev.png',
        avatar_hov: '/static/img/pictures/team/evgeniy_buev_hov.png',
        occupation: 'COO',
        full_name: 'Eugene Buev',
        description: 'Master-Abschluss, Ingenieur, Peter der Große St. Petersburger Polytechnische Universität Händler, Poker KI Entwickler, Blockchain Enthusiast.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/eugenebuev/',
        twitter: '',
        facebook: 'https://www.facebook.com/vtbeuro',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/michael_creadon.jpg',
        occupation: 'CBDO',
        full_name: 'Michael Creadon',
        description: 'Master-Abschluss der Colombia University, NY CEO von 4Rev, managte 20 Jahre lang das Zinsrisiko an der CME als Trader und CEO eines 25 Millionen Dollar Requisitenunternehmens.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/michael-creadon-31404a30/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/maxim_khukhro.png',
        avatar_hov: '/static/img/pictures/team/maxim_khukhro_hov.png',
        occupation: 'Leitender Architekt',
        full_name: 'Maxim Khuhro',
        description: 'Master-Abschluss Novosibirsk State University, 8 Jahre bei Intel Corp als Teamleiter 18 Jahre Erfahrung in der IT-Entwicklung KI, neuronale Netze, Machine Learning-Experte.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/maximkhukhro/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/shahboz_urinbaev.png',
        occupation: 'BDOF',
        full_name: 'Shahboz Urinbaev',
        description: '10 Jahre Erfahrung als Marketingleiter, Teamleiter, Business Developer. Mehr als 15 Strategien und 2 Crowdsales von Kryptoprojekten (Cryptics, Adab) erfolgreich implementiert.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/shahboz-urinbaev-844a6179/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/ilya_miroshichenko.png',
        occupation: 'Frontend developer',
        full_name: 'Ilya Miroshnichenko',
        description: 'Bachelor in NNGY Lobachevskyi Universität. Entwickler einer Web-Konsole zur Verwaltung innerer Sicherheitssysteme für VPS-Unternehmen wie die Russische Zentralbank, FSB. Berufserfahrung im Unternehmen "Security Code"; als Frontend-Entwickler.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/ilya-miroshnichenko-a10523a5',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/igor_knyazev.png',
        avatar_hov: '/static/img/pictures/team/igor_knyazev_hov.png',
        occupation: 'Backend und Solidity Entwickler',
        full_name: 'Igor Knyazev',
        description: 'Abschluss in "Informatik"; in KNU. Mehr als 10 Jahre Erfahrung in der IT-Branche. Gewinner des CTF-Wettbewerbs mehrerer Informationssicherheitsexperten. Seit 2015 stark an der Blockchain-bezogenen Projektentwicklung beteiligt.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/igor-knyazev-237914148/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/alex_badmashkaev.jpg',
        occupation: 'Vollständiger Stack-Entwickler',
        full_name: 'Alex Badmashkaev',
        description: 'hat einen Bachelor in Software Engineering von der Adyghe State University. Software-Ingenieur. Erfahrener Backend-Entwickler. 7 Jahre Erfahrung in der IT.',
        github: 'https://github.com/alexbadm',
        linkedin: 'https://www.linkedin.com/in/alexbadm',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/sonder_s_lim.jpg',
        occupation: 'Regional Brand Manager, Asien',
        full_name: 'Sonder S. Lim',
        description: 'Fürsprecher für digitale Vermögenswerte Content Marketing Agentur Gründer der Content Marketing Agentur Inhaltsstratege',
        github: '',
        linkedin: 'https://www.linkedin.com/in/sonderslim/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/adam_joseph.jpg',
        occupation: 'Regional Brand Manager, Indien',
        full_name: 'Adam Joseph',
        description: 'Strategisches Marketing Business Development Manager',
        github: '',
        linkedin: 'https://www.linkedin.com/in/adam-joseph-266356153/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/williams_kyei.jpg',
        occupation: 'Regional Brand Manager Korea',
        full_name: 'Williams Kyei',
        description: 'Startupper mit Erfahrung im koreanischen Startup- und Blockchain-Ökosystem, Spezialist für digitale Medien und Marketing, Webdesigner und Contents Creator. Mehr als 8 Jahre Erfahrung im Sportmanagement',
        github: '',
        linkedin: 'https://www.linkedin.com/in/nomadwilliams/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      }]
    },{
      title: 'Advisors',
      items: [{
        avatar: '/static/img/pictures/team/paresh_masani.jpg',
        occupation: 'Technischer Berater',
        full_name: 'Paresh Masani',
        description: 'Paresh ist Executive Director von Goldman Sachs Global Investment Research. Er ist Experte für dezentral verteilte Netzwerktechnologie, Sicherheit Kryptographie und komplexe End-to-End-Systementwicklung.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/masaniparesh/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/abunassar_anthony.jpg',
        occupation: 'Financial Advisor',
        full_name: 'Abunassar Anthony',
        description: 'Hat Erfahrung in den bekanntesten Unternehmen, beginnend bei PWC und dann Rotschild & Co, Goldman Sachs und JPMorgan, bevor er sich mit der Welt des Krypto-Handels und der ICO-Investitionen beschäftigte.',
        github: '',
        linkedin: 'http://linkedin.com/in/anthonyitauditcouk',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/denus_druzhkov.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Denis Druschkow',
        description: '12 Jahre bei der russischen Finanzanalysefirma Umnick. Von 1990 bis 2002 war er Geschäftsführer des internationalen Fonds VPS. Seit Anfang 2011 ist er Direktor für Beteiligungen bei Casys Capital Management.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/denis-druzhkov-88a13082/',
        twitter: '',
        facebook: 'https://www.facebook.com/denis.leavy',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/sls.png',
        occupation: 'Technical Advisor',
        full_name: 'Sam Kushed',
        description: 'Dezentraler Entwickler für verteilte Netzwerke. Gründer von Salus MBN. Vorsitzender des Coinbar Krypto-Fonds.',
        github: '',
        linkedin: '',
        twitter: 'https://twitter.com/Kushed_Crypto',
        facebook: '',
        bitcointalk: 'https://bitcointalk.org/index.php?topic=1317448.0'
      },{
        avatar: '/static/img/pictures/team/marie_noel.jpg',
        occupation: 'Financial Advisor',
        full_name: 'Marie-Noel Nsana',
        description: '15 years in the Banking and Financial industry<br>Anti-Money Laundering Certified<br>Bіtcoіn & Сrуptoсurrеncу Professional (C4 cert)',
        github: '',
        linkedin: 'https://www.linkedin.com/in/marie-noel-nsana-120a433/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/alexander_noxon.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Alexander Noxon',
        description: 'Fachkundiger Kryptoentwickler seit 2015. Mehr als 10 Jahre Erfahrung in der IT.',
        github: 'https://github.com/noxonsu',
        linkedin: '',
        twitter: 'https://twitter.com/noxonsu',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/anton_mogilevskiy.jpg',
        occupation: 'Legal Advisor',
        full_name: 'Anton Mogilevskiy',
        description: 'PhD degree in law, from Mikhail Speransky Faculty of Law of the Academy of National Economy More than 14 years of experience in major international law firms Norton Rose and Allen & Overy.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/anton-mogilevskiy-1167471/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/hans_choi.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Hans Choi',
        description: 'OpenChain Geschäftsführer/Dev Entwickler & Architekt für dezentral verteilte Netzwerke Fintech-Experte',
        github: '',
        linkedin: 'https://www.linkedin.com/in/hans-namkyu-choi-407618102',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/yan_stolyar.jpg',
        occupation: 'Legal Advisor',
        full_name: 'Yan Stolyar',
        description: 'CEO Telecom<br>IT, Projektmanagement-Experte<br>MBA in Management',
        github: '',
        linkedin: 'https://www.linkedin.com/in/yanstolyar/',
        twitter: '',
        facebook: 'https://www.facebook.com/yan.stolyar',
        bitcointalk: ''
      }]
    }],

    join_us: {
      title: 'Mach mit',
      description: 'Um mehr über das Trust-Management von digitalen Assets zu erfahren, wie man Membrana einsetzt und um das Team kennenzulernen!',
      email: 'Geben Sie hier Ihre E-Mail-Adresse ein…',
      email_error: '*Type correct mail to subscribe',
      subscribe: 'Abonnieren Sie das Programm.',
      title_check: 'Bitte überprüfen Sie, ob Sie sich angemeldet haben.',
      subscription_check: 'Verpassen Sie kein Detail der Global Traders Competition.',
      join: 'Teilnahme'
    },

    choose_language: 'SPRACHE AUSWÄHLEN:',
    english: 'ENGLISCH',
    russian: 'RUSSISCH',
    korean: 'KOREANISCH',
    get_in_touch: 'KONTAKT AUFNEHMEN',
    start_trading: 'Mit dem Handel beginnen',

    whitepaper_page: {
      title: 'WHITEPAPER'
    },

    business_overview_page: {
      title: 'GESCHÄFTSÜBERBLICK'
    },
    tokenomics_page: {
      title: 'TOKENOMIK'
    },

    contacts_page: {
      title: 'SIE HABEN FRAGEN?',

      text_fragment1: 'Wenn Sie Fragen zum Membrana-Projekt haben, zögern Sie nicht, uns zu kontaktieren!',
      text_fragment2: 'Sie können diese E-Mail verwenden: ',
      text_fragment3: 'Für Fragen zu unserem Projekt stehen wir Ihnen gerne zur Verfügung.',
    },

    roadmap_page: {
      title: 'Roadmap',

      items: [{
        date: 'Q1 2017',
        icon: '/static/img/pictures/roadmap/1.svg',
        title: 'KONZEPTERSTELLUNG',
        content: [{
          text: 'Definition der Idee des Trust Managements für Kryptowährungswerte.',
        },{
          text: 'Suche nach Lösungen für die wichtigsten Probleme im Treuhandmanagementmarkt, wie z. B. :',
        },{
          list: [
            'Verlust der Kontrolle über das Investitionskapital',
            'Zwischenhändler- und Gegenparteirisiken',
            'mangelndes Vertrauen',
            'Risiko von Betrugsmanagement-Ergebnissen'
          ]
        },{
          test: 'Finding the best way to implement the solutions. Generation of Membrana platform concept.'
        }]
      },{
        date: 'Q2 2017',
        icon: '/static/img/pictures/roadmap/2.svg',
        title: 'LEISTUNGSPRÜFUNG',
        content: [{
          text: 'Überführung des Konzepts in die vollständige Wirtschaftlichkeitsprüfung.'
        },{
          text: `Seine Überlebensfähigkeit in allen möglichen Szenarien zu entdecken. Zusätzliche Sicherheitsaudits zur Gewährleistung der Sicherheit des Kapitals des Investors. Recherche und Analyse aller potenziellen Risiken, Anpassung oder Änderung des operativen Prozesses zu deren Beseitigung.`.replace(/\n/g, '')
        }]
      },{
        date: 'Q3 2017',
        icon: '/static/img/pictures/roadmap/3.svg',
        title: 'SCHNITTSTELLENERSTELLUNG',
        content: [{
          text: 'Erstellung einer Plattformarchitektur und Gestaltung einer vollwertigen Benutzeroberfläche.'
        },{
          text: `Bildung eines professionellen Vollzeitteams mit Spezialisten für Design, UI/UX, Front-/Backend, Solidität, Marketing und Sicherheit. Herstellung der aktuellen Version des Designs.`.replace(/\n/g, '')
        }]
      },{
        date: 'Q3 2018',
        icon: '/static/img/pictures/roadmap/13.svg',
        title: 'MAJOR UPDATE',
        content: [{
          text: ''
        },{
          list: [
            'API (Application Programming Interface), which provides access to the functionality of the Membrana platform',
            'The ability to trade on any supported exchange in automatic mode',
            'Maxloss - upon reaching maximum loss, trust management contract stops and access to funds is denied',
            'Trustlog - all trades are stored in the blockchain to provide transparency and proof of ROI',
          ]
        }]
      },{
        date: 'Q1 2018',
        icon: '/static/img/pictures/roadmap/4.svg',
        title: 'ALPHA-VERSION',
        content: [{
          text: 'Privater Test der Membrana alpha-Version mit unvollständigen Funktionen:'
        },{
          list: [
            'Ermöglichung des Zugriffs für den Handel über den API-Schlüssel',
            'Autorisieren mit Metamask',
            'Inneres Handelsterminal',
            'Hinzufügen von Bittrex-API-Schlüsseln',
            'Senden und Empfangen von Anfragen',
            'Senden von Ethereum an die Adresse eines Smart Contract\'s.',
            'Anzeigen der Bedingungen für einen Smart Contract auf Etherscan',
          ]
        }]
      },{
        date: 'Q2 2018',
        icon: '/static/img/pictures/roadmap/5.svg',
        title: 'Beta version',
        content: [{
          text: 'Offener Test der Membrana Beta-Version mit aktualisierten Funktionen:'
        },{
          list: [
            'Fehlerbehebung',
            'Platzierung von Orders an der Börse über die interne Handelsplattform',
            'Schreiben von Ergebnissen von Trades in die Blockchain',
            'Durchführung einer intelligenten Orakelarbeitsanpassung',
            'Ausführung von Smart Contracts mit verschiedenen Szenarien',
            'Untersuchung aller Systeme und Arbeitsalgorithmen',
            'Aktualisierung des Bewertungssystems mit dem Ergebnis eines Smart Contract',
          ]
        }]
      },{
        date: 'Q3 2018',
        icon: '/static/img/pictures/roadmap/13.svg',
        title: 'GRÖßERES AKTUALISIERUNGSDATUM',
        content: [{
          list: [
            'API (Application Programming Interface), das den Zugriff auf die Funktionalität der Membrana-Plattform ermöglicht.',
            'Die Möglichkeit, an jeder unterstützten Börse im Automatikmodus zu handeln.',
            'Maxloss - bei Erreichen des maximalen Verlustes stoppt der Treuhandvertrag und der Zugang zu Geldern wird verweigert.',
            'Trustlog - alle Trades werden in der Blockchain gespeichert, um Transparenz und den Nachweis des ROI zu gewährleisten.',
          ]
        }]
      },{
        date: 'Q4 2018',
        icon: '/static/img/pictures/roadmap/7.svg',
        title: 'ÖFFENTLICHER VORVERKAUF',
        content: [{
          text: ''
        },{
          list: [
            'Angebot an öffentliche Investoren MBN-Token mit Boni zu kaufen',
          ]
        }]
      },{
        date: 'Q1 2019',
        icon: '/static/img/pictures/roadmap/12.svg',
        title: 'BEDINGTE BESTELLUNGEN UND UI-UPDATE',
        content: [{
          text: ''
        },{
          list: [
            'Update im Terminal für eine bessere UI/UX-Oberfläche',
            'Bedingte Orders (Limit, Markt, Ziel, Stop)',
            'Ermöglichung der Einrichtung von Aufträgen ohne Sperrung der Bilanz',
          ]
        }]
      },{
        date: 'Q2 2019',
        icon: '/static/img/pictures/roadmap/10.svg',
        title: 'IEO',
        content: [{
          text: ''
        },{
          list: [
            'Start des Initial Exchange Offering (IEO) an den TOP10-Börsen',
            'Notierung an den TOP10-Börsen',
          ]
        }]
      },{
        date: 'Q3 2019',
        icon: '/static/img/pictures/roadmap/8.svg',
        title: 'ERWEITERTE FUNKTIONEN',
        content: [{
          text: 'Analysator, Portfoliomanager, MBN-Fonds, MBN-Fonds'
        },{
          list: [
            'Verträge mit Sicherheit. Der Händler behält sich seine eigenen Mittel im Vertrag vor, um den möglichen Verlust des Investors teilweise auszugleichen.',
            'Währungs-Newsfeed. Die Möglichkeit, Nachrichten im Handelsterminal bezüglich einer bestimmten Währung gleichzeitig mit dem Preisänderungsdiagramm zu überprüfen.',
            'Analysator - verfolgt das Volumen bestimmter Münzen und liefert Informationen durch ein Benachrichtigungssystem.',
            'Portfolioverwaltung - Komfortables Werkzeug, um mit Ihrem Portfolio zu operieren, während Sie mit mehreren Börsen arbeiten.',
            'Membrana Management Fund - Zugang zum Margenvertrag mit der Nutzung von MBN-Token',
          ]
        }]
      },{
        date: 'Q4 2019',
        icon: '/static/img/pictures/roadmap/6.svg',
        title: 'FINALE FREIGABE',
        content: [{
          text: 'Die Membrana. io-Plattform wird mit voller Funktionalität freigegeben und ist bereit für den Markteintritt.'
        },{
          list: [
            'Unterstützung des Austauschs von Hauptkryptowährungen mit API-Schlüsseln',
            'Austausch von Textnachrichten zwischen Investor und Trader',
            'Anbindung der DEX-Börse',
            'Veröffentlichung der Membrana API für den Handel an unterstützten Börsen im Automatikbetrieb (Trading Bots)',
            'Algorithmische Ordnungen: Eisberg-Orders, Peg-Orders, Trailing Orders und andere.',
          ]
        }]
      }, {
        date: 'Q2 2020',
        icon: '/static/img/pictures/roadmap/9.svg',
        title: 'ZUSÄTZLICHE FEATURES',
        content: [{
          list: [
            'Eine Möglichkeit für den Investor, Gelder aus seinem Ethereum-Wallet an das Management zu überweisen, ohne dass er verpflichtet ist, Konten über den Kryptowährungsaustausch zu führen.',
            'Managervertrag: Vertrag zwischen Investor und Portfoliomanager, der die Arbeit für die Suche nach dem besten Trader übernimmt.',
            'Anbindung an Top50-Börsen über API-Protokoll',
            'Algo-Builder in der Plattform implementiert',
            'Börsenhandel mit Unterstützung des Margenhandels',
            'Unterstützung des dezentralen Börsenhandels',
          ]
        }]
      }, {
        date: 'Q1 2021',
        icon: '/static/img/pictures/roadmap/11.svg',
        title: 'BÖRSENEXPANSION',
        content: [{
          list: [
            'Informationen über Makler und Partner',
            'Ratingsysteme, ROI, Risiko - Faktor',
            'API-Verbindung zum Brokersystem',
            'Unterstützung von Aktien, Anleihen, Garantien, Futures',
            'Digitaler Aktienmarkt und Sicherheitstoken',
          ]
        }]
      }]
      
    },

    faq_page: {
      title: 'FAQ',
      description: 'Can\'t find an answer? Email us at <a href="mailto:support@membrana.io">support@membrana.io</a>',
      items: [{
        question: 'Airdrop details',
        answer: `Das Membrana-Team wird 3% aller Tоkеns an die Teilnehmer der Global Traders Competition senden.
        <br>
        Basierend auf der Anzahl der Turnierpunkte erhält jeder Teilnehmer einen Anteil von 40. 000. 000. 000 Tоkеns. Basierend auf dem Preis von ІСО ist es 300. 000 US-Dollar wert!
        <br>
        Um Turnierpunkte zu sammeln, sind die Benutzer eingeladen, an der Global Trader Competiotion teilzunehmen. Ihr Geld für den Handel wird von der Membrana-Plattform mit einzigartigem Trust Management Algorithmus bereitgestellt. Mitmachen, mitmachen und mit  <a href="https://membrana.io/competition/" target="blank">Membrana!</a> verdienen!
        <br>
        <a href="https://membrana.io/competition/" target="blank">https://membrana.io/competition/</a>`.replace(/\n/g, '')
      },{
        question: 'Wo kann ich mehr Informationen über den Service lesen?',
        answer: `Die Links befinden sich auf der Website <a href="https://membrana.io/" target="_blank">https://membrana.io/</a>
            <br>
            <a href="https://medium.com/@membrana" target="_blank">https://medium.com/@membrana</a>
            <br>
            <a href="https://bitcointalk.org/index.php?topic=3119562.new#new" target="_blank">https://bitcointalk.org/index.php?topic=3119562.new#new</a>
            <br>
            <a href="https://twitter.com/membrana_io" target="_blank">https://twitter.com/membrana_io</a>
            <br>
            <a href="https://www.reddit.com/user/Membrana_Platform/" target="_blank">https://www.reddit.com/user/Membrana_Platform/</a>
            <br>
            <a href="https://steemit.com/@membranaio" target="_blank">https://steemit.com/@membranaio</a>
            <br>
            <a href="https://golos.io/@membrana-io/" target="_blank">https://golos.io/@membrana-io/</a>
            <br>
            <a href="https://www.linkedin.com/company/membrana-io/" target="_blank">https://www.linkedin.com/company/membrana-io/</a>
            <br>
            <a href="https://www.facebook.com/membrana.io/" target="_blank">https://www.facebook.com/membrana.io/</a>
            <br>
            <a href="https://github.com/membrana-io" target="_blank">https://github.com/membrana-io</a>
            <br>
            <a href="https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA" target="_blank">https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA</a>`.replace(/\n/g, '')
      },{
        question: 'How can I register in the service as a trader?',
        answer: `The Membrana platform does not have its own registration system, to use the service it is necessary to log in, 
            using the Ethereum wallet signature, for example via Metamask on a PC or Cipher, Toshi on a mobile phone.`.replace(/\n/g, '')
      },{
        question: 'What are the guarantees of participatement return?',
        answer: `Participators funds are always on his exchange account and trader receive just temporary access for trading. More details 
            of Membrana algorithm are described in Whitepaper <a href="https://membrana.io/whitepaper/" target="_blank">https://membrana.io/whitepaper/</a>`.replace(/\n/g, '')
      },{
        question: 'Is the service protected, where can I see the report?',
        answer: `An exceptional attention is given to the safety. We never store the funds of an participator or a trader in our wallets. 
            At the moment, the Membrana's smart contract has successfully passed a security audit by Hacken
            <br>
            <a href="https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d" target="_blank">
              https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d
            </a>`.replace(/\n/g, '')
      },{
        question: 'What is the minimum amount of entry for participator?',
        answer: `There is no the minimum amount of entry for any user. Minimum contract amount is set by trader in his trust management parameters.`.replace(/\n/g, '')
      },{
        question: 'What are the advantages of the platform?',
        answer: `You can read about Membrana's advantages in Business Overview
            <br>
            <a href="http://dl4.joxi.net/drive/2018/04/12/0006/3395/437571/71/2068e3f30b.jpg" target="_blank">
              http://dl4.joxi.net/drive/2018/04/12/0006/3395/437571/71/2068e3f30b.jpg
            </a>`.replace(/\n/g, '')
      },{
        question: 'How does the platform earn money?',
        answer: `Membrana platform is absolutely free to join and use. Only fee required is commission for concluding the smart contract for trust management. 
            The size of that commission fee is 0,5% of the contract amount. This fee is paid by participator when signing a deal.`.replace(/\n/g, '')
      },{
        question: 'What are the dates of the ІСО?',
        answer: `ІСО will be held in Q4 2018. For all questions regarding Private Sale please contact <a href="mailto:invest@membrana.io">invest@membrana.io</a>`.replace(/\n/g, '')
      },{
        question: 'Can I buy Membrana\'s tоkеns?',
        answer: `All information about Membrana tоkеns and "Digital IPO" will be announced later in official "Offering Memorandum".`.replace(/\n/g, '')
      },{
        question: 'Can I transfer my Ethereum wallet assets into trust management?',
        answer: `Ja, kannst du. Das ist die Grundfunktion der Plattform. Du kannst dir das Video ansehen, wie es gemacht wird
            (im Moment haben wir 1 Video, die Links dazu sind im Chat und auf der Zielseite im ersten Fenster).
            <br>
            <a href="https://www.youtube.com/watch?v=4wnAsOjSupY" target="_blank">https://www.youtube.com/watch?v=4wnAsOjSupY</a>`.replace(/\n/g, '')
      },{
        question: 'Wie lautet die Leistungsstatistik (% der erfolgreichen/erfolglosen Verträge)?',
        answer: `Statistiken zu jedem Benutzer finden Sie unter Bewertung. Ihr ROI - Rückkehr der Beteiligung und Anzahl der Verträge.`.replace(/\n/g, '')
      },{
        question: 'Gibt es partnerschaftliche Beziehungen zu den Börsen? Gibt es an den Börsen eine Provision?',
        answer: `In der jetzigen Phase arbeitet die Membrana-Plattform nur mit Krуptowährungs-Börsen. Es gibt keine Provision für den Handel, sondern nur für den Abschluss eines Vertrages über das Treuhandmanagement.`.replace(/\n/g, '')
      },{
        question: `Habe ich noch mein Konto, wenn ich die Ethereum-Wallet (als Teilnehmer) ersetze, auf die das Geld nach Beendigung des Vertrages mit dem Händler kommen soll?`.replace(/\n/g, ''),
        answer: `Sie können die Ethereum-Wallet, die an einem Smart Contract beteiligt ist, nicht ersetzen. Bitte schützen Sie Ihre Brieftasche mit Ihrer eigenen Sicherheit.`.replace(/\n/g, '')
      },{
        question: 'Was soll ich tun, wenn ich während der Arbeit Änderungen an den Vertragsbedingungen vornehmen möchte?',
        answer: `Die Vertragsbedingungen können nicht geändert werden.`.replace(/\n/g, '')
      },{
        question: 'Wie kommt der Managervertrag zustande?',
        answer: `Der Teilnehmer hat die Möglichkeit, die Aufgabe der Auswahl eines erfolgreichen Traders an einen anderen, erfahreneren Teilnehmer zu delegieren. Dazu wird eine spezielle Vertragsform zwischen dem Teilnehmer und dem sogenannten erfahrenen Teilnehmer-Manager-Vertrag abgeschlossen.
            <br>
            Ein erfahrener Teilnehmer ist in der Lage, Geschäfte mit Händlern aus der Person seines Kunden abzuschließen und die Gelder des Kunden an das Management von Händlern zu übertragen.
            <br>
            Ein erfahrener Teilnehmer erhält dafür eine Provision. Mehr dazu erfahren Sie im Whitepaper
            <a href="https://membrana.io/whitepaper/" target="_blank">https://membrana.io/whitepaper/</a>`.replace(/\n/g, '')
      },{
        question: 'Was sind die durchschnittlichen Vertragslaufzeiten?',
        answer: `Es gibt keine solchen Bindungen; Sie können das Timing von ein paar Stunden bis zu einem Jahr festlegen.`.replace(/\n/g, '')
      },{
        question: 'Wohin kann ich mich wenden, wenn ein technischer Fehler/Problem auftritt?',
        answer: `Du kannst auf support@membrana. io oder in unserer offiziellen Telegrammgruppe schreiben`.replace(/\n/g, '')
      }]
    },

    
    ref_page: {
      title: 'Referral',
      description: 'The Referral system has 3 layers: Bounty, Public sale and Platform. At each layer you can earn money with Membrana platform. Now we start a huge referral campaign at Public sale level. You can earn 15% from each referral`s purchase. And more over, if your referrals invested more than $1000 combined, your referral bonus is increasing to 20%. That`s a great opportunity for your to earn with Membrana. <br> To do it: <br> 1. Register in personal account <a target="blank" class="ref__underlane" href="https://sale.membrana.io/?utm_source=referralpage"> here </a> <br> 2. Use your special link to attract new community members and purchasers. <br> FYI: Airdrop campaign at Telegram and Twiter is finished. <a target="blank" class="ref__underlane" href="https://telegram.me/MembranaAirdropBot"> @MembranaAirdropBot </a> is closed.',
      items: [{
        question: 'What is the tоkеn price?',
        answer: `Tоkеn price is 0,02 USD`.replace(/\n/g, '')
      },{
        question: 'When bonus will be distributed?',
        answer: `Bonus will distributed after Publick sale ends.`.replace(/\n/g, '')
      }]
    },  
  

    events: {
      title: 'VERANSTALTUNGEN',
      items: [{
        image: '/static/img/pictures/events/3.png',
        link: 'https://twitter.com/membrana_io/status/1012269143750578176',
        title: 'Bloсkсhain Open Forum',
        place: 'Seoul( Südkorea)'
      },{
        image: '/static/img/pictures/events/2.png',
        link: 'https://twitter.com/membrana_io/status/1006139214923214848',
        title: 'Crypto-Weekend Asia',
        place: 'Hongkong'
      },{
        image: '/static/img/pictures/events/1.png',
        link: 'https://twitter.com/membrana_io/status/978966045313691648',
        title: 'Bloсkсhain Venture Summit',
        place: 'Istanbul'
      },{
        image: '/static/img/pictures/events/4.png',
        link: 'https://twitter.com/membrana_io/status/994203727421636608',
        title: 'Fintech O2O <br>Global Summit 2018',
        place: 'Hongkong'
      },{
        image: '/static/img/pictures/events/5.png',
        link: 'https://twitter.com/membrana_io/status/988792018217390080',
        title: 'Opportunities in Bloсkсhain',
        place: 'New York'
      },{
        image: '/static/img/pictures/events/6.png',
        link: 'https://twitter.com/membrana_io/status/976484950391296000',
        title: 'Tоkеn2049',
        place: 'Hongkong'
      },{
        image: '/static/img/pictures/events/7.png',
        link: 'https://twitter.com/membrana_io/status/992101190543577088',
        title: 'Іnvеst Weekend',
        place: 'Hongkong'
      }]
    },

    press: {
      title: 'IN DER PRESSE',
      items: [{
        image: '/static/img/pictures/press/hackernoon.svg',
        link: 'https://hackernoon.com/cryptorca-140-symbols-that-change-the-market-a60d3be2d21f'
      },{
        image: '/static/img/pictures/press/bitcoin_news.png',
        link: 'https://thebitcoinnews.com/membrana-io-a-trust-management-of-digital-assets-platform-announces-start-of-token-sale/'
      },{
        image: '/static/img/pictures/press/krypto_nachrichten.svg',
        link: 'https://krypto-nachrichten.com/membrana-wird-alleinerziehende-muetter-unterstuetzen/'
      },{
        image: '/static/img/pictures/press/cryptofeed_ru.svg',
        link: 'https://cryptofeed.ru/promo/skolko-materej-odinochek-ostanetsya-posle-chm-2018-kriptoplatforma-membrana-pomozhet-vsem/'
      },{
        image: '/static/img/pictures/press/coinspeaker.svg',
        link: 'https://www.coinspeaker.com/2018/06/11/trust-management-platform-membrana-paves-way-success-minimizing-risks/'
      },{
        image: '/static/img/pictures/press/cryptorials.svg',
        link: 'http://cryptorials.io/easy-guys-users-will-be-able-to-use-membrana-via-toshi/'
      },{
        image: '/static/img/pictures/press/1.png',        
        link: 'https://coinspectator.com/news/379298/zeus-exchange-connects-with-trust-management-app-membrana'
      },{
        image: '/static/img/pictures/press/2.png',
        link: 'https://www.cryptoninjas.net/2018/07/17/membran%D0%B0-to-support-single-mothers-who-will-be-left-alone-after-the-end-of-world-cup-2018/'
      },{
        image: '/static/img/pictures/press/3.png',
        link: 'https://bitcoingarden.org/blockchain-venture-summit-in-istanbul-dialogue-for-the-development-of-the-crypto-industry-in-the-heart-of-eurasia/'
      },{
        image: '/static/img/pictures/press/4.png',
        link: 'https://coinidol.com/blockchain-venture-summit-in-istanbul/'
      },{
        image: '/static/img/pictures/press/5.png',
        link: 'https://techmoran.com/blockchain-venture-summit-in-istanbul-pushes-for-the-development-of-the-crypto-industry-in-the-heart-of-eurasia/'
      },{
        image: '/static/img/pictures/press/nulltx.png',
        link: 'https://nulltx.com/the-revolution-on-the-march-how-blockchain-is-changing-asset-management-today/'
      },{
        image: '/static/img/pictures/press/cnn.png',
        link: 'https://www.ccn.com/membrana-io-a-trust-management-of-digital-assets-platform-announces-start-of-token-sale/'
      },{
        image: '/static/img/pictures/press/reuters.png',
        link: 'https://www.reuters.com/brandfeatures/venture-capital/article?id=67818'
      },{
        image: '/static/img/pictures/press/btcnarabia.png',
        link: 'https://bitcoinnewsarabia.com/membrana-io-announces-start-of-token-sale/'
      },{
        image: '/static/img/pictures/press/nbc29.png',
        link: 'https://www.nbc29.com/Global/story.asp?S=39635083'
      },{
        image: '/static/img/pictures/press/yahoo.png',
        link: 'https://finance.yahoo.com/news/membrana-io-trust-management-digital-163000477.html'
      }],
      items2: [{
        image: '/static/img/pictures/press/coinspeaker.svg',
        link: 'https://www.coinspeaker.com/2018/06/11/trust-management-platform-membrana-paves-way-success-minimizing-risks/'
      },{
        image: '/static/img/pictures/press/2.png',
        link: 'https://www.cryptoninjas.net/2018/04/19/zeus-exchange-connects-with-trust-management-app-membrana/'
      },{
        image: '/static/img/pictures/press/bitcoin_news.svg',
        link: 'https://thebitcoinnews.com/membranа-will-support-single-mothers/'
      }]
    },

    competition: {
      title: 'Join <b>Global Traders Competition</b> on Membrana platform!',
      text: 'Earn tournament points to compete for $100,000 prize pool and platform tоkеns!',
      link_text: 'Learn More & Join',
      join_text: 'Fill the form and click "Join" to pass the KYC',
      policy_text: 'By clicking join I agree with Terms of Use',
      email_label: 'Your Email:',
      wallet_label: 'Your Ethereum Wallet:',
      wallet_placeholder: 'Type Your Ethereum Wallet Number Here...',
      email_error: '*Type correct mail',
      wallet_error: '*Type correct wallet',
      policy: `<a href="javascript:void(0)" data-open-modal="rules">Read more about rules of competition.</a>
          <a href="/static/pdf/Membrana.io_T&C_v2.1.docx.pdf" target="_blank">By clicking join I agree with Terms of Use</a>`.replace(/\n/g, ''),
      info_text: `Last preparations for 
          <br><br>
          <b>Global Traders Competition!</b>
          <br><br>
          Every week from the start of the competition, traders will receive money for trading on 
          <span>Membrana platform</span> 
          to compete with each other. This is real trading with real money! 
          <br><br>
          All trading will be done on <span>Binance exchange</span> through Membrana unique interface.`.replace(/\n/g, ''),
      prizes: {
        intro: `Earn tournament points to compete for $100,000 prize pool!
          <br><br><br>
          At the end of each competitive week, 5 best traders will receive:`.replace(/\n/g, ''),
        list: [
          'All of their winnings on Ethereum wallet',
          'Tournament points, depending on their rank position',
          'Official Membana hoodie',
          'Entry ticket for Membrana Platform Event, which will take place in autumn 2018'
        ]
      },
      important_text: `After every round of competition we will calculate all the Tournament points achieved by each trader. 
          After 12 rounds, we are giving participants Cash Prizes and Membrana Tоkеns, depending on their results. 
          Everyone will receive prizes for participation, thats why we encourage you to join and to compete!`.replace(/\n/g, ''),
      important_text_smaller: `For the record, Membrana tоkеns wont be sold through any crowdsale, so their availability 
          is strongly limited.`.replace(/\n/g, ''),
      invite_text: `We invite all traders to participate in this competition! Pass the KYC and follow the updates!`.replace(/\n/g, ''),

      success_title: 'Thank you for submitting your document. You will receive e-mail message with the identification result.'
    },
    compRe: {
      title: `WERDE EIN <p class="comp_wr__two">MITGLIED DER</p> <p class="comp_wr-colored_yell comp_wr__three comp_wr__three-de">FINANZIELLEN</p> <p class="comp_wr-colored_yell comp_wr__four comp_wr__three-de">UNABHÄNGIGKEIT</p>`,
      buttonTitle: `Lerne mehr über <span class="comp_wr-bold">Membrana</span>`,
      leftTop: `<span class="comp_wr-colored">Beta version</span> ist <span class="comp_wr-colored">live</span>`,
      leftBottom: `<span class="comp_wr-colored">3000+ </span> Registrierungen`,
      right: `<span class="comp_wr-colored">$800,000 </span> wurden bereits gesammelt`, 
      rightBottom: `Über <span class="comp_wr-colored">100.000 </span> Mitglieder in unserer Gemeinschaft`,
    },

    howWeHelp: {  
      title: `Wie hilft <span class="h-text-gradient">Membrana </span> Händlern`,
      btnTitle1: `Schau dir unsere anderen Videos auf unserem Kanal an`,
      //- btnsubTitle2: ` channel`,
    },

  }
//- <span class=""> </span>
