-
  var app = { 
    lang: 'en',

    head: {
      title: 'Membrana - trust management of digital assets', // default
      description: 'The first trust management platform fully based on Ethereum smart contracts.', // default
      index: {
        title: '', // inserts before default
        description: '' // overides default
      },
      competition: {
        title: 'Join Global Traders Competition and trade by real money', // inserts before default
        description: '' // overides default
      },
      ieo: {
        title: 'IEO', // inserts before default
        description: '' // overides default
      },
      whitepaper: {
        title: 'Whitepaper', // inserts before default
        description: 'Whitepaper of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      docs: {
        title: 'Docs', // inserts before default
        description: 'Docs' // overides default
      },
      team: {
        title: 'Team',
        description: 'Team',
      },
      career: {
        title: 'Careers',
        description: 'Careers',
      },
      business_overview: {
        title: 'Business overview', // inserts before default
        description: 'Business overview of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      roadmap: {
        title: 'Roadmap', // inserts before default
        description: 'Roadmap of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      faq: {
        title: 'FAQ', // inserts before default
        description: 'FAQ of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      ref: {
        title: 'Membrana platform referral system', // inserts before default
        description: 'Join referral system of Membrana platform.' // overides default
      },
      contacts: {
        title: 'Contacts', // inserts before default
        description: 'Contacts of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      }
    },

    nav: [{
      title: 'Quick guide',
      isQuickGuide: true
    },
    {
      title: 'DASHBOARD',
      link: 'https://sale.membrana.io'
    },
    {
      title: 'IEO',
      link: '/ieo/'
    },
    {
      title: 'Try beta',
      link: 'https://beta.membrana.io'
    },
    {
      title: 'Referral',
      link: '/referral/'
    },
    {
      title: 'Docs',
      link: '/docs/'
    },
    {
      title: 'Team',
      link: '/team/'
    },
    {
      title: 'Roadmap',
      link: '/roadmap/'
    },
    {
      title: 'FAQ',
      link: '/faq/'
    },
    // {
    //   title: 'Careers',
    //   link: '/career/'
    // },
    {
      title: 'Contacts',
      link: '/contacts/'
    },
    ],

    socials: [{
      icon: '/static/img/icons/socials/telegram.svg',
      link: 'https://t.me/membranaplatform',
      showInTop: true,
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/medium.svg',
      link: 'https://medium.com/@membrana',
      showInTop: true,
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/bitcointalk.svg',
      link: 'https://bitcointalk.org/index.php?topic=3119562.new#new',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/twitter.svg',
      link: 'https://twitter.com/membrana_io',
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/reddit.svg',
      link: 'https://www.reddit.com/user/Membrana_Platform/'
    },{
      icon: '/static/img/icons/socials/flames.svg',
      link: 'https://steemit.com/@membranaio'
    },{
      icon: '/static/img/icons/socials/golos.svg',
      link: 'https://golos.io/@membrana-io/'
    },{
      icon: '/static/img/icons/socials/linkedIn.svg',
      link: 'https://www.linkedin.com/company/membrana-io/'
    },{
      icon: '/static/img/icons/socials/facebook.svg',
      link: 'https://www.facebook.com/membrana.io/',
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/github.svg',
      link: 'https://github.com/membrana-io',
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/youtube.svg',
      link: 'https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA'
    },{
      icon: '/static/img/icons/socials/blog_icon_1.svg',
      link: 'http://blog.membrana.io'
    }],

    top: {
      title: 'Trust management <span class="nobr">of digital</span> assets',
      subTitle: 'LIVE SOON',
      beta_text: 'Try beta',
      description: `Join the first trust management platform fully built <br>on decentralized distributed network technology and trade 
          <b class="h-text-lighter">without fee</b> as early adopter`.replace(/\n/g, '')
    },

    youtube_video: 'https://www.youtube.com/embed/4wnAsOjSupY?enablejsapi=1',

    career: {
      title: 'careers',
      items: [{
        title: 'Engineering',
        desc: '1 open position',
        content: [{ 
          title: 'Node.js Senior Developer',
          link: '/career__node/',
          desc1: 'Full-time',
          desc2: 'Remote'
        }
        // { 
        //   title: 'Front-end Developer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote'
        // }
        ]
      //-},{
        //-title: 'Design',
        //-desc: '0 open position'
        // content: [{ 
        //   title: 'Designer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote' 
        // },{ 
        //   title: 'Designer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote' 
        // },{ 
        //   title: 'Designer',
        //   link: 'career__node/',
        //   desc1: 'Full-time',
        //   desc2: 'Remote' 
        // }]
      }]
    },

    nodeJS: {
      title: 'Node.js Senior Developer',
      desc: '<span class="bold">Membrana.io</span> is searching for experienced <span class="bold">Node.js developer</span>, who probably knows TypeScript. We are working on exchange platform with trust management. Our platform is using traditional and decent ways. Also we are creating open source multiexchange terminal. We are ready to help you to learn decentralized distributed network and decentralized architecture in the process.',
      items: [{
        title: 'Tasks:',
        content: [{ 
          title: 'Development of trading components.'
        },{ 
          title: 'decentralized distributed network integration.'
        },{ 
          title: 'Process automation.'
        },{ 
          title: 'Refactoring existing codebase.'
        },{ 
          title: 'Optimization and enhancement of algorithms.'
        }]
      },{
        title: 'Requirements:',
        content: [{ 
          title: '5 years of programming experience.'
        },{ 
          title: '3 years of node.js experience, excellent knowledge of API.'
        },{ 
          title: 'Real experience of using MongoDB, Redis/Memcached.'
        },{ 
          title: 'Understanding of CI/CD flow.'
        },{ 
          title: 'Docker usage (ability to execute docker run).'
        },{ 
          title: 'Quality code: eslint, jsdoc, autotests.'
        },{ 
          title: 'Distributed team experience.'
        },{ 
          title: 'Portfolio.'
        }]
      },{
        title: 'Advantages:',
        content: [{ 
          title: 'Ethereum, Bіtcoіn, EOS, Stellar or other decentralized distributed network usage experience.'
        },{ 
          title: 'Knowledge of one or all items:',
          list:  [{ 
            title: 'TypeScript.'
          },{ 
            title: 'DevOps.'
          },{ 
            title: 'Unix'
          },{ 
            title: 'P2P.'
          },{ 
            title: 'Applied cryptography.'
          }]
        },{ 
          title: 'Functional programming experience.'
        }]
      },{
        title: 'Conditions:',
        content: [{ 
          title: 'Remote work.'
        },{ 
          title: 'Floating work schedule. Meetups at 10:00+3 GMT.'
        },{ 
          title: 'Communication and collaboration with Telegram, Jira, Github, Bitbucket.'
        }]
      },{
        title: 'Compensation:',
        content: [{ 
          title: 'Salary in Ethereum equivalent to 2-2.5K USD.'
        }]
      }]
    },

    vision: {
      title: 'Presenting the vision of Membrana project',
      items: [{
        icon: '/static/img/pictures/vision/1.svg',
        title: 'Membrana is the safety',
        description: `Membrana is the safety for digital assets. It is the trust without risks for all contractors, and the security 
            guarantee for participators and traders achieved by a unique platform algorithm and decentralized distributed network technology.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/2.svg',
        title: 'Membrana is the freedom',
        description: `Membrana is the freedom, the freedom to choose partners among platform users, from all over the world without 
            the limitations of centralized systems.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/3.svg',
        title: 'Membrana is the new business opportunity',
        // title: 'MEMBRANA IS THE NEW BUSINESS OPPORTUNITY',
        description: `Membrana is the new business opportunity, the ability to participate and raise money for management. It is the financial freedom for everybody - regardless of their social status and seed capital.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/4.svg',
        title: 'Membrana is the spirit <span class="nobr">of courage</span>',
        description: `Membrana is the spirit of courage. We have combined the experience of all our team members gifted from life 
            in five different countries. Each of us is well-established in our business, and is ready to dive in full force to 
            launch a start-up, created for the sake of this noble idea. We are not another broker – because we have completely changed 
            the system. How long have you been searching for an aspiring project like this that change the world for the better?`.replace(/\n/g, '')
      }]
    },

    backed: {
      title: 'Backed by Venture Funds'
    },

    components: {
      title: 'Membrana platform components',
      items: [{
        title: 'For participators',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'A platform for participators' 
        },{ 
          text: 'participator can choose the best trader and to sign <span class="nobr">a contract</span> in 3 steps:'
        },{
          list: [{
            icon: '/static/img/icons/config.svg',
            text: 'Add API key of any exchange'
          },{
            icon: '/static/img/icons/request.svg',
            text: 'Send a request to the selected trader with defined settings and chosen pairs for trading'
          },{
            icon: '/static/img/icons/token.svg',
            text: 'Send ЕТН to the address of the smart contract (trader’s fee).'
          },{
            icon: '/static/img/icons/lock.svg',
            text: 'Sign a smart-contract to allow trader’s acess for trading'
          }] 
        },{
          light_text: 'Credit prоfіt directly into your exchange account.'
        }]
      },{
        title: 'For traders',
        image: '/static/img/pictures/components/traders.jpg',
        content: [{ 
          title: 'A platform for traders' 
        },{ 
          text: 'A trader is able to receive money for trust management.'
        },{
          list: [{
            icon: '/static/img/icons/statistics.svg',
            text: 'Start trading through Membrana trading platform or connect you own software through Membrana API protocol.'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Set your specific setting for trust management'
          },{
            icon: '/static/img/icons/rating.svg',
            text: 'Achieve top spot in trader’s rating'
          },{
            icon: '/static/img/icons/certificate.svg',
            text: 'Accept a request from an participator and sign a smart-contract with him'
          },{
            icon: '/static/img/icons/unlock.svg',
            text: 'Receive an access for trading through API key'
          }] 
        },{
          light_text: 'Your value is guaranteed with smart contract. You will receive value directly in your wallet.'
        }]
      },{
        title: 'For funds',
        image: '/static/img/pictures/components/funds.jpg',
        content: [{ 
          title: 'A platform for funds' 
        },{ 
          text: 'An participator or trader is able to join in and be part of a fund or create it in just few steps:'
        },{
          list: [{
            icon: '/static/img/icons/start.svg',
            text: 'Create a trade or an participatement fund and invite new members to join'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Customise fund settings and user options'
          },{
            icon: '/static/img/icons/check.svg',
            text: 'Propose an offer for share voting'
          },{
            icon: '/static/img/icons/pen.svg',
            text: 'Perform corporate actions via multisig'
          }] 
        },{
          light_text: 'Credit value directly into your fund exchange account.'
        }]
      }]
    },

    layers: {
      title: 'Platform layers',
      items: [{
        title: 'API KEY of any exchange',
        description: 'Any exchange with API trade support will be available for operation Membrana platform.'
      },{
        title: 'Smart oracles',
        description: 'Oracles provide off-decentralized distributed network data for smart contracts. On Membrana, all trade data go through Oracles.'
      },{
        title: 'Ethereum Smart Contracts ',
        description: 'All deals between a trader and an participator transact via smart contracts. We will never keep your money in our wallets.'
      }]
    },

    how_it_works: {
      title: 'How it works',
      content: [{
        border_text: `Membrana enables a straight connection between an participator <span class="nobr">and a trader</span>, making their relations prоfіtable and secured  for 
            both sides. An participator’s funds never leave their exchange wallet, all trust management is accessed and executed 
            with the provision of api key.
            <span class="nobr">Every relation</span> goes through smart contracts, eliminating middleman <span class="nobr">and counterparty</span> risks, and making an agreement mandatory.`.replace(/\n/g, ''),
      },{
        title: 'Inside a smart contract we record all details of a deal:'
      },{
        list: [
          'The initial amount of digital assets in an participator’s account',
          'Target prоfіt for completion of the contract (based on average prоfіtability of a trader.Upon completion, the contract will automatically terminate)',
          'Duration of the contract (the contract will then automatically calculate the prоfіt and send it to the trader)',
          'Maximum loss (If a loss reaches the maximum value, the access will automatically close. The contract will then dissolves, refunding trader’s fee to the participator)',
          'Authorized pairs for trading',
          'Trader’s fee and his wallet'
        ]
      }]
    },

    read_more: 'Read more',

    technology: {
      title: 'Technology',
      items: [{
        icon: '/static/img/pictures/technology/ethereum.svg',
        title: 'Ethereum',
        description: `Membrana is built on Ethereum, a next-generation decentralized distributed network protocol that enables advanced smart contracts — agreements, 
            that operate automatically, without the need of human control. Ethereum is decen-tralized and safe; it provides transparency to all 
            operations on the platform.`.replace(/\n/g, ''),
        link: 'javascript:void(0)'
      },{
        icon: '/static/img/pictures/technology/metamask.svg',
        title: 'Metamask',
        description: `To make our platform even more secured, all processes are done with MetaMask. It is a Chrome plugin which allows you 
            to run Ethereum DApps right in your browser, without running a full Ethereum node. MetaMask includes a secure identity vault, 
            providing a user interface to manage and sign decentralized distributed network transactions.`.replace(/\n/g, ''),
        link: 'javascript:void(0)'
      }]
    },

    partners: {
      title: 'Partners',
      items: [{
        icon: '/static/img/pictures/partners/zeus.svg',
        description: `Conclude contracts for trust management <span class="nobr">of unique</span> assets which are available only at Zues.Exchange...`,
        link: 'https://twitter.com/ExchangeZeus/status/986366220877418501'
      },{
        icon: '/static/img/pictures/partners/trust-wallet.svg',
        description: `You can use Membrana via Trust Browser. Trust Browser is a new generation Ethereum browser, which allows users to login into their Ethereum wallet from their mobile phone...`,
        link: 'https://twitter.com/membrana_io/status/988286785078874112'
      },{
        icon: '/static/img/pictures/partners/toshi.svg',
        description: `Membrana platform is added in featured apps of Toshi browser, made by Conbase. Now you can use Membrana via Toshi Browser from you mobile phone, from any point of the world...`,
        link: 'https://twitter.com/membrana_io/status/987065242080464896'
      },{
        icon: '/static/img/pictures/partners/cipher.svg',
        description: `Cipher Browser is the world's first full-featured mobile dapp browser and wallet for the Ethereum decentralized distributed network...`,
        link: 'https://twitter.com/CipherBrowser/status/963867927257600001'
      },{
        icon: '/static/img/pictures/partners/ingvarr.png',
        description: `Ingvarr’s team of advisory consultants are recognised experts in Corporate Governance, Mergers & Acquisitions and Finance. We are working together to provide legal safety for our customers all across the world...`,
        link: 'http://ingvarr.com/'
      },{
        icon: '/static/img/pictures/partners/hacken.svg',
        description: `Our security partner - Hacken, has performed Smart Contract Audit and Penetration Testing of Membrana platform...`,
        link: 'https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d'
      },{
        icon: '/static/img/pictures/partners/herdius.svg',
        description: `Herdius is a powerful decentralized financial platform capable of powering the next generation of decentralized applications. Also Herdius is next generation DEX which solves the private key handling...`,
        link: 'https://www.herdius.com/'
      },{
        icon: '/static/img/pictures/partners/credits.png',
        description: `Credits decentralized distributed network platform for the creation and management of financial services based on decentralized distributed network/ledger....`,
        link: 'https://credits.com/'
      }]
    },

    team: [{
      title: 'Our team',
      items: [{
        avatar: '/static/img/pictures/team/yurii_gerasimov.png',
        avatar_hov: '/static/img/pictures/team/yurii_gerasimov_hov.png',
        occupation: 'CEO',
        full_name: 'Yuriy Gerasimov',
        description: 'Master\'s degree in Engineering at Peter the Great St.Petersburg Polytechnic University, Marketing in SxS corporation, Launched several successfull companies in Russia, Cryptoanalyst and Speaker on multiple Blockchain Events.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/jerry-gerasimov/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/vyacheslav_mychkin.png',
        avatar_hov: '/static/img/pictures/team/vyacheslav_mychkin_hov.png',
        occupation: 'CTO',
        full_name: 'Vyacheslav Mychkin',
        description: 'Master\'s degree in "Computer science" in KNU University. Full stack developer with working experience in German companies. Professional in JS, React, Mobile development (Android, IOS). Developed own algorithm for high load systems',
        github: 'https://github.com/goblinrd',
        linkedin: '',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/kirill_romanov.png',
        avatar_hov: '/static/img/pictures/team/kirill_romanov_hov.png',
        occupation: 'CMO',
        full_name: 'Kirill Romanov',
        description: 'Bachelor of Telecommunications Digital-agency founder Awards at Web development and advertisement Launch startups at mobile, ibeacon and loyalty programs Marketing since 2009',
        github: '',
        linkedin: 'https://www.linkedin.com/in/kirill-romanov-4u',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/evgeniy_buev.png',
        avatar_hov: '/static/img/pictures/team/evgeniy_buev_hov.png',
        occupation: 'COO',
        full_name: 'Eugene Buev',
        description: 'Master’s degree, Engineer, Peter the Great St.Petersburg Polytechnic University Trader, Poker AI Developer, Decentralized distributed network Enthusiast.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/eugenebuev/',
        twitter: '',
        facebook: 'https://www.facebook.com/vtbeuro',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/michael_creadon.jpg',
        occupation: 'CBDO',
        full_name: 'Michael Creadon',
        description: 'Master’s degree of Colombia University, NY CEO of 4Rev, managed interest-rate risk at CME for 20 years as a trader and CEO of a $25 million prop firm',
        github: '',
        linkedin: 'https://www.linkedin.com/in/michael-creadon-31404a30/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/maxim_khukhro.png',
        avatar_hov: '/static/img/pictures/team/maxim_khukhro_hov.png',
        occupation: 'Lead Architect',
        full_name: 'Maxim Khuhro',
        description: 'Master’s degree Novosibirsk State University, 8 years at Intel corp as a team lead 18 years experience in IT development AI, neural networks, machine learning expert.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/maximkhukhro/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/shahboz_urinbaev.png',
        occupation: 'BDOF',
        full_name: 'Shahboz Urinbaev',
        description: '10 years of experience as Head of Marketing, Team leader, Business developer.<br>Successfully implemented more then 15 strategies and 2 crowdsales of cryptoprojects (Cryptics, Adab)',
        github: '',
        linkedin: 'https://www.linkedin.com/in/shahboz-urinbaev-844a6179/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/ilya_miroshichenko.png',
        occupation: 'Frontend developer',
        full_name: 'Ilya Miroshnichenko',
        description: 'Bachelor in NNGY Lobachevskyi university. Developer of a web-console for managing inner security systems for VPS companies, such as Russian Central Bank, FSB. Working experience with "Security Code" company as a frontend developer.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/ilya-miroshnichenko-a10523a5',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/igor_knyazev.png',
        avatar_hov: '/static/img/pictures/team/igor_knyazev_hov.png',
        occupation: 'Backend and Solidity Developer',
        full_name: 'Igor Knyazev',
        description: 'Degree in "Computer science” in KNU. More than 10 years of experience in the IT industry. Winner of several information security expert’s CTF competition. Since 2015 heavily involved in Decentralized distributed network related project development.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/igor-knyazev-237914148/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/alex_badmashkaev.jpg',
        occupation: 'Full stack developer',
        full_name: 'Alex Badmashkaev',
        description: 'Has a bachelor in Software Engineering from Adyghe State University. Software Engineer. Experienced back-end developer. 7 year’s experience at IT.',
        github: 'https://github.com/alexbadm',
        linkedin: 'https://www.linkedin.com/in/alexbadm',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/sonder_s_lim.jpg',
        occupation: 'Regional Brand Manager, Asia',
        full_name: 'Sonder S. Lim',
        description: 'Digital Assets Advocate<br>Content Marketing Agency Founder<br>Content Strategist',
        github: '',
        linkedin: 'https://www.linkedin.com/in/sonderslim/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/adam_joseph.jpg',
        occupation: 'Regional Brand Manager, India',
        full_name: 'Adam Joseph',
        description: 'Strategic Marketing<br>Business Development Manager',
        github: '',
        linkedin: 'https://www.linkedin.com/in/adam-joseph-266356153/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/williams_kyei.jpg',
        occupation: 'Regional Brand Manager Korea',
        full_name: 'Williams Kyei',
        description: 'Startupper with experience in the Korean Startup and Decentralized distributed network Ecosystem, Digital Media and Marketing Specialist, Web Designer and Contents Creator. More than 8 years experience in Sport Management',
        github: '',
        linkedin: 'https://www.linkedin.com/in/nomadwilliams/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      }]
    },{
      title: 'Advisors',
      items: [{
        avatar: '/static/img/pictures/team/paresh_masani.jpg',
        occupation: 'Technical advisor',
        full_name: 'Paresh Masani',
        description: 'Paresh is an ex-Executive Director of Goldman Sachs’ Global Investment Research. He is an expert in Decentralized distributed network Technology, security, cryptography, and complex end-to-end system development',
        github: '',
        linkedin: 'https://www.linkedin.com/in/masaniparesh/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/abunassar_anthony.jpg',
        occupation: 'Financial Advisor',
        full_name: 'Abunassar Anthony',
        description: 'Has an experience within the most prominent companies, starting in PWC and then Rotschild & Co, Goldman Sachs and JPMorgan, before tackling the world of crypto trading and ICO investing',
        github: '',
        linkedin: 'http://linkedin.com/in/anthonyitauditcouk',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/denus_druzhkov.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Denis Druzhkov',
        description: '12 years at the Russian financial analysis firm, Umnick.  From 1990 to 2002, was the executive director of the international fund, VPS. At the beginning of 2011, became the director of participatements for Casys Capital Management.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/denis-druzhkov-88a13082/',
        twitter: '',
        facebook: 'https://www.facebook.com/denis.leavy',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/sls.png',
        occupation: 'Technical Advisor',
        full_name: 'Sam Kushed',
        description: 'Decentralized distributed network developer. Founder of Salus MBN. Chairman of Coinbar crypto-fund.',
        github: '',
        linkedin: '',
        twitter: 'https://twitter.com/Kushed_Crypto',
        facebook: '',
        bitcointalk: 'https://bitcointalk.org/index.php?topic=1317448.0'
      },{
        avatar: '/static/img/pictures/team/petr_myachin.jpeg',
        occupation: 'Financial Advisor',
        full_name: 'Petr Myachin ',
        description: 'Expert in marketing, finance and business strategy. </br> Working experience in VTB bank, IThanks Inc, B&B Investment D.O.O',
        github: '',
        linkedin: 'https://www.linkedin.com/in/mypetr/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/marie_noel.jpg',
        occupation: 'Financial Advisor',
        full_name: 'Marie-Noel Nsana',
        description: '15 years in the Banking and Financial industry<br>Anti-Money Laundering Certified<br>Bіtcoіn & Сrуptoсurrеncу Professional (C4 cert)',
        github: '',
        linkedin: 'https://www.linkedin.com/in/marie-noel-nsana-120a433/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/alexander_noxon.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Alexander Noxon',
        description: 'Expert cryptodeveloper since 2015.<br>10+ experience at IT.',
        github: 'https://github.com/noxonsu',
        linkedin: '',
        twitter: 'https://twitter.com/noxonsu',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/anton_mogilevskiy.jpg',
        occupation: 'Legal Advisor',
        full_name: 'Anton Mogilevskiy',
        description: 'PhD degree in law, from Mikhail Speransky Faculty of Law of the Academy of National Economy More than 14 years of experience in major international law firms Norton Rose and Allen & Overy.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/anton-mogilevskiy-1167471/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/hans_choi.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Hans Choi',
        description: 'OpenChain CEO/Dev<br>Decentralized distributed network Developer & Architect<br>Fintech expert',
        github: '',
        linkedin: 'https://www.linkedin.com/in/hans-namkyu-choi-407618102',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/yan_stolyar.jpg',
        occupation: 'Legal Advisor',
        full_name: 'Yan Stolyar',
        description: 'CEO Telecom<br>IT, project management expert<br>MBA in management',
        github: '',
        linkedin: 'https://www.linkedin.com/in/yanstolyar/',
        twitter: '',
        facebook: 'https://www.facebook.com/yan.stolyar',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/timo_trippler.jpg',
        occupation: 'Financial advisor',
        full_name: 'Timo Trippler',
        description: 'Entrepreneur with FinTech and InsurTech industry background. An expert in financial market and risk management with 12 years of experience in financial transactions. He has been working in Blockchain field since 2015 and had assisted a various number of projects.',
        github: '',
        linkedin: 'https://linkedin.com/in/TimoTrippler',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      }]
    }],

    join_us: {
      title: 'Join us',
      description: 'To learn more about trust management of digital assets, how to use Membrana, and to meet the team!',
      email: 'Type your e-mail here…',
      email_error: '*Type correct mail to subscribe',
      subscribe: 'Subscribe',
      title_check: 'Please, check you are subscribe',
      subscription_check: 'Don\'t miss any detail of Global Traders Competition',
      join: 'Join'
    },

    choose_language: 'Choose language:',
    english: 'English',
    russian: 'Russian',
    korean: 'Korean',
    get_in_touch: 'Get in touch',

    whitepaper_page: {
      title: 'Whitepaper'
    },

    business_overview_page: {
      title: 'Business overview'
    },

    contacts_page: {
      title: 'Have some questions?',

      text_fragment1: 'If you have any questions regarding the Membrana project do not hesitate to contact us!',
      text_fragment2: 'You can use this email: ',
      text_fragment3: 'We will be glad to answer any questions about our project.',
    },

    roadmap_page: {
      title: 'Roadmap',

      items: [{
        date: 'Q1 2017',
        icon: '/static/img/pictures/roadmap/1.svg',
        title: 'Concept generation',
        content: [{
          text: 'Defining the idea of trust management for сrуptoсurrеncу assets.',
        },{
          text: 'Finding solutions to main problems in trust management market, such as:',
        },{
          list: [
            'losing control of participatement capital',
            'middleman and counterparty risks',
            'lack of trust',
            'risk of fraud management results'
          ]
        },{
          test: 'Finding the best way to implement the solutions. Generation of Membrana platform concept.'
        }]
      },{
        date: 'Q2 2017',
        icon: '/static/img/pictures/roadmap/2.svg',
        title: 'Performance audit',
        content: [{
          text: 'Taking the concept to full performance audit.'
        },{
          text: `Discovering its survivability in all kind of scenarios. Additional security audits performed to ensure the safety of participator’s capital.
                <br>Researching and analyzing all potential risks, adjusting or changing the operational process to eliminate them.`.replace(/\n/g, '')
        }]
      },{
        date: 'Q3 2017',
        icon: '/static/img/pictures/roadmap/3.svg',
        title: 'Interface creation',
        content: [{
          text: 'Creating a platform architecture and shaping a fully-functional user interface.'
        },{
          text: `Forming a professional full-time work team, with specialists in design, UI/UX, front/back-end, solidity language, marketing and security.
                <br>Fabricating the current version of design.`.replace(/\n/g, '')
        }]
      },{
        date: 'Q3 2018',
        icon: '/static/img/pictures/roadmap/13.svg',
        title: 'MAJOR UPDATE',
        content: [{
          text: ''
        },{
          list: [
            'API (Application Programming Interface), which provides access to the functionality of the Membrana platform',
            'The ability to trade on any supported exchange in automatic mode',
            'Maxloss - upon reaching maximum loss, trust management contract stops and access to funds is denied',
            'Trustlog - all trades are stored in the blockchain to provide transparency and proof of ROI',
          ]
        }]
      },{
        date: 'Q1 2018',
        icon: '/static/img/pictures/roadmap/4.svg',
        title: 'Alpha version',
        content: [{
          text: 'Private testing of Membrana alpha version with incomplete functions:'
        },{
          list: [
            'Allowing access for trading through API key',
            'Authorizing with Metamask',
            'Inner trading terminal',
            'Adding Bittrex API keys',
            'Sending and receiving requests',
            'Sending Ethereum to a smart contract’s address',
            'Showing terms of a smart contract on Etherscan',
          ]
        }]
      },{
        date: 'Q2 2018',
        icon: '/static/img/pictures/roadmap/5.svg',
        title: 'Beta version',
        content: [{
          text: 'Open testing of Membrana beta version with updated functions:'
        },{
          list: [
            'Fixing bugs',
            'Placing orders on exchange via inner trading platform',
            'Writing results of trades in decentralized distributed network',
            'Performing smart oracle work adjustment',
            'Executing smart contracts with different scenarios',
            'Examining all systems and working algorithms',
            'Updating rating system with the result of a smart contract',
          ]
        }]
      },{
        date: 'Q4 2018',
        icon: '/static/img/pictures/roadmap/7.svg',
        title: 'Public PRE-sale',
        content: [{
          text: ''
        },{
          list: [
            'Offering to publick investors MBN tokens with bonuses',
          ]
        }]
      },{
        date: 'Q1 2019',
        icon: '/static/img/pictures/roadmap/12.svg',
        title: 'CONDITIONAL ORDERS AND UI UPDATE',
        content: [{
          text: ''
        },{
          list: [
            'Update in the terminal for better UI/UX',
            'Conditional orders (Limit, Market, Target, Stop)',
            'Allowance to set up orders without locking the balance',
          ]
        }]
      },{
        date: 'Q2 2019',
        icon: '/static/img/pictures/roadmap/10.svg',
        title: 'IEO',
        content: [{
          text: ''
        },{
          list: [
            'Launch Initial Exchange Offering (IEO) on the TOP10 exchanges',
            'Listing on TOP10 exchanges',
          ]
        }]
      },{
        date: 'Q3 2019',
        icon: '/static/img/pictures/roadmap/8.svg',
        title: 'Advanced features',
        content: [{
          text: 'Analyzer, Portfolio manager, MBN fund'
        },{
          list: [
            'Contracts with security. The trader reserves his own funds in the contract to partially recover the possible loss of the investor',
            'Currency news feed. The ability to review news in trading terminal regarding a particular currency simultaneously with the price change chart',
            'Analyzer - track the volume of certain coins and provides information throught notification system',
            'Portfoilio management - Convinient tool to operate with your portfolio, while working with multiple exchanges',
            'Membrana Management Fund - Access to margin contract with the usage of MBN tokens',
          ]
        }]
      },{
        date: 'Q4 2019',
        icon: '/static/img/pictures/roadmap/6.svg',
        title: 'Final release',
        content: [{
          text: 'Membrana.io platform is released with full functionality, and it is ready to enter the market'
        },{
          list: [
            'Supporting main  cryptocurrency exchanges with API keys',
            'Exchange of text messages between investor and trader',
            'Connection of DEX Exchange',
            'Publication of the Membrana API for trading on supported exchanges in automatic mode (trading bots)',
            'Algorithmic orders: iceberg orders, peg orders, trailing orders and others',
          ]
        }]
      }, {
        date: 'Q2 2020',
        icon: '/static/img/pictures/roadmap/9.svg',
        title: 'ADDITIONAL FEATURES',
        content: [{
          list: [
            'An opportunity for the investor to transfer funds to management from his Ethereum wallet with no requirements to have accounts on the cryptocurrency exchange',
            'Manager contract: contract between investor and portfolio manager who does the work for finding the best trader',
            'Connection to top50 exchanges via API protocol',
            'Algo builder implemented in the platform',
            'Trading on exchanges with support of margin trading',
            'Support for decentralized exchange trade',
          ]
        }]
      }, {
        date: 'Q1 2021',
        icon: '/static/img/pictures/roadmap/11.svg',
        title: 'Stock market expansion',
        content: [{
          list: [
            'Information about brokers and counterpaties',
            'Rating systems, ROI, risk - factor',
            'API connection to broker system',
            'Support of stocks, bonds, warranties, futures',
            'Digital share market and security tokens',
          ]
        }]
      }]
      
    },

    faq_page: {
      title: 'FAQ',
      description: 'Can\'t find an answer? Email us at <a href="mailto:support@membrana.io">support@membrana.io</a>',
      items: [{
        question: 'Airdrop details',
        answer: `Membrana team will airdrop 3% of all tоkеns to participants of Global Traders Competitions.
        <br>
        Based on amount of Tournament Points, each participant will receive a share of 40,000,000 tоkеns. Based on ІСО price it is worth US$ 300,000!
        <br>
        To earn Tournament points, users are invited to join Global Trader Competiotion. Their money for trading are provided by Membrana platform with unique trust management algorithm. Join, compete and earn with <a href="https://membrana.io/competition/" target="blank">Membrana!</a>
        <br>
        <a href="https://membrana.io/competition/" target="blank">https://membrana.io/competition/</a>`.replace(/\n/g, '')
      },{
        question: 'Where can i read more information about the service?',
        answer: `The links are on the website <a href="https://membrana.io/" target="_blank">https://membrana.io/</a>
            <br>
            <a href="https://medium.com/@membrana" target="_blank">https://medium.com/@membrana</a>
            <br>
            <a href="https://bitcointalk.org/index.php?topic=3119562.new#new" target="_blank">https://bitcointalk.org/index.php?topic=3119562.new#new</a>
            <br>
            <a href="https://twitter.com/membrana_io" target="_blank">https://twitter.com/membrana_io</a>
            <br>
            <a href="https://www.reddit.com/user/Membrana_Platform/" target="_blank">https://www.reddit.com/user/Membrana_Platform/</a>
            <br>
            <a href="https://steemit.com/@membranaio" target="_blank">https://steemit.com/@membranaio</a>
            <br>
            <a href="https://golos.io/@membrana-io/" target="_blank">https://golos.io/@membrana-io/</a>
            <br>
            <a href="https://www.linkedin.com/company/membrana-io/" target="_blank">https://www.linkedin.com/company/membrana-io/</a>
            <br>
            <a href="https://www.facebook.com/membrana.io/" target="_blank">https://www.facebook.com/membrana.io/</a>
            <br>
            <a href="https://github.com/membrana-io" target="_blank">https://github.com/membrana-io</a>
            <br>
            <a href="https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA" target="_blank">https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA</a>`.replace(/\n/g, '')
      },{
        question: 'How can I register in the service as a trader?',
        answer: `The Membrana platform does not have its own registration system, to use the service it is necessary to log in, 
            using the Ethereum wallet signature, for example via Metamask on a PC or Cipher, Toshi on a mobile phone.`.replace(/\n/g, '')
      },{
        question: 'What are the guarantees of participatement return?',
        answer: `Participators funds are always on his exchange account and trader receive just temporary access for trading. More details 
            of Membrana algorithm are described in Whitepaper <a href="https://membrana.io/whitepaper/" target="_blank">https://membrana.io/whitepaper/</a>`.replace(/\n/g, '')
      },{
        question: 'Is the service protected, where can I see the report?',
        answer: `An exceptional attention is given to the safety. We never store the funds of an participator or a trader in our wallets. 
            At the moment, the Membrana's smart contract has successfully passed a security audit by Hacken
            <br>
            <a href="https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d" target="_blank">
              https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d
            </a>`.replace(/\n/g, '')
      },{
        question: 'What is the minimum amount of entry for participator?',
        answer: `There is no the minimum amount of entry for any user. Minimum contract amount is set by trader in his trust management parameters.`.replace(/\n/g, '')
      },{
        question: 'What are the advantages of the platform?',
        answer: `You can read about Membrana's advantages in Business Overview
            <br>
            <a href="http://dl4.joxi.net/drive/2018/04/12/0006/3395/437571/71/2068e3f30b.jpg" target="_blank">
              http://dl4.joxi.net/drive/2018/04/12/0006/3395/437571/71/2068e3f30b.jpg
            </a>`.replace(/\n/g, '')
      },{
        question: 'How does the platform earn money?',
        answer: `Membrana platform is absolutely free to join and use. Only fee required is commission for concluding the smart contract for trust management. 
            The size of that commission fee is 0,5% of the contract amount. This fee is paid by participator when signing a deal.`.replace(/\n/g, '')
      },{
        question: 'What are the dates of the ІСО?',
        answer: `ІСО will be held in Q4 2018. For all questions regarding Private Sale please contact <a href="mailto:invest@membrana.io">invest@membrana.io</a>`.replace(/\n/g, '')
      },{
        question: 'Can I buy Membrana\'s tоkеns?',
        answer: `All information about Membrana tоkеns and "Digital IPO" will be announced later in official "Offering Memorandum".`.replace(/\n/g, '')
      },{
        question: 'Can I transfer my Ethereum wallet assets into trust management?',
        answer: `Yes, you can, this is the basic function of the platform. You can see the video of how it is done 
            (for the time being we have 1 video, the links to it are in chat and on the landing page in the first window)
            <br>
            <a href="https://www.youtube.com/watch?v=4wnAsOjSupY" target="_blank">https://www.youtube.com/watch?v=4wnAsOjSupY</a>`.replace(/\n/g, '')
      },{
        question: 'What is the service statistics (% of the successful / unsuccessful contracts)?',
        answer: `Statistics of every user can be seen in Rating. Their ROI - return of participatment and numbers of their contracts.`.replace(/\n/g, '')
      },{
        question: 'Are there any partnership relations with the stock exchanges? Is there a commission at the stock exchanges?',
        answer: `At current stage Membrana platform works only with сrуptoсurrеncу exchanges. There is no commission for trading, 
            only for concluding contract for trust management.`.replace(/\n/g, '')
      },{
        question: `Do I still have my account if I replace the Ethereum wallet (as an participator), to which the 
            money should come after the termination of the contract with the trader?`.replace(/\n/g, ''),
        answer: `You cannot replace the Ethereum wallet, which is involved in a smart contract. Please, protect your wallet with your own security.`.replace(/\n/g, '')
      },{
        question: 'What should I do if I want to make changes to the terms of the contract during the work?',
        answer: `The terms of the contract cannot be changed.`.replace(/\n/g, '')
      },{
        question: 'How does the manager contract occur?',
        answer: `The participator has the opportunity to delegate the task of choosing a successful trader to another, 
            more experienced participator. For that, a special form of contract is concluded between the participator and, so-called, 
            experienced participator - manager contract. 
            <br>
            An experienced participator is able to enter into transactions with traders from the person of his customer, 
            transferring the customer's funds to the management of traders. 
            <br>
            An experienced participator receives a commission for that. You can read more about that in Whitepaper 
            <a href="https://membrana.io/whitepaper/" target="_blank">https://membrana.io/whitepaper/</a>`.replace(/\n/g, '')
      },{
        question: 'What are the average terms of the contract?',
        answer: `There are no such terms; you can put timing from a few hours to a year.`.replace(/\n/g, '')
      },{
        question: 'Where should I go if a technical failure / problem occurs?',
        answer: `You can write on <a href="mailto:support@membrana.io">support@membrana.io</a> or in our official Telegram group.`.replace(/\n/g, '')
      }]
    },

    
    ref_page: {
      title: 'Referral',
      description: 'The Referral system has 3 layers: Bounty, Public sale and Platform. At each layer you can earn money with Membrana platform. Now we start a huge referral campaign at Public sale level. You can earn 15% from each referral`s purchase. And more over, if your referrals invested more than $1000 combined, your referral bonus is increasing to 20%. That`s a great opportunity for your to earn with Membrana. <br> To do it: <br> 1. Register in personal account <a target="blank" class="ref__underlane" href="https://sale.membrana.io/?utm_source=referralpage"> here </a> <br> 2. Use your special link to attract new community members and purchasers. <br> FYI: Airdrop campaign at Telegram and Twiter is finished. <a target="blank" class="ref__underlane" href="https://telegram.me/MembranaAirdropBot"> @MembranaAirdropBot </a> is closed.',
      items: [{
        question: 'What is the tоkеn price?',
        answer: `Tоkеn price is 0,02 USD`.replace(/\n/g, '')
      },{
        question: 'When bonus will be distributed?',
        answer: `Bonus will distributed after Publick sale ends.`.replace(/\n/g, '')
      }]
    },  
  

    events: {
      title: 'events',
      items: [{
        image: '/static/img/pictures/events/3.png',
        link: 'https://twitter.com/membrana_io/status/1012269143750578176',
        title: 'Bloсkсhain Open Forum',
        place: 'Seoul (Korea)'
      },{
        image: '/static/img/pictures/events/2.png',
        link: 'https://twitter.com/membrana_io/status/1006139214923214848',
        title: 'Crypto Weekend Asia',
        place: 'Hong Kong'
      },{
        image: '/static/img/pictures/events/1.png',
        link: 'https://twitter.com/membrana_io/status/978966045313691648',
        title: 'Bloсkсhain Venture Summit',
        place: 'Istanbul'
      },{
        image: '/static/img/pictures/events/4.png',
        link: 'https://twitter.com/membrana_io/status/994203727421636608',
        title: 'Fintech O2O <br>Global Summit 2018',
        place: 'Hong Kong'
      },{
        image: '/static/img/pictures/events/5.png',
        link: 'https://twitter.com/membrana_io/status/988792018217390080',
        title: 'Opportunities in Bloсkсhain',
        place: 'New York'
      },{
        image: '/static/img/pictures/events/6.png',
        link: 'https://twitter.com/membrana_io/status/976484950391296000',
        title: 'Tоkеn2049',
        place: 'Hong Kong'
      },{
        image: '/static/img/pictures/events/7.png',
        link: 'https://twitter.com/membrana_io/status/992101190543577088',
        title: 'Іnvеst WeekEnd',
        place: 'Hong Kong'
      }]
    },

    press: {
      title: 'In the press',
      items: [{
        image: '/static/img/pictures/press/hackernoon.svg',
        link: 'https://hackernoon.com/cryptorca-140-symbols-that-change-the-market-a60d3be2d21f'
      },{
        image: '/static/img/pictures/press/bitcoin_news.png',
        link: 'https://thebitcoinnews.com/membrana-io-a-trust-management-of-digital-assets-platform-announces-start-of-token-sale/'
      },{
        image: '/static/img/pictures/press/krypto_nachrichten.svg',
        link: 'https://krypto-nachrichten.com/membrana-wird-alleinerziehende-muetter-unterstuetzen/'
      },{
        image: '/static/img/pictures/press/cryptofeed_ru.svg',
        link: 'https://cryptofeed.ru/promo/skolko-materej-odinochek-ostanetsya-posle-chm-2018-kriptoplatforma-membrana-pomozhet-vsem/'
      },{
        image: '/static/img/pictures/press/coinspeaker.svg',
        link: 'https://www.coinspeaker.com/2018/06/11/trust-management-platform-membrana-paves-way-success-minimizing-risks/'
      },{
        image: '/static/img/pictures/press/cryptorials.svg',
        link: 'http://cryptorials.io/easy-guys-users-will-be-able-to-use-membrana-via-toshi/'
      },{
        image: '/static/img/pictures/press/1.png',        
        link: 'https://coinspectator.com/news/379298/zeus-exchange-connects-with-trust-management-app-membrana'
      },{
        image: '/static/img/pictures/press/2.png',
        link: 'https://www.cryptoninjas.net/2018/07/17/membran%D0%B0-to-support-single-mothers-who-will-be-left-alone-after-the-end-of-world-cup-2018/'
      },{
        image: '/static/img/pictures/press/3.png',
        link: 'https://bitcoingarden.org/blockchain-venture-summit-in-istanbul-dialogue-for-the-development-of-the-crypto-industry-in-the-heart-of-eurasia/'
      },{
        image: '/static/img/pictures/press/4.png',
        link: 'https://coinidol.com/blockchain-venture-summit-in-istanbul/'
      },{
        image: '/static/img/pictures/press/5.png',
        link: 'https://techmoran.com/blockchain-venture-summit-in-istanbul-pushes-for-the-development-of-the-crypto-industry-in-the-heart-of-eurasia/'
      },{
        image: '/static/img/pictures/press/nulltx.png',
        link: 'https://nulltx.com/the-revolution-on-the-march-how-blockchain-is-changing-asset-management-today/'
      },{
        image: '/static/img/pictures/press/cnn.png',
        link: 'https://www.ccn.com/membrana-io-a-trust-management-of-digital-assets-platform-announces-start-of-token-sale/'
      },{
        image: '/static/img/pictures/press/reuters.png',
        link: 'https://www.reuters.com/brandfeatures/venture-capital/article?id=67818'
      },{
        image: '/static/img/pictures/press/btcnarabia.png',
        link: 'https://bitcoinnewsarabia.com/membrana-io-announces-start-of-token-sale/'
      },{
        image: '/static/img/pictures/press/nbc29.png',
        link: 'https://www.nbc29.com/Global/story.asp?S=39635083'
      },{
        image: '/static/img/pictures/press/yahoo.png',
        link: 'https://finance.yahoo.com/news/membrana-io-trust-management-digital-163000477.html'
      }],
      items2: [{
        image: '/static/img/pictures/press/coinspeaker.svg',
        link: 'https://www.coinspeaker.com/2018/06/11/trust-management-platform-membrana-paves-way-success-minimizing-risks/'
      },{
        image: '/static/img/pictures/press/2.png',
        link: 'https://www.cryptoninjas.net/2018/04/19/zeus-exchange-connects-with-trust-management-app-membrana/'
      },{
        image: '/static/img/pictures/press/bitcoin_news.svg',
        link: 'https://thebitcoinnews.com/membranа-will-support-single-mothers/'
      }]
    },

    competition: {
      title: 'Join <b>Global Traders Competition</b> on Membrana platform!',
      text: 'Earn tournament points to compete for $100,000 prize pool and platform tоkеns!',
      link_text: 'Learn More & Join',
      join_text: 'Fill the form and click "Join" to pass the KYC',
      policy_text: 'By clicking join I agree with Terms of Use',
      email_label: 'Your Email:',
      wallet_label: 'Your Ethereum Wallet:',
      wallet_placeholder: 'Type Your Ethereum Wallet Number Here...',
      email_error: '*Type correct mail',
      wallet_error: '*Type correct wallet',
      policy: `<a href="javascript:void(0)" data-open-modal="rules">Read more about rules of competition.</a>
          <a href="/static/pdf/Membrana.io_T&C_v2.1.docx.pdf" target="_blank">By clicking join I agree with Terms of Use</a>`.replace(/\n/g, ''),
      info_text: `Last preparations for 
          <br><br>
          <b>Global Traders Competition!</b>
          <br><br>
          Every week from the start of the competition, traders will receive money for trading on 
          <span>Membrana platform</span> 
          to compete with each other. This is real trading with real money! 
          <br><br>
          All trading will be done on <span>Binance exchange</span> through Membrana unique interface.`.replace(/\n/g, ''),
      prizes: {
        intro: `Earn tournament points to compete for $100,000 prize pool!
          <br><br><br>
          At the end of each competitive week, 5 best traders will receive:`.replace(/\n/g, ''),
        list: [
          'All of their winnings on Ethereum wallet',
          'Tournament points, depending on their rank position',
          'Official Membana hoodie',
          'Entry ticket for Membrana Platform Event, which will take place in autumn 2018'
        ]
      },
      important_text: `After every round of competition we will calculate all the Tournament points achieved by each trader. 
          After 12 rounds, we are giving participants Cash Prizes and Membrana Tоkеns, depending on their results. 
          Everyone will receive prizes for participation, thats why we encourage you to join and to compete!`.replace(/\n/g, ''),
      important_text_smaller: `For the record, Membrana tоkеns wont be sold through any crowdsale, so their availability 
          is strongly limited.`.replace(/\n/g, ''),
      invite_text: `We invite all traders to participate in this competition! Pass the KYC and follow the updates!`.replace(/\n/g, ''),

      success_title: 'Thank you for submitting your document. You will receive e-mail message with the identification result.'
    },
    compRe: {
      title: `BECOME A <p class="comp_wr__two">PART OF THE</p> <p class="comp_wr-colored_yell comp_wr__three">FINANCIAL</p> <p class="comp_wr-colored_yell comp_wr__four">FREEDOM</p>`,
      buttonTitle: `Learn more about <span class="comp_wr-bold">Membrana</span>`,
      leftTop: `<span class="comp_wr-colored">Beta version</span> is <span class="comp_wr-colored">live</span>`,
      leftBottom: `<span class="comp_wr-colored">3000+</span> registrations`,
      right: `<span class="comp_wr-colored">$600,000 </span> already raised`, 
      rightBottom: `Over <span class="comp_wr-colored">100k </span> community`,
    },

    howWeHelp: {
      title: `How does <span class="h-text-gradient">Membrana </span>help <span class="h-text-gradient">Traders</span>`,
      btnTitle1: `Check out other videos on our `,
      btnsubTitle2: ` channel`,
    },
  }
//- <span class=""> </span>