-
  var app = { 
    lang: 'ru',

    head: {
      title: 'Membrana - доверительное управление цифровыми активами', // default
      description: 'Первая платформа доверительного управления, которая полностью основана на Смарт контрактах Ethereum.', // default
      index: {
        title: '', // inserts before default
        description: '' // overides default
      },
      competition: {
        title: 'Join Global Traders Competition and trade by real money', // inserts before default
        description: '' // overides default
      },
      whitepaper: {
        title: 'Whitepaper', // inserts before default
        description: 'Whitepaper of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      business_overview: {
        title: 'Business overview', // inserts before default
        description: 'Business overview of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      roadmap: {
        title: 'Roadmap', // inserts before default
        description: 'Roadmap of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      faq: {
        title: 'FAQ', // inserts before default
        description: 'FAQ of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      },
      contacts: {
        title: 'Contacts', // inserts before default
        description: 'Contacts of Membrana: the first trust management platform fully based on Ethereum smart contracts.' // overides default
      }
    },

    nav: [{
      title: 'Quick guide',
      isQuickGuide: true
    },{
      title: 'Whitepaper',
      link: '/whitepaper_language/'
    },{
      title: 'Business overview',
      link: '/business_overview_language/'
    },{
      title: 'Roadmap',
      link: '/roadmap/'
    },{
      title: 'FAQ',
      link: '/faq/'
    },{
      title: 'Contacts',
      link: '/contacts/'
    }],

    socials: [{
      icon: '/static/img/icons/socials/telegram.svg',
      link: 'https://t.me/membranaplatform',
      showInTop: true,
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/medium.svg',
      link: 'https://medium.com/@membrana',
      showInTop: true,
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/bitcointalk.svg',
      link: 'https://bitcointalk.org/index.php?topic=3119562.new#new',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/twitter.svg',
      link: 'https://twitter.com/membrana_io',
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/reddit.svg',
      link: 'https://www.reddit.com/user/Membrana_Platform/'
    },{
      icon: '/static/img/icons/socials/flames.svg',
      link: 'https://steemit.com/@membranaio'
    },{
      icon: '/static/img/icons/socials/golos.svg',
      link: 'https://golos.io/@membrana-io/'
    },{
      icon: '/static/img/icons/socials/linkedIn.svg',
      link: 'https://www.linkedin.com/company/membrana-io/'
    },{
      icon: '/static/img/icons/socials/facebook.svg',
      link: 'https://www.facebook.com/membrana.io/',
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/github.svg',
      link: 'https://github.com/membrana-io',
      showInGetInTouch: true
    },{
      icon: '/static/img/icons/socials/youtube.svg',
      link: 'https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA'
    }],

    top: {
      title: 'Доверительное управление цифровыми активами',
      beta_text: 'Альфа версия',
      description: `Присоединяйтесь к первой платформе доверительного управления, полностью построенной 
          на технологии блокчейн, и торгуйте без комиссии как ранние последователи`.replace(/\n/g, '')
    },

    youtube_video: 'https://www.youtube.com/embed/4wnAsOjSupY?enablejsapi=1',

    vision: {
      title: 'Представляем видение Membrana',
      items: [{
        icon: '/static/img/pictures/vision/1.svg',
        title: 'Membrana - это безопасность',
        description: `Membrana - это безопасность. Доверие без рисков для всех участников контракта, 
            гарантия защищенности инвестора и трейдера, достигнутые уникальным алгоритмом платформы и технологией блокчейн.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/2.svg',
        title: 'Membrana - это свобода',
        description: `Membrana - это свобода. Свобода выбора партнеров среди пользователей платформы со всего мира без 
            ограничений централизованных систем.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/3.svg',
        title: 'Membrana - это новые возможности',
        description: `Membrana - это новые возможности. Возможность инвестировать и привлекать деньги в управление. 
            Финансовая свобода для тех, кому раньше она была недоступна, не зависящая от социального статуса и стартового капитала`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/4.svg',
        title: 'Membrana - это дух смелости',
        description: `Membrana - это дух смелости. Мы объединили опыт всех членов команды, полученный от жизни в пяти разных странах. 
            Каждый из нас уже реализовался в своем деле и готов вложить все силы для запуска стартапа, созданного ради идеи. 
            Мы не являемся очередными посредниками – мы полностью меняем систему. 
            <br>
            Как давно ты участвовал в проектах, меняющих мир в лучшую сторону?`.replace(/\n/g, '')
      }]
    },

    components: {
      title: 'Компоненты платформы Membrana',
      items: [{
        title: 'Инвесторам',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'Платформа для инвесторов' 
        },{ 
          text: 'Инвестор может выбрать лучшего трейдера и заключить с ним контракт в 3 шага:'
        },{
          list: [{
            icon: '/static/img/icons/config.svg',
            text: 'Добавить API ключ любой биржи'
          },{
            icon: '/static/img/icons/request.svg',
            text: 'Отправить запрос выбранному трейдеру с заданными параметрами и выбранными парами для торговли'
          },{
            icon: '/static/img/icons/token.svg',
            text: 'Отправить MBN токены на адрес смарт контракта (комиссия трейдера)'
          },{
            icon: '/static/img/icons/lock.svg',
            text: 'Подписать смарт контракт для начала торгов'
          }] 
        },{
          light_text: 'Прибыль начисляется прямо на биржевой счет инвестора.'
        }]
      },{
        title: 'Трейдерам',
        image: '/static/img/pictures/components/traders.jpg',
        content: [{ 
          title: 'Платформа для трейдеров' 
        },{ 
          text: 'Трейдер может получить деньги в доверительное управление сделав следующие шаги:'
        },{
          list: [{
            icon: '/static/img/icons/statistics.svg',
            text: 'Начать торговать через платформу Membrana'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Задать собственные условия для доверительного управления'
          },{
            icon: '/static/img/icons/rating.svg',
            text: 'Достигнуть топовых позиций в рейтинге трейдеров'
          },{
            icon: '/static/img/icons/certificate.svg',
            text: 'Принять запрос от инвестора и подписать контракт с ним'
          },{
            icon: '/static/img/icons/unlock.svg',
            text: 'Торговать, используя технологию доступа через API ключи'
          }] 
        },{
          light_text: 'Прибыль трейдера гарантирована смарт контрактом. Он получит прибыль напрямую на собственный ETH кошелек.'
        }]
      },{
        title: 'Фондам',
        image: '/static/img/pictures/components/funds.jpg',
        content: [{ 
          title: 'Платформа для Фондов' 
        },{ 
          text: 'Инвестор или трейдер могут быть частью или создать собственный Фонд в несколько шагов:'
        },{
          list: [{
            icon: '/static/img/icons/start.svg',
            text: 'Создать торговый или инвестиционный фонд и приглашать новых участников'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Настроить условия работы Фонда'
          },{
            icon: '/static/img/icons/check.svg',
            text: 'Создать предложение для участия в голосовании'
          },{
            icon: '/static/img/icons/pen.svg',
            text: 'Корпоративные действия управляются через multisig'
          }] 
        },{
          light_text: 'Фонд получает прибыль напрямую на свой счет на бирже.'
        }]
      }]
    },

    layers: {
      title: 'Как устроена платформа',
      items: [{
        title: 'API ключи любой биржи',
        description: 'Любая биржа с поддержкой торговли через API ключи доступна для платформы Membrana.'
      },{
        title: 'Умные Oracles',
        description: 'Oracles поставляют данные, существующие вне блокчейна, для смарт контрактов. У платформы Membrana все данные поступают через Oracles.'
      },{
        title: 'Смарт контракты на Ethereum',
        description: 'Все сделки между трейдером и инвестором заключаются через Смарт контракт. Мы никогда не храним ваши деньги на наших кошельках.'
      }]
    },

    how_it_works: {
      title: 'Как это работает',
      content: [{
        border_text: `Membrana устанавливает прямую связь между инвестором и трейдером, делая их взаимоотношения выгодными и 
            надежными для обеих сторон. Средства инвесторов никогда не покидают кошелька на бирже, все доверительное управление 
            выполняется благодаря API ключам. Любые взаимоотношения совершаются через смарт контракт, исключая посредников и 
            контрагентов.`.replace(/\n/g, ''),
      },{
        title: 'Все параметры сделки записываются в смарт контракт:'
      },{
        list: [
          'Начальные балансы цифровых активов на аккаунте инвестора (BTC, ETH или USD);',
          'Целевая прибыль для завершение контракта (основывается на средней доходности трейдеров. При завершении контракта между трейдером, смарт контракт автоматически прекращается);',
          'Длительность контракта (контракт автоматически вычисляет прибыль на протяжении всего периода и высылает трейдеру);',
          'Максимальные потери (если достигается уровень максимальных потерь, доступ автоматически закрывается, контракт завершается и комиссия трейдера возвращается инвестору);',
          'Доступные пары для торгов;',
          'Комиссия трейдера и его кошелек.'
        ]
      }]
    },

    read_more: 'Read more',

    technology: {
      title: 'Технологии',
      items: [{
        icon: '/static/img/pictures/technology/ethereum.svg',
        title: 'Ethereum',
        description: `Membrana построена на Ethereum, блокчейн протоколе нового поколения, включающем продвинутые смарт контракты - соглашения, 
            которые выполняются автоматически без контроля со стороны человека. Ethereum децентрализован и безопасен. Благодаря Ethereum 
            все операции на платформе прозрачны и надёжны. `.replace(/\n/g, ''),
        link: 'javascript:void(0)'
      },{
        icon: '/static/img/pictures/technology/metamask.svg',
        title: 'Metamask',
        description: `Чтобы сделать нашу платформу более защищенной, все процессы выполняются через MetaMask. Это плагин для Chrome, 
            который позволяет запускать Ethereum DApps прямо в Вашем браузере без запуска полной ноды Ethereum. MetaMask использует 
            защищенный внутренний интерфейс, позволяющий пользователям управлять транзакциями в блокчейне. `.replace(/\n/g, ''),
        link: 'javascript:void(0)'
      }]
    },

    partners: {
      title: 'Партнеры',
      items: [{
        icon: '/static/img/pictures/partners/zeus.svg',
        description: `Заключайте контракты на доверительное управление уникальных активов, которые доступны только на Zues.Exchange.`,
        link: 'https://twitter.com/ExchangeZeus/status/986366220877418501'
      },{
        icon: '/static/img/pictures/partners/trust-wallet.svg',
        description: `Membrana добавлена в список проверенных приложений браузера Trust. Теперь вы можете использовать Membrana через Trust браузер.`,
        link: 'https://twitter.com/membrana_io/status/988286785078874112'
      },{
        icon: '/static/img/pictures/partners/toshi.svg',
        description: `Membrana добавлена в список проверенных приложений браузера Toshi. Теперь вы можете использовать Membrana через Toshi браузер.`,
        link: 'https://twitter.com/membrana_io/status/987065242080464896'
      },{
        icon: '/static/img/pictures/partners/cipher.svg',
        description: `Cipher браузер - первый в мире браузер и кошелек для работы с Ethereum.`,
        link: 'https://twitter.com/CipherBrowser/status/963867927257600001'
      },{
        icon: '/static/img/pictures/partners/hacken.svg',
        description: `Наш партнер по безопасности - Hacken - провел аудит смарт-контракта и тестирование безопасности Membrana.`,
        link: 'https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d'
      }]
    },

    team: [{
      title: 'Наша команда',
      items: [{
        avatar: '/static/img/pictures/team/evgeniy_buev.png',
        avatar_hov: '/static/img/pictures/team/evgeniy_buev_hov.png',
        occupation: 'COO',
        full_name: 'Евгений Буев',
        description: 'Степень магистра в Санкт-Петербургском Политехническом Университете им. Петра Великого, инженер, трейдер, разработчик покерного AI, блокчейн энтузиаст',
        github: '',
        linkedin: 'https://www.linkedin.com/in/eugenebuev/',
        twitter: '',
        facebook: 'https://www.facebook.com/vtbeuro',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/pasha_rumkin.png',
        occupation: 'CTO',
        full_name: 'Pavel Rumkin',
        description: 'JS developer with 7 years experience in Node.js. Decentralized distributed network expert. Worked in Crypti (now Lisk) over protected sandboxes. Decentralized distributed network enthusiast and writer. One of the top authors on Habr.com the most popular Russian tech media.',
        github: 'https://github.com/rumkin',
        linkedin: '',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/yurii_gerasimov.png',
        avatar_hov: '/static/img/pictures/team/yurii_gerasimov_hov.png',
        occupation: 'CEO',
        full_name: 'Юрий Герасимов',
        description: 'Степень магистра в Санкт-Петербургском Политехническом Университете им. Петра Великого, Маркетинг в корпорации SxS, Серийный предприниматель, Криптоаналитик',
        github: '',
        linkedin: 'https://www.linkedin.com/in/jerry-gerasimov/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/kirill_romanov.png',
        avatar_hov: '/static/img/pictures/team/kirill_romanov_hov.png',
        occupation: 'CMO',
        full_name: 'Кирилл Романов',
        description: 'Бакалавр в сфере телекоммуникаций, основатель диджитал агентства. Награды в веб-разработке и рекламе. Занимается маркетингом с 2009 года',
        github: '',
        linkedin: 'https://www.linkedin.com/in/kirill-romanov-4u',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/michael_creadon.jpg',
        occupation: 'CBDO',
        full_name: 'Майкл Кридон',
        description: 'Степень магистра в Колумбийском университете. Генеральный директор NY 4Rev. Управление рисками процентных ставок в CME в течение 20 лет в качестве трейдера и генерального директора компании с оборотом 25 млн. долл. США',
        github: '',
        linkedin: 'https://www.linkedin.com/in/michael-creadon-31404a30/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/maxim_khukhro.png',
        avatar_hov: '/static/img/pictures/team/maxim_khukhro_hov.png',
        occupation: 'Lead Architect',
        full_name: 'Максим Хухро',
        description: 'Степень магистра в Новосибирском Государственном Университете, 8 лет в корпорации Intel в качестве ведущего разработчика, 18 лет опыта работы в IT, разработка AI, нейронных сетей, эксперт по компьютерному обучению',
        github: '',
        linkedin: 'https://www.linkedin.com/in/maximkhukhro/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/vyacheslav_mychkin.png',
        avatar_hov: '/static/img/pictures/team/vyacheslav_mychkin_hov.png',
        occupation: 'Frontend and Mobile App Developer',
        full_name: 'Вячеслав Мычкин',
        description: 'Образование по специальности «Информатика» в КНУ. Практика разработки в Германии. Javascript full stack и мобильный разработчик (Android, iOS). Разработал свою высоко загруженную систему для 80 тыс. клиентов',
        github: '',
        linkedin: 'https://www.linkedin.com/in/vyacheslavmychkin/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/shahboz_urinbaev.png',
        occupation: 'BDOF',
        full_name: 'Shahboz Urinbaev',
        description: '10 years of experience as Head of Marketing, Team leader, Business developer.<br>Successfully implemented more then 15 strategies and 2 crowdsales of cryptoprojects (Cryptics, Adab)',
        github: '',
        linkedin: 'https://www.linkedin.com/in/shahboz-urinbaev-844a6179/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/ilya_miroshichenko.png',
        occupation: 'Frontend developer',
        full_name: 'Ilya Miroshnichenko',
        description: 'Bachelor in NNGY Lobachevskyi university. Developer of a web-console for managing inner security systems for VPS companies, such as Russian Central Bank, FSB. Working experience with "Security Code" company as a frontend developer.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/ilya-miroshnichenko-a10523a5',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/igor_knyazev.png',
        avatar_hov: '/static/img/pictures/team/igor_knyazev_hov.png',
        occupation: 'Backend and Solidity Developer',
        full_name: 'Игорь Князев',
        description: 'Образование по специальности «Информатика» в КНУ Более 10 лет опыта работы в IT-индустрии. Победитель ряда конкурсов CTF по информационной безопасности. С 2015 года активно участвует в разработке проектов, связанных с Decentralized distributed network',
        github: '',
        linkedin: 'https://www.linkedin.com/in/igor-knyazev-237914148/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/alex_badmashkaev.jpg',
        occupation: 'Full stack developer',
        full_name: 'Alex Badmashkaev',
        description: 'Has a bachelor in Software Engineering from Adyghe State University. Software Engineer. Experienced back-end developer. 7 year’s experience at IT.',
        github: 'https://github.com/alexbadm',
        linkedin: 'https://www.linkedin.com/in/alexbadm',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/sonder_s_lim.jpg',
        occupation: 'Regional Brand Manager, Asia',
        full_name: 'Sonder S. Lim',
        description: 'Защитник цифровых активов<br>Основатель маркетингового агентства<br>Стратег по контенту',
        github: '',
        linkedin: 'https://www.linkedin.com/in/sonderslim/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/adam_joseph.jpg',
        occupation: 'Regional Brand Manager, India',
        full_name: 'Adam Joseph',
        description: 'Стратегический маркетинг<br>Менеджер по развитию бизнеса',
        github: '',
        linkedin: 'https://www.linkedin.com/in/adam-joseph-266356153/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/williams_kyei.jpg',
        occupation: 'Regional Brand Manager Korea',
        full_name: 'Williams Kyei',
        description: 'Startupper with experience in the Korean Startup and Decentralized distributed network Ecosystem, Digital Media and Marketing Specialist, Web Designer and Contents Creator. More than 8 years experience in Sport Management',
        github: '',
        linkedin: 'https://www.linkedin.com/in/nomadwilliams/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      }]
    },{
      title: 'Советники',
      items: [{
        avatar: '/static/img/pictures/team/paresh_masani.jpg',
        occupation: 'Technical advisor',
        full_name: 'Paresh Masani',
        description: 'Paresh is an ex-Executive Director of Goldman Sachs’ Global Investment Research. He is an expert in Decentralized distributed network Technology, security, cryptography, and complex end-to-end system development',
        github: '',
        linkedin: 'https://www.linkedin.com/in/masaniparesh/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/marie_noel.jpg',
        occupation: 'Financial Advisor',
        full_name: 'Marie-Noel Nsana',
        description: '15 лет в банковской и финансовой индустриях<br>Сертификация в областях по защите от отмывания денег<br>Bіtcoіn и Сrуptoсurrеncу профессионал (C4 сертификат)',
        github: '',
        linkedin: 'https://www.linkedin.com/in/marie-noel-nsana-120a433/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/denus_druzhkov.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Denis Druzhkov',
        description: '12 years at the Russian financial analysis firm, Umnick.  From 1990 to 2002, was the executive director of the international fund, VPS. At the beginning of 2011, became the director of participatements for Casys Capital Management.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/denis-druzhkov-88a13082/',
        twitter: '',
        facebook: 'https://www.facebook.com/denis.leavy',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/sls.png',
        occupation: 'Technical Advisor',
        full_name: 'Kushed',
        description: 'Основатель Salus (SLS)',
        github: '',
        linkedin: '',
        twitter: 'https://twitter.com/Kushed_Crypto',
        facebook: '',
        bitcointalk: 'https://bitcointalk.org/index.php?topic=1317448.0'
      },{
        avatar: '/static/img/pictures/team/petr_myachin.jpeg',
        occupation: 'Financial Advisor',
        full_name: 'Petr Myachin ',
        description: 'Expert in marketing, finance and business strategy. </br> Working experience in VTB bank, IThanks Inc, B&B Investment D.O.O',
        github: '',
        linkedin: 'https://www.linkedin.com/in/mypetr/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/alexander_noxon.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Alexander Noxon',
        description: 'Экспертный крипторазработчик с 2015.<br>Опыт в IT больше 10 лет',
        github: 'https://github.com/noxonsu',
        linkedin: '',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/anton_mogilevskiy.jpg',
        occupation: 'Legal Advisor',
        full_name: 'Anton Mogilevskiy',
        description: 'PhD degree in law, from Mikhail Speransky Faculty of Law of the Academy of National Economy More than 14 years of experience in major international law firms Norton Rose and Allen & Overy.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/anton-mogilevskiy-1167471/',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/hans_choi.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Hans Choi',
        description: 'OpenChain CEO и разработчик<br>Decentralized distributed network разработчик и архитектор<br>Финансовый эксперт',
        github: '',
        linkedin: 'https://www.linkedin.com/in/hans-namkyu-choi-407618102',
        twitter: '',
        facebook: '',
        bitcointalk: ''
      },{
        avatar: '/static/img/pictures/team/yan_stolyar.jpg',
        occupation: 'Legal Advisor',
        full_name: 'Yan Stolyar',
        description: 'CEO Telecom<br>Эксперт в IT, проектном управлении,<br>степень MBA в менеджменте',
        github: '',
        linkedin: 'https://www.linkedin.com/in/yanstolyar/',
        twitter: '',
        facebook: 'https://www.facebook.com/yan.stolyar',
        bitcointalk: ''
      }]
    }],

    join_us: {
      title: 'Присоединяйтесь к нам',
      description: 'Узнать больше о доверительном управлении цифровыми активами, как работать с Membrana и познакомиться с командой',
      email: 'Введите ваш e-mail…',
      email_error: '*Введите корректный e-mail',
      subscribe: 'Подписаться',
      title_check: 'Please, check you are subscribe',
      subscription_check: 'Don\'t miss any detail of Global Traders Competition',
      join: 'Join'
    },

    choose_language: 'Choose language:',
    english: 'English',
    russian: 'Russian',
    get_in_touch: 'Get in touch',

    whitepaper_page: {
      title: 'Whitepaper'
    },

    business_overview_page: {
      title: 'Business overview'
    },

    contacts_page: {
      title: 'Have some questions?',

      text_fragment1: 'If you have any questions regarding the Membrana project do not hesitate to contact us!',
      text_fragment2: 'You can use this email: ',
      text_fragment3: 'We will be glad to answer any questions about our project.',
    },

    roadmap_page: {
      title: 'Roadmap',

      items: [{
        date: 'Q1 2017',
        icon: '/static/img/pictures/roadmap/1.svg',
        title: 'Concept generation',
        content: [{
          text: 'Defining the idea of trust management for сrуptoсurrеncу assets.',
        },{
          text: 'Finding solutions to main problems in trust management market, such as:',
        },{
          list: [
            'losing control of investment capital',
            'middleman and counterparty risks',
            'lack of trust',
            'risk of fraud management results'
          ]
        },{
          test: 'Finding the best way to implement the solutions. Generation of Membrana platform concept.'
        }]
      },{
        date: 'Q2 2017',
        icon: '/static/img/pictures/roadmap/2.svg',
        title: 'Performance audit',
        content: [{
          text: 'Taking the concept to full performance audit.'
        },{
          text: `Discovering its survivability in all kind of scenarios. Additional security audits performed to ensure the safety of investor’s capital.
                <br>Researching and analyzing all potential risks, adjusting or changing the operational process to eliminate them.`.replace(/\n/g, '')
        }]
      },{
        date: 'Q3 2017',
        icon: '/static/img/pictures/roadmap/3.svg',
        title: 'Interface creation',
        content: [{
          text: 'Creating a platform architecture and shaping a fully-functional user interface.'
        },{
          text: `Forming a professional full-time work team, with specialists in design, UI/UX, front/back-end, solidity language, marketing and security.
                <br>Fabricating the current version of design.`.replace(/\n/g, '')
        }]
      },{
        date: 'Q1 2018',
        icon: '/static/img/pictures/roadmap/4.svg',
        title: 'Alpha version',
        content: [{
          text: 'Private testing of Membrana alpha version with incomplete functions:'
        },{
          list: [
            'Allowing access for trading through API key',
            'Authorizing with Metamask',
            'Inner trading terminal',
            'Adding Bittrex API keys',
            'Sending and receiving requests',
            'Sending Ethereum to a smart contract’s address',
            'Showing terms of a smart contract on Etherscan',
          ]
        }]
      },{
        date: 'Q2 2018',
        icon: '/static/img/pictures/roadmap/5.svg',
        title: 'Beta version',
        content: [{
          text: 'Open testing of Membrana beta version with updated functions:'
        },{
          list: [
            'Fixing bugs',
            'Placing orders on exchange via inner trading platform',
            'Writing results of trades in decentralized distributed network',
            'Performing smart oracle work adjustment',
            'Executing smart contracts with different scenarios',
            'Examining all systems and working algorithms',
            'Updating rating system with the result of a smart contract',
          ]
        }]
      },{
        date: 'Q4 2018',
        icon: '/static/img/pictures/roadmap/7.svg',
        title: 'United API',
        content: [{
          text: 'Creating our own united API protocol.'
        },{
          list: [
            'A possibility to connect to Membrana platform with own software using API protocol',
            'One united Membrana API that provides an access to all exchanges',
            'Remote control for all Membrana platform functions',
          ]
        }]
      },{
        date: 'Q1 2019',
        icon: '/static/img/pictures/roadmap/8.svg',
        title: 'Advanced features & ROI prediction system',
        content: [{
          text: 'Adding advanced trading features to Membrana platform.'
        },{
          list: [
            'Contracts with security - additional contract type in which trader reserves HIS funds to compensate part of investor\'s loss, if contract is failed',
            'Algorithmic trading orders - adding advanced order type such as iceberg orders, peg orders, trailing orders and others',
            'News feed workshop - enable an option to upload all news related to selected сurrеnсу. Users can see correlation between price and news on price chart in terminal',
            'ROI prediction system',
          ]
        }]
      },{
        date: 'Q2 2019',
        icon: '/static/img/pictures/roadmap/9.svg',
        title: 'Trust management with ethereum wallet',
        content: [{
          text: 'Creating new smart-contract for trust management.'
        },{
          list: [
            'Investor have an option to create a trust management contract without having an exchange account',
            'Deal is concluded by investor from his Ethereum wallet. Investor sends his money to smart-contract to start a deal. He has an option to close a deal, and recieve his money back',
            'Trading funds on exchange are provided by Membrana platform with usage of API protocol',
          ]
        }]
      },{
        date: 'Q3 2019',
        icon: '/static/img/pictures/roadmap/10.svg',
        title: 'Dex implementation',
        content: [{
          text: 'Adding decentralized exchanges to Membrana platform.'
        },{          
          list: [
            'Trading on DEX through inner trading terminal',
            'Ability to give assets from DEX for trust management',
            'Trust manamegent is executed with special smart-contract that allows traders to place orders on exchange using investor\'s funds. Remote work on DEX with Membrana API protocol',
          ]
        }]
      },{
        date: 'Q4 2019',
        icon: '/static/img/pictures/roadmap/11.svg',
        title: 'Otc/dark pool',
        content: [{
          text: 'Creating decentralized interbourse trading pools.'
        },{
          list: [
            'Creating off the chain (OTC) trading pool - deals are happening with p2p transactions, not involving exchange trading platform.',
            'Creating anonymous dark pool',
            'Hidden order book in dark pool',
            'Secured deal execution with escrow smart-contracts',
            'Ability to trade big volumes without impacting the price',
          ]
        }]
      }]
    },

    faq_page: {
      title: 'FAQ',
      description: 'Can\'t find an answer? Email us at <a href="mailto:support@membrana.io">support@membrana.io</a>',
      items: [{
        question: 'Where i can read more information about the service?',
        answer: `The links are on the website <a href="https://membrana.io/" target="_blank">https://membrana.io/</a>
            <br>
            <a href="https://medium.com/@membrana" target="_blank">https://medium.com/@membrana</a>
            <br>
            <a href="https://bitcointalk.org/index.php?topic=3119562.new#new" target="_blank">https://bitcointalk.org/index.php?topic=3119562.new#new</a>
            <br>
            <a href="https://twitter.com/membrana_io" target="_blank">https://twitter.com/membrana_io</a>
            <br>
            <a href="https://www.reddit.com/user/Membrana_Platform/" target="_blank">https://www.reddit.com/user/Membrana_Platform/</a>
            <br>
            <a href="https://steemit.com/@membranaio" target="_blank">https://steemit.com/@membranaio</a>
            <br>
            <a href="https://golos.io/@membrana-io/" target="_blank">https://golos.io/@membrana-io/</a>
            <br>
            <a href="https://www.linkedin.com/company/membrana-io/" target="_blank">https://www.linkedin.com/company/membrana-io/</a>
            <br>
            <a href="https://www.facebook.com/membrana.io/" target="_blank">https://www.facebook.com/membrana.io/</a>
            <br>
            <a href="https://github.com/membrana-io" target="_blank">https://github.com/membrana-io</a>
            <br>
            <a href="https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA" target="_blank">https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA</a>`.replace(/\n/g, '')
      },{
        question: 'How can I register in the service as a trader?',
        answer: `The Membrana platform does not have its own registration system, to use the service it is necessary to log in, 
            using the Ethereum wallet signature, for example via Metamax on a PC or Cipher, Toshi on a mobile phone.`.replace(/\n/g, '')
      },{
        question: 'What are the guarantees of investment return?',
        answer: `Investors funds are always on his exchange account and trader recieve just temporary access for trading. More details 
            of Membrana algorith are described in Whitepaper <a href="https://membrana.io/whitepaper/" target="_blank">https://membrana.io/whitepaper/</a>`.replace(/\n/g, '')
      },{
        question: 'Is the service protected, where can I see the report?',
        answer: `An exceptional attention is given to the safety. We never store the funds of an investor or a trader in our wallets. 
            At the moment, the Membrane's smart contract has successfully passed a security audit by Hacken
            <br>
            <a href="https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d" target="_blank">
              https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d
            </a>`.replace(/\n/g, '')
      },{
        question: 'What is the minimum amount of entry for investor?',
        answer: `There is no the minimum amount of entry for any user. Minimum contract amount is set by trader in his trust management parameters.`.replace(/\n/g, '')
      },{
        question: 'What are the advantages of the platform?',
        answer: `You can read about Membrana's advantages in Business Overview
            <br>
            <a href="http://dl4.joxi.net/drive/2018/04/12/0006/3395/437571/71/2068e3f30b.jpg" target="_blank">
              http://dl4.joxi.net/drive/2018/04/12/0006/3395/437571/71/2068e3f30b.jpg
            </a>`.replace(/\n/g, '')
      },{
        question: 'How does the platform earn money?',
        answer: `Membrana platform is absolutely free to join and use. Only fee required is commission for concluding the smart contract for trust management. 
            The size of that commission fee is 0,5% of the contract amount. This fee is paid by investor when signing a deal.`.replace(/\n/g, '')
      },{
        question: 'What are the dates of the ІСО?',
        answer: `ІСО will not be held, tоkеns will be sold through "Digital IPO". For active community and early adopters there will be an airdrop. 
            The dates will be announced soon.`.replace(/\n/g, '')
      },{
        question: 'Can I buy Membrana\'s tоkеns?',
        answer: `All information about Membrana tоkеns and "Digital IPO: will be announced later in official "Offering Memorandum".`.replace(/\n/g, '')
      },{
        question: 'Can I transfer my Ethereum wallet assets into trust management?',
        answer: `Yes, you can, this is the basic function of the platform. You can see the video of how it is done 
            (for the time being we have 1 video, the links to it are in chat and on the landing page in the first window)
            <br>
            <a href="https://www.youtube.com/watch?v=4wnAsOjSupY" target="_blank">https://www.youtube.com/watch?v=4wnAsOjSupY</a>`.replace(/\n/g, '')
      },{
        question: 'What is the service statistics (% of the successful / unsuccessful contracts)?',
        answer: `Statistics of every user can be seen in Rating. Their ROI - return of investment and numbers of their contracts.`.replace(/\n/g, '')
      },{
        question: 'Are there any partnership relations with the stock exchanges? Is there a commission at the stock exchanges?',
        answer: `At currest stage Membrana platform works only with сrуptoсurrеncу exchanges. There is no commition for trading, 
            only for concluding contract for trust management.`.replace(/\n/g, '')
      },{
        question: `Do I still have my account if I replace the Ethereum wallet (as an investor), to which the 
            money should come after the termination of the contract with the trader?`.replace(/\n/g, ''),
        answer: `You cannot replace the Ethereum wallet, which is involved in a smart contract. Please, protect your wallet with your own security.`.replace(/\n/g, '')
      },{
        question: 'What should I do if I want to make changes to the terms of the contract during the work?',
        answer: `The terms of the contract cannot be changed.`.replace(/\n/g, '')
      },{
        question: 'How does the manager contract occur?',
        answer: `The investor has the opportunity to delegate the task of choosing a successful trader to another, 
            more experienced investor. For that, a special form of contract is concluded between the investor and, so-called, 
            experienced investor - manager contract. 
            <br>
            An experienced investor is able to enter into transactions with traders from the person of his customer, 
            transferring the customer's funds to the management of traders. 
            <br>
            An experienced investor receives a commission for that. You can read more about that in Whtepaper 
            <a href="https://membrana.io/whitepaper/" target="_blank">https://membrana.io/whitepaper/</a>`.replace(/\n/g, '')
      },{
        question: 'What are the average terms of the contract?',
        answer: `There are no such terms; you can put timing from a few hours to a year.`.replace(/\n/g, '')
      },{
        question: 'Where should I go if a technical failure / problem occurs?',
        answer: `You can write on <a href="mailto:support@membrana.io">support@membrana.io</a> or in our official Telegram group.`.replace(/\n/g, '')
      }]
    },

    events: {
      title: 'события',
      items: [{
        image: '/static/img/pictures/events/3.png',
        link: 'https://twitter.com/membrana_io/status/1012269143750578176',
        title: 'Bloсkсhain Open Forum',
        place: 'Seoul (Korea)'
      },{
        image: '/static/img/pictures/events/2.png',
        link: 'https://twitter.com/membrana_io/status/1006139214923214848',
        title: 'Crypto Weekend Asia',
        place: 'Hong Kong'
      },{
        image: '/static/img/pictures/events/1.png',
        link: 'https://twitter.com/membrana_io/status/978966045313691648',
        title: 'Bloсkсhain Venture Summit',
        place: 'Istanbul'
      },{
        image: '/static/img/pictures/events/4.png',
        link: 'https://twitter.com/membrana_io/status/994203727421636608',
        title: 'Fintech O2O <br>Global Summit 2018',
        place: 'Hong Kong'
      },{
        image: '/static/img/pictures/events/5.png',
        link: 'https://twitter.com/membrana_io/status/988792018217390080',
        title: 'Opportunities in Bloсkсhain',
        place: 'New York'
      },{
        image: '/static/img/pictures/events/6.png',
        link: 'https://twitter.com/membrana_io/status/976484950391296000',
        title: 'Tоkеn2049',
        place: 'Hong Kong'
      },{
        image: '/static/img/pictures/events/7.png',
        link: 'https://twitter.com/membrana_io/status/992101190543577088',
        title: 'Іnvеst WeekEnd',
        place: 'Hong Kong'
      }]
    },

    press: {
      title: 'Пресса',
      items: [{
        image: '/static/img/pictures/press/1.png',
        link: 'https://coinspectator.com/news/379298/zeus-exchange-connects-with-trust-management-app-membrana'
      },{
        image: '/static/img/pictures/press/2.png',
        link: 'https://www.cryptoninjas.net/2018/04/19/zeus-exchange-connects-with-trust-management-app-membrana/'
      },{
        image: '/static/img/pictures/press/3.png',
        link: 'https://bitcoingarden.org/blockchain-venture-summit-in-istanbul-dialogue-for-the-development-of-the-crypto-industry-in-the-heart-of-eurasia/'
      },{
        image: '/static/img/pictures/press/4.png',
        link: 'https://coinidol.com/blockchain-venture-summit-in-istanbul/'
      },{
        image: '/static/img/pictures/press/5.png',
        link: 'https://techmoran.com/blockchain-venture-summit-in-istanbul-pushes-for-the-development-of-the-crypto-industry-in-the-heart-of-eurasia/'
      },{
        image: '/static/img/pictures/press/6.png',
        link: 'https://chaining.ru/2018/03/31/blockchain-venture-summit-in-istanbul-dialogue-for-the-development-of-the-crypto-industry-in-the-heart-of-eurasia/'
      }]
    },

    competition: {
      title: 'Join <b>Global Traders Competition</b> on Membrana platform!',
      text: 'Earn tournament points to compete for $100,000 prize pool and platform tоkеns!',
      link_text: 'Learn More & Join',
      join_text: 'Fill the form and click "Join" to pass the KYC',
      email_label: 'Your Email:',
      wallet_label: 'Your Ethereum Wallet:',
      wallet_placeholder: 'Type Your Etherium Wallet Number Here...',
      email_error: '*Type correct mail',
      wallet_error: '*Type correct wallet',
      policy: `<a href="javascript:void(0)" data-open-modal="rules">Read more about rules of competition.</a>
          <a href="/static/pdf/Membrana.io_T&C_v2.1.docx.pdf" target="_blank">By clicking join I agree with Terms of Use</a>`.replace(/\n/g, ''),
      info_text: `Last preparations for 
          <br><br>
          <b>Global Traders Competition!</b>
          <br><br>
          Every week from the start of the competition, traders will receive money for trading on 
          <span>Membrana platform</span> 
          to compete with each other. This is real trading with real money! 
          <br><br>
          All trading will be done on <span>Binance exchange</span> through Membrana unique interface.`.replace(/\n/g, ''),
      prizes: {
        intro: `Earn tournament points to compete for $100,000 prize pool!
          <br><br><br>
          At the end of each competitive week, 5 best traders will receive:`.replace(/\n/g, ''),
        list: [
          'All of their winnings on Ethereum wallet',
          'Tournament points, depending on their rank position',
          'Official Membana hoodie',
          'Entry ticket for Membrana Platform Event, which will take place in autumn 2018'
        ]
      },
      important_text: `After every round of competition we will calculate all the Tournament points achieved by each trader. 
          After 12 rounds, we are giving participants Cash Prizes and Membrana Tоkеns, depending on their results. 
          Everyone will receive prizes for participation, thats why we encourage you to join and to compete!`.replace(/\n/g, ''),
      important_text_smaller: `For the record, Membrana tоkеns wont be sold through any crowdsale, so their availability 
          is strongly limited.`.replace(/\n/g, ''),
      invite_text: `We invite all traders to participate in this competition! Pass the KYC and follow the updates!`.replace(/\n/g, ''),

      success_title: 'Thank you for submitting your document. You will receive e-mail message with the identification result.'
    },
    
  }
