extends ../layouts/base

block page_variables
	- var page_class = 'index';
	- var page_active = '';

block append head
	block head_variables
		- var title = app.head.index.title;
		- var description = app.head.index.description;

block content
	.dot-pattern-wrapper
		include ../components/top
		include ../components/competition
		include ../components/vision
		include ../components/components
		.cylinder-gradient-pattern-wrapper
			include ../components/layers
			include ../components/how-it-works
			include ../components/technology
			include ../components/partners
			include ../components/press
			include ../components/team
			include ../components/join-us

	a.scroll-btn.scroll-btn--fixed(href="javascript:void(0)"): img.scroll-btn__icon(src="/static/img/icons/scroll-arrow.svg" alt="")


	.youtube-modal(data-modal="video" style="display:none")
		a.youtube-modal__close(href='javascript:void(0)', data-close-modal='')
		.youtube-modal__iframe.js-youtube-iframe(data-src=app.youtube_video, data-allow="autoplay; encrypted-media", data-allowfullscreen) 