extends ../layouts/base

block page_variables
  - var page_class = 'registration';
  - var page_active = '/registration/';

block append head
  block head_variables
    - var title = app.head.competition.title;
    - var description = app.head.competition.description;

block content
  .page-content-pattern

    .registr_page
      .patterns
        div.pattern.bg
          //- img.js-prevent-inline(src="/static/img/patterns/competition/bg-page.svg" alt="")
          //- img.js-prevent-inline.triangle_12(src="/static/img/new-page/mid_bg.svg" alt="")
          //- img.js-prevent-inline.triangle_21(src="/static/img/new-page/mid_bg2.svg" alt="")
          //- img.js-prevent-inline.triangle_12(src="/static/img/new-page/mid_bg.svg" alt="") 


        h1.registr_page__title
          span.registr_page__title_color
            b Global Traders Competition

        h3.registr_page__desc
          | Registration. Step 1/
          span.registr_page__desc_color 2

        h5.registr_page__steps_title Follow the next steps to continue

        img(src="/static/img/icons/arrow_down.svg").registr_page__arrow_down.ar_1

        .registr_page__social_check
          h5.social_check__title
            span.social_check__title_number 1.
            span.social_check__title_text  Please make sure, what you are following us on social media:
          ul.registr_page__socials
            li.social_check__item.hidden
              .cont
                .item__check
                a(href="https://twitter.com/membrana_io" target="blank").item__block
                  //- span.item__block_ar
                  img(src="/static/img/icons/green_arr.svg").item__block_icon
                  span Subscribe
                  img(src="/static/img/icons/twitter.svg").item__block_icon
                  span.item__block_color Twitter
              form.check_sub_form
                label(for="nick1").form__text Please, write your 
                  span.bold Nickname:
                input(name="nick1" placeholder="Type Here ( Example: @membranaplatform )" autocomplete="off").text_input
            li.social_check__item.hidden
              .cont
                .item__check
                a(href="http://t.me/membranaplatform" target="blank").item__block
                  //- span.item__block_ar
                  img(src="/static/img/icons/green_arr.svg").item__block_icon
                  span Join
                  img(src="/static/img/icons/tele.svg").item__block_icon
                  span.item__block_color Telegram
              form.check_sub_form
                label(for="nick2").form__text Please, write your 
                  span.bold Nickname:
                input(name="nick2" placeholder="Type Here ( Example: @membrana_io )" autocomplete="off").text_input
          p.social_check__desc By clicking on the checkbox, you agree that you are following us

        img(src="/static/img/icons/arrow_down.svg").registr_page__arrow_down.ar_2

        .registr_page__video_block
          h5.video_block__title
            span.video_block__title_number 2.
            span.video_block__title_text  In the next step you will have to go through the identification of your personality
              br 
              | So that you do not have any problems, we recommend you to watch this video
          .registr_page__video_wr
            .video_wrapper.video_wrapper_full.js-videoWrapper#video_wrapper
              iframe.videoIframe.js-videoIframe(width="100%" height="100%" data-src="https://www.youtube.com/embed/_XLvCRkjZJY?controls=0&iv_load_policy=3&showinfo=0&rel=0&modestbranding=0&autoplay=1&playsinline=1" src="" frameborder="0" allow="autoplay; encrypted-media" controls="0" allowfullscreen playsinline webkit-playsinline)
              button.videoPoster.js-videoPoster
              a.close_video(href="#")
                span
                span

        img(src="/static/img/icons/arrow_down.svg").registr_page__arrow_down.ar_3

        .registr_page__btn_cont
          a(href="").registr_page__btn
            img(src="/static/img/pictures/register/arrow_right.svg").registr_page__btn_ar
            | Continue. Step 2

        span.registr_page__warning 
          span.registr_page__warning_colored * 
          | - fields are required







  .rules-modal(data-modal="rules" style="display:none" data-close-modal="")
    .rules-modal__inner
      .rules-modal__body(data-prevent-modal-close="")
        a.rules-modal__close(href="javascript:void(0)", data-close-modal="")
        .rules-modal__content
          .rules-modal__section
            h2.rules-modal__title 
              b Rules 
              | of 
              b Global Trader Competition 
            br
            | On weekly basis all participants will receive funds for trading. This money will be given by 
            b Membrana platform 
            | with the use of its unique algorithm of trust management. 
            br
            br
          .rules-modal__section
            h3.rules-modal__sub-title
              b Details of the Competition:
            br
            | Global Traders Competition will start 
            b 15 June 2018.
            br 
            | All traders will receive 0.012 btc each ($100). Deposit are available for trading 
            b only on Membrana platform 
            | and work through our smart-contract. Trading will be provided on Binance exchange...
            br
            | After each week - we will conclude results and give rewards for traders.
            br
            br
            | All traders will receive their earnings on 
            b Ethereum wallet 
            | and 
            b official Membrana hoodie.
            br
            | Top5 participants will receive 
            b Tournament point 
            | depending on their result position.
            br
            | Those Tournament point can be achieved every week and seen in the result list on Membrana official website.
            br
            br
            | After 12 rounds of weekly competition we will conclude the results of 1st 
            b Global Trading Competition 
            | and reward each participant.
            br
            | All Tournament points will be converted into 
            b Membrana Tokens.
            br
            | Best 20 traders in the global ranking will receive a part of $100,000 prize pool!
            br
            br
          .rules-modal__section
            h3.rules-modal__sub-title How to participate?
            br
            | To participate, you need to pass the KYC procedure, available on our official website - 
            a(href="/competition") Membrana.io/competition
            br
            br
            | Then you need to login on our platform using your Ethereum wallet. You don’t need an account on exchange or anything else!
            br
            br
            | After verifying your account we will place you in the tournament schedule. For first weekly rounds we limit the amount of participants to 100, but in case there will be no space, you can be sure, that you will have a chance to compete in future rounds. Also, need to be mentioned, that you can participate in multiple rounds of Global Trader Competition to earn as many Tournament Points as you can!
            br
            br
            | Good luck to everyone, and let the competition begin!
            br
            br
          
          a(href="javascript:void(0)" target="_blank" data-close-modal="").competition__link.icon-link
            img.icon-link__icon.js-prevent-inline(src="/static/img/icons/circled-down-arrow.svg" alt="")
            span.icon-link__text Got It & Back

  script(src="https://www.youtube.com/iframe_api")
  //- script var player = new YT.Player("video_wrapper", {videoId: "_XLvCRkjZJY",playerVars: { "autoplay": 1, "controls": 0, "iv_load_policy": 3, "showinfo": 0, "modestbranding": 0, "rel": 0},events: {"onReady": onPlayerReady} });    function onPlayerReady (event) {      player.playVideo()    }