-
  var app = { 
    lang: 'en',

    titles: {
      base: 'Membrana - trust management of digital assets',
      index: ''
    },

    nav: [{
      title: 'Alpha version',
      link: 'javascript:void(0)',
      isAlpha: true
    },{
      title: 'Whitepaper',
      link: 'javascript:void(0)'
    },{
      title: 'Business overview',
      link: 'javascript:void(0)'
    },{
      title: 'Team',
      link: 'javascript:void(0)'
    },{
      title: 'Roadmap',
      link: 'javascript:void(0)'
    },{
      title: 'Contacts',
      link: 'javascript:void(0)'
    }],

    socials: [{
      icon: '/static/img/icons/socials/telegram.svg',
      link: 'javascript:void(0)',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/medium.svg',
      link: 'javascript:void(0)',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/bitcointalk.svg',
      link: 'javascript:void(0)',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/twitter.svg',
      link: 'javascript:void(0)'
    },{
      icon: '/static/img/icons/socials/reddit.svg',
      link: 'javascript:void(0)'
    },{
      icon: '/static/img/icons/socials/flames.svg',
      link: 'javascript:void(0)'
    },{
      icon: '/static/img/icons/socials/golos.svg',
      link: 'javascript:void(0)'
    },{
      icon: '/static/img/icons/socials/linkedIn.svg',
      link: 'javascript:void(0)'
    },{
      icon: '/static/img/icons/socials/facebook.svg',
      link: 'javascript:void(0)'
    },{
      icon: '/static/img/icons/socials/github.svg',
      link: 'javascript:void(0)'
    }],

    top: {
      title: 'Trust management <nobr>of digital</nobr> assets',
      play_text: 'Quick Guide',
      description: `Join the first trust management platform fully built <nobr>on blockchain</nobr> technology and trade 
          <b class="h-text-lighter">without fee</b> as early adopter`
    },

    youtube_video: 'https://www.youtube.com/embed/4wnAsOjSupY?enablejsapi=1',

    vision: {
      title: 'Presenting the vision of Membrana project',
      items: [{
        icon: '/static/img/pictures/vision/1.svg',
        title: 'Membrana is the safety',
        description: `Membrana is the safety for digital assets. It is the trust without risks for all contractors, and the security 
            guarantee for investors and traders achieved by a unique platform algorithm and blockchain technology.`
      },{
        icon: '/static/img/pictures/vision/2.svg',
        title: 'Membrana is the freedom',
        description: `Membrana is the freedom, the freedom to choose partners among plat-form users, from all over the world without 
            the limitations of centralized systems.`
      },{
        icon: '/static/img/pictures/vision/3.svg',
        title: 'Membrana is the new cash opportunity',
        description: `Membrana is the new cash opportunity, the ability to invest and raise money for management. It is the financial 
            freedom for those who had previously been neglected - regardless of their social status and seed capital.`
      },{
        icon: '/static/img/pictures/vision/4.svg',
        title: 'Membrana is the spirit <nobr>of courage</nobr>',
        description: `Membrana is the spirit of courage. We have combined the experience of all our team members gifted from life 
            in five different countries. Each of us is well-established in our business, and is ready to dive in full force to 
            launch a start-up, created for the sake of this noble idea. We are not another broker – because we have completely changed 
            the system. How long have you been searching for an aspiring project like this that change the world for the better?`
      }]
    },

    components: {
      title: 'Membrana platform components',
      items: [{
        title: 'For investors',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'A platform for investors' 
        },{ 
          text: 'Investor can choose a best trader and to sign <nobr>a contract</nobr> in 3 steps:'
        },{
          list: [{
            icon: '/static/img/icons/config.svg',
            text: 'Add API key of any exchange'
          },{
            icon: '/static/img/icons/request.svg',
            text: 'Send a request to the selected trader with defined settings and chosen pairs for trading'
          },{
            icon: '/static/img/icons/token.svg',
            text: 'Send MBN tokens to the address of the smart contract (trader’s fee)'
          },{
            icon: '/static/img/icons/lock.svg',
            text: 'Sign a smart-contract to allow trader’s acess for trading'
          }] 
        },{
          light_text: 'Credit profit directly into your exchange account.'
        }]
      },{
        title: 'For traders',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'A platform for investors' 
        },{ 
          text: 'Investor can choose a best trader and to sign <nobr>a contract</nobr> in 3 steps:'
        },{
          list: [{
            icon: '/static/img/icons/config.svg',
            text: 'Add API key of any exchange'
          },{
            icon: '/static/img/icons/request.svg',
            text: 'Send a request to the selected trader with defined settings and chosen pairs for trading'
          },{
            icon: '/static/img/icons/token.svg',
            text: 'Send MBN tokens to the address of the smart contract (trader’s fee)'
          },{
            icon: '/static/img/icons/lock.svg',
            text: 'Sign a smart-contract to allow trader’s acess for trading'
          }] 
        },{
          light_text: 'Credit profit directly into your exchange account.'
        }]
      },{
        title: 'For funds',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'A platform for investors' 
        },{ 
          text: 'Investor can choose a best trader and to sign <nobr>a contract</nobr> in 3 steps:'
        },{
          list: [{
            icon: '/static/img/icons/config.svg',
            text: 'Add API key of any exchange'
          },{
            icon: '/static/img/icons/request.svg',
            text: 'Send a request to the selected trader with defined settings and chosen pairs for trading'
          },{
            icon: '/static/img/icons/token.svg',
            text: 'Send MBN tokens to the address of the smart contract (trader’s fee)'
          },{
            icon: '/static/img/icons/lock.svg',
            text: 'Sign a smart-contract to allow trader’s acess for trading'
          }] 
        },{
          light_text: 'Credit profit directly into your exchange account.'
        }]
      }]
    },

    layers: {
      title: 'Platform layers',
      items: [{
        title: 'API KEY of any exchange',
        description: 'Any exchange with API trade support will be available for operation Membrana platform.'
      },{
        title: 'Smart oracles',
        description: 'Oracles provide off-blockchain data for smart contracts. On Membrana, all trade data go through Oracles.'
      },{
        title: 'Ethereum Smart Contracts ',
        description: 'All deals between a trader and an investor transact via smart contracts. We will never keep your money in our wallets.'
      }]
    },

    how_it_works: {
      title: 'How it works',
      content: [{
        border_text: `Membrana enables a straight connection between an investor <nobr>and a trader</nobr>, making their relations profitable and secured 
            for both sides. An investor’s funds never leave their exchange wallet, all trust management is accessed and executed 
            with the provision of api key.
            <nobr>Every relation</nobr> goes through smart contracts, eliminating middleman <nobr>and counterparty</nobr> risks, and making an agreement mandatory.`,
      },{
        title: 'Inside a smart contract we record all details of a deal:'
      },{
        list: [
          'The initial amount of digital assets in an investor’s account (equal to BTC, ETH or USD)',
          'Target profit for completion of the contract (based on average profitability of a trader.Upon completion, the contract will automatically terminate)',
          'Duration of the contract (the contract will then automatically calculate the profit and send it to the trader)',
          'Maximum loss (If a loss reaches the maximum value, the access will automatically close. The contract will then dissolves, refunding trader’s fee to the investor)',
          'Authorized pairs for trading',
          'Trader’s fee and his wallet'
        ]
      }]
    },

    read_more: 'Read more',

    technology: {
      title: 'Technology',
      items: [{
        icon: '/static/img/pictures/technology/ethereum.svg',
        title: 'Ethereum',
        description: `Membrana is built on Ethereum, a next-generation blockchain protocol that enables advanced smart contracts — agreements, 
            that operate automatically, without the need of human control. Ethereum is decen-tralized and safe; it provides transparency to all 
            operations on the platform.`,
        link: 'javascript:void(0)'
      },{
        icon: '/static/img/pictures/technology/metamask.svg',
        title: 'Metamask',
        description: `To make our platform even more secured, all processes are done with MetaMask. It is a Chrome plugin which allows you 
            to run Ethereum DApps right in your browser, without running a full Ethereum node. MetaMask includes a secure identity vault, 
            providing a user interface to manage and sign blockchain transactions.`,
        link: 'javascript:void(0)'
      }]
    },

    partners: {
      title: 'Partners',
      items: [{
        icon: '/static/img/pictures/partners/cipher.svg',
        title: 'Cipher Browser',
        description: `You can use our platform on mobile devices using Cipher Browser. Cipher Browser is the world's first full-featured 
            mobile dapp browser and wallet for the Ethereum blockchain. Cipher allows you to interact with dapps powered by Ethereum 
            on your mobile device and makes it easy for you to securely store, send and receive Ether and ERC20 tokens.`,
        link: 'javascript:void(0)'
      },{
        icon: '/static/img/pictures/partners/hacken.svg',
        title: 'Hacken',
        description: `Our security partner - Hacken, has performed Smart Contract Audit and Penetration Testing of Membrana platform. 
            Hacken is a group of cybersecurity experts and white hat hackers from all around the world, that works to bring next 
            level of safety to blockchain projects.`,
        link: 'javascript:void(0)'
      }]
    },

    team: [{
      title: 'Our team',
      items: [{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      }]
    },{
      title: 'Advisors',
      items: [{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      },{
        avatar: '/static/img/pictures/team/eugene_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur <br>Trader of cryptocurrency assets <br>since 2015',
        github: 'http://github.com',
        linkedin: 'http://linkedin.com'
      }]
    }],

    join_us: {
      title: 'Join us',
      description: 'To learn more about trust management of digital assets, how to use Membrana, and to meet the team!',
      email: 'Type your e-mail here…',
      email_error: '*Type correct mail to subscribe',
      subscribe: 'Subscribe'
    }
    
  }