-
  var app = { 
    lang: 'en',

    titles: {
      base: 'Membrana - trust management of digital assets',
      index: ''
    },

    nav: [{
      title: 'Alpha version',
      link: 'javascript:void(0)',
      isAlpha: true
    },{
      title: 'Whitepaper',
      link: 'javascript:void(0)'
    },{
      title: 'Business overview',
      link: 'javascript:void(0)'
    },{
      title: 'Team',
      link: 'javascript:void(0)'
    },{
      title: 'Roadmap',
      link: 'javascript:void(0)'
    },{
      title: 'Contacts',
      link: 'javascript:void(0)'
    }],

    socials: [{
      icon: '/static/img/icons/socials/telegram.svg',
      link: 'https://t.me/membrana_io',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/medium.svg',
      link: 'https://medium.com/@membrana',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/bitcointalk.svg',
      link: 'https://bitcointalk.org/index.php?topic=3119562.new#new',
      showInTop: true
    },{
      icon: '/static/img/icons/socials/twitter.svg',
      link: 'https://twitter.com/membrana_io'
    },{
      icon: '/static/img/icons/socials/reddit.svg',
      link: 'https://www.reddit.com/user/Membrana_Platform/'
    },{
      icon: '/static/img/icons/socials/flames.svg',
      link: 'https://steemit.com/@membranaio'
    },{
      icon: '/static/img/icons/socials/golos.svg',
      link: 'https://golos.io/@membrana-io/'
    },{
      icon: '/static/img/icons/socials/linkedIn.svg',
      link: 'https://www.linkedin.com/company/membrana-io/'
    },{
      icon: '/static/img/icons/socials/facebook.svg',
      link: 'https://www.facebook.com/membrana.io/'
    },{
      icon: '/static/img/icons/socials/github.svg',
      link: 'https://github.com/MembranaPlatform'
    }],

    top: {
      title: 'Trust management <span class="nobr">of digital</span> assets',
      play_text: 'Quick Guide',
      description: `Join the first trust management platform fully built <span class="nobr">on blockchain</span> technology and trade 
          <b class="h-text-lighter">without fee</b> as early adopter`
    },

    youtube_video: 'https://www.youtube.com/embed/4wnAsOjSupY?enablejsapi=1',

    vision: {
      title: 'Presenting the vision of Membrana project',
      items: [{
        icon: '/static/img/pictures/vision/1.svg',
        title: 'Membrana is the safety',
        description: `Membrana is the safety for digital assets. It is the trust without risks for all contractors, and the security 
            guarantee for investors and traders achieved by a unique platform algorithm and blockchain technology.`
      },{
        icon: '/static/img/pictures/vision/2.svg',
        title: 'Membrana is the freedom',
        description: `Membrana is the freedom, the freedom to choose partners among platform users, from all over the world without 
            the limitations of centralized systems.`
      },{
        icon: '/static/img/pictures/vision/3.svg',
        title: 'Membrana is the new cash opportunity',
        description: `Membrana is the new cash opportunity, the ability to invest and raise money for management. It is the financial 
            freedom for those who had previously been neglected - regardless of their social status and seed capital.`
      },{
        icon: '/static/img/pictures/vision/4.svg',
        title: 'Membrana is the spirit <span class="nobr">of courage</span>',
        description: `Membrana is the spirit of courage. We have combined the experience of all our team members gifted from life 
            in five different countries. Each of us is well-established in our business, and is ready to dive in full force to 
            launch a start-up, created for the sake of this noble idea. We are not another broker – because we have completely changed 
            the system. How long have you been searching for an aspiring project like this that change the world for the better?`
      }]
    },

    components: {
      title: 'Membrana platform components',
      items: [{
        title: 'For investors',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'A platform for investors' 
        },{ 
          text: 'Investor can choose a best trader and to sign <span class="nobr">a contract</span> in 3 steps:'
        },{
          list: [{
            icon: '/static/img/icons/config.svg',
            text: 'Add API key of any exchange'
          },{
            icon: '/static/img/icons/request.svg',
            text: 'Send a request to the selected trader with defined settings and chosen pairs for trading'
          },{
            icon: '/static/img/icons/token.svg',
            text: 'Send MBN tokens to the address of the smart contract (trader’s fee)'
          },{
            icon: '/static/img/icons/lock.svg',
            text: 'Sign a smart-contract to allow trader’s acess for trading'
          }] 
        },{
          light_text: 'Credit profit directly into your exchange account.'
        }]
      },{
        title: 'For traders',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'A platform for traders' 
        },{ 
          text: 'A trader is able to receive money for trust management.'
        },{
          list: [{
            icon: '/static/img/icons/statistics.svg',
            text: 'Start trading through Membrana trading platform'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Set your specific setting for trust management'
          },{
            icon: '/static/img/icons/rating.svg',
            text: 'Achieve top spot in trader’s rating'
          },{
            icon: '/static/img/icons/certificate.svg',
            text: 'Accept a request from an investor and sign a smart-contract with him'
          },{
            icon: '/static/img/icons/unlock.svg',
            text: 'Receive an access for trading through API key'
          }] 
        },{
          light_text: 'Your profit is guaranteed with smart contract. You will receive profit directly in your ETH wallet.'
        }]
      },{
        title: 'For funds',
        image: '/static/img/pictures/components/investors.jpg',
        content: [{ 
          title: 'A platform for funds' 
        },{ 
          text: 'An investor or trader is able to join in and be part of a fund or create it in just few steps:'
        },{
          list: [{
            icon: '/static/img/icons/start.svg',
            text: 'Create a trade or an investment fund and invite new members to join'
          },{
            icon: '/static/img/icons/settings.svg',
            text: 'Customise fund settings and user options'
          },{
            icon: '/static/img/icons/check.svg',
            text: 'Propose an offer for share voting'
          },{
            icon: '/static/img/icons/pen.svg',
            text: 'Perform corporate actions via multisig'
          }] 
        },{
          light_text: 'Credit profit directly into your fund exchange account.'
        }]
      }]
    },

    layers: {
      title: 'Platform layers',
      items: [{
        title: 'API KEY of any exchange',
        description: 'Any exchange with API trade support will be available for operation Membrana platform.'
      },{
        title: 'Smart oracles',
        description: 'Oracles provide off-blockchain data for smart contracts. On Membrana, all trade data go through Oracles.'
      },{
        title: 'Ethereum Smart Contracts ',
        description: 'All deals between a trader and an investor transact via smart contracts. We will never keep your money in our wallets.'
      }]
    },

    how_it_works: {
      title: 'How it works',
      content: [{
        border_text: `Membrana enables a straight connection between an investor <span class="nobr">and a trader</span>, making their relations profitable and secured 
            for both sides. An investor’s funds never leave their exchange wallet, all trust management is accessed and executed 
            with the provision of api key.
            <span class="nobr">Every relation</span> goes through smart contracts, eliminating middleman <span class="nobr">and counterparty</span> risks, and making an agreement mandatory.`,
      },{
        title: 'Inside a smart contract we record all details of a deal:'
      },{
        list: [
          'The initial amount of digital assets in an investor’s account (equal to BTC, ETH or USD)',
          'Target profit for completion of the contract (based on average profitability of a trader.Upon completion, the contract will automatically terminate)',
          'Duration of the contract (the contract will then automatically calculate the profit and send it to the trader)',
          'Maximum loss (If a loss reaches the maximum value, the access will automatically close. The contract will then dissolves, refunding trader’s fee to the investor)',
          'Authorized pairs for trading',
          'Trader’s fee and his wallet'
        ]
      }]
    },

    read_more: 'Read more',

    technology: {
      title: 'Technology',
      items: [{
        icon: '/static/img/pictures/technology/ethereum.svg',
        title: 'Ethereum',
        description: `Membrana is built on Ethereum, a next-generation blockchain protocol that enables advanced smart contracts — agreements, 
            that operate automatically, without the need of human control. Ethereum is decen-tralized and safe; it provides transparency to all 
            operations on the platform.`,
        link: 'javascript:void(0)'
      },{
        icon: '/static/img/pictures/technology/metamask.svg',
        title: 'Metamask',
        description: `To make our platform even more secured, all processes are done with MetaMask. It is a Chrome plugin which allows you 
            to run Ethereum DApps right in your browser, without running a full Ethereum node. MetaMask includes a secure identity vault, 
            providing a user interface to manage and sign blockchain transactions.`,
        link: 'javascript:void(0)'
      }]
    },

    partners: {
      title: 'Partners',
      items: [{
        icon: '/static/img/pictures/partners/cipher.svg',
        title: 'Cipher Browser',
        description: `You can use our platform on mobile devices using Cipher Browser. Cipher Browser is the world's first full-featured 
            mobile dapp browser and wallet for the Ethereum blockchain. Cipher allows you to interact with dapps powered by Ethereum 
            on your mobile device and makes it easy for you to securely store, send and receive Ether and ERC20 tokens.`,
        link: 'javascript:void(0)'
      },{
        icon: '/static/img/pictures/partners/hacken.svg',
        title: 'Hacken',
        description: `Our security partner - Hacken, has performed Smart Contract Audit and Penetration Testing of Membrana platform. 
            Hacken is a group of cybersecurity experts and white hat hackers from all around the world, that works to bring next 
            level of safety to blockchain projects.`,
        link: 'javascript:void(0)'
      }]
    },

    team: [{
      title: 'Our team',
      items: [{
        avatar: '/static/img/pictures/team/evgeniy_buev.jpg',
        occupation: 'CEO',
        full_name: 'Eugene Buev',
        description: 'Serial entrepreneur<br>Trader of cryptocurrency assets since 2015',
        github: '',
        linkedin: 'https://www.linkedin.com/in/eugenebuev/',
        twitter: '',
        facebook: 'https://www.facebook.com/vtbeuro'
      },{
        avatar: '/static/img/pictures/team/maxim_khukhro.jpg',
        occupation: 'CTO',
        full_name: 'Maxim Khuhro',
        description: 'Machine learning and Java expert, AI researcher. 8 years experience at Intel Corp as a team lead.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/maximkhukhro/',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/yurii_gerasimov.jpg',
        occupation: 'COO',
        full_name: 'Yurii Gerasimov',
        description: 'Marketing in SxS corporation<br>Launched several business start-ups<br>Cryptoanalyst',
        github: '',
        linkedin: 'https://www.linkedin.com/in/jerry-gerasimov/',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/kirill_romanov.jpg',
        occupation: 'CMO',
        full_name: 'Kirill Romanov',
        description: 'Digital-agency founder<br>Serial entrepreneur<br>Marketing since 2009',
        github: '',
        linkedin: 'https://www.linkedin.com/in/kirill-romanov-4u',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/kseniya_kotvits.jpg',
        occupation: 'CCO',
        full_name: 'Kseniya Kotvits',
        description: 'PR since 2010<br>Launched several PR campaigns on millions of users',
        github: '',
        linkedin: 'https://www.linkedin.com/in/kseniya-kotvits-29ba04159/',
        twitter: 'https://twitter.com/kotvic_',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/igor_knyazev.jpg',
        occupation: 'Backend and Solidity Developer',
        full_name: 'Igor Knyazev',
        description: 'Developed own trading platform. Solidity developer since 2016. Blockchain and Smart Contracts expert.',
        github: '',
        linkedin: 'https://www.linkedin.com/in/igor-knyazev-237914148/',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/vyacheslav_mychkin.jpg',
        occupation: 'Frontend and Mobile App Developer',
        full_name: 'Vyacheslav Mychkin',
        description: 'Javascript full stack developer, mobile developer (Android, iOS)',
        github: '',
        linkedin: 'https://www.linkedin.com/in/vyacheslavmychkin/',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/sonder_s_lim.jpg',
        occupation: 'Regional Brand Manager, Asia',
        full_name: 'Sonder S. Lim',
        description: 'Digital Assets Advocate<br>Content Marketing Agency Founder<br>Content Strategist',
        github: '',
        linkedin: 'https://www.linkedin.com/in/sonderslim/',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/adam_joseph.jpg',
        occupation: 'Regional Brand Manager, India',
        full_name: 'Adam Joseph',
        description: 'Strategic Marketing<br>Business Development Manager',
        github: '',
        linkedin: 'https://www.linkedin.com/in/adam-joseph-266356153/',
        twitter: '',
        facebook: ''
      }]
    },{
      title: 'Advisors',
      items: [{
        avatar: '/static/img/pictures/team/marie_noel.jpg',
        occupation: 'Financial Advisor',
        full_name: 'Marie-Noel Nsana',
        description: '15 years in the Banking and Financial industry<br>Anti-Money Laundering Certified<br>Bitcoin & Cryptocurrency Professional (C4 cert)',
        github: '',
        linkedin: 'https://www.linkedin.com/in/marie-noel-nsana-120a433/',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/alexander_noxon.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Alexander Noxon',
        description: 'Expert cryptodeveloper since 2015.<br>10+ experience at IT.',
        github: 'https://github.com/noxonsu',
        linkedin: '',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/hans_choi.jpg',
        occupation: 'Technical Advisor',
        full_name: 'Hans Choi',
        description: 'OpenChain CEO/Dev<br>Blockchain Developer & Architect<br>Fintech expert',
        github: '',
        linkedin: 'https://www.linkedin.com/in/hans-namkyu-choi-407618102',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/edward_luo.jpg',
        occupation: 'Financial Advisor',
        full_name: 'Edward Luo',
        description: 'Master’s in Accounting and Bachelor’s in Finance from New York University<br>Six years in financial industry<br>Expert in BSA/AML and OFAC Sanctions',
        github: '',
        linkedin: 'https://www.linkedin.com/in/edward-luo/',
        twitter: '',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/yan_stolyar.jpg',
        occupation: 'Legal Advisor',
        full_name: 'Yan Stolyar',
        description: 'CEO Telecom<br>IT, project management expert<br>MBA in management',
        github: '',
        linkedin: 'https://www.linkedin.com/in/yanstolyar/',
        twitter: '',
        facebook: 'https://www.facebook.com/yan.stolyar'
      },{
        avatar: '/static/img/pictures/team/sls.png',
        occupation: 'Technical Advisor',
        full_name: 'Kushed',
        description: '<a href="https://bitcointalk.org/index.php?topic=1317448.0" target="_blank">The founder of SaluS (SLS)</a>',
        github: '',
        linkedin: '',
        twitter: 'https://twitter.com/Kushed_Crypto',
        facebook: ''
      },{
        avatar: '/static/img/pictures/team/alex_finn.jpg',
        occupation: 'Commercial Advisor',
        full_name: 'Alexander Finn',
        description: 'CEO of Rosblack Capital<br>Entrepreneur<br>Bitcoin Enthusiast',
        github: '',
        linkedin: '',
        twitter: '',
        facebook: 'https://www.facebook.com/alexgfinn'
      }]
    }],

    join_us: {
      title: 'Join us',
      description: 'To learn more about trust management of digital assets, how to use Membrana, and to meet the team!',
      email: 'Type your e-mail here…',
      email_error: '*Type correct mail to subscribe',
      subscribe: 'Subscribe'
    }
    
  }