html
  background: $dark


.app
  &.index
    background: url('/static/img/patterns/diagonals.svg') no-repeat center 760px
    background-size: 2560px auto
    height: auto

  &.roadmap
    background: url('/static/img/patterns/roadmap-pattern.png') no-repeat center 0
    background-size: 100% auto
    height: auto

    .page-content
      padding-bottom: px-to-rem(200px)
      @media(max-width: 767px)
        padding-bottom: px-to-rem(60px)


.patterns
  .pattern
    pointer-events: none
    position: absolute
    user-select: none


.dot-pattern-wrapper
  background: url('/static/img/patterns/dots.svg') bottom

.cylinder-gradient-pattern-wrapper
  background: url('/static/img/patterns/cylinder-gradient.svg') center top


.team-wrapper
  background: url('/static/img/patterns/radial-gradient.svg') no-repeat center
  background-size: cover
  box-shadow: inset 0 0 400px 200px #27283a, 0 0 200px 100px #27283a
  position: relative
  @media(max-width: 479px)
    background-attachment: fixed
    background-position: center
    background-size: 1000px auto


.page-content-pattern
  position: relative

  &::before,
  &::after
    background: url('/static/img/patterns/page-pattern-radical-gradient.svg') no-repeat center center
    background-size: cover
    content: ''
    width: px-to-rem(720px)
    height: px-to-rem(720px)
    position: absolute
    z-index: 3

  &::before
    top: -130px
    left: -200px

  &::after
    bottom: -190px
    right: -230px

.page-content
  position: relative
  z-index: 4


// Layer up the team-wrapper shadow 
.partners-wrapper,
.join-us-wrapper,
.press-wrapper
  position: relative
  z-index: 2


.join-us-wrapper
  background: url('/static/img/patterns/footer-ornament.svg') center center repeat-x $dark
  background-size: auto 33rem
  @media(max-width: 1023px)
    background: transparent


.vision-wrapper
  position: relative

  .vision
    position: relative

  .net
    left: calc(50vw + #{px-to-rem(100px)})
    top: calc(0 + #{px-to-rem(35px)})

  .line
    left: calc(50vw + #{px-to-rem(-535px)})
    top: calc(0 + #{px-to-rem(215px)})

  .triangle1
    left: calc(50vw + #{px-to-rem(380px)})
    top: calc(0 + #{px-to-rem(-15px)})

  .triangle2
    left: calc(50vw + #{px-to-rem(390px)})
    top: calc(0 + #{px-to-rem(3px)})

  .triangle3
    left: calc(50vw + #{px-to-rem(-800px)})
    top: calc(0 + #{px-to-rem(200px)})

  .triangle4
    left: calc(50vw + #{px-to-rem(-520px)})
    top: calc(0 + #{px-to-rem(640px)})

  .triangle5
    left: calc(50vw + #{px-to-rem(740px)})
    top: calc(0 + #{px-to-rem(655px)})

  .triangle6
    left: calc(50vw + #{px-to-rem(650px)})
    top: calc(0 + #{px-to-rem(680px)})


.components-wrapper
  position: relative

  .components
    position: relative

  .net
    left: calc(50vw + #{px-to-rem(-1290px)})
    top: calc(0 + #{px-to-rem(-165px)})

  .line
    left: calc(50vw + #{px-to-rem(410px)})
    top: calc(0 + #{px-to-rem(20px)})

  .triangle1
    left: calc(50vw + #{px-to-rem(675px)})
    top: calc(0 + #{px-to-rem(330px)})

  .triangle2
    left: calc(50vw + #{px-to-rem(-805px)})
    top: calc(0 + #{px-to-rem(800px)})


.layers-wrapper
  position: relative

  .layers
    position: relative

  .radial
    left: calc(50vw + #{px-to-rem(-960px)})
    top: calc(0 + #{px-to-rem(-5px)})

  .triangle1
    left: calc(50vw + #{px-to-rem(879px)})
    top: calc(0 + #{px-to-rem(65px)})

  .triangle2
    left: calc(50vw + #{px-to-rem(-820px)})
    top: calc(0 + #{px-to-rem(310px)})


.how-it-works-wrapper
  position: relative

  .how-it-works
    position: relative

  .net
    left: calc(50vw + #{px-to-rem(-1295px)})
    top: calc(0 + #{px-to-rem(15px)})

  .line
    left: calc(50vw + #{px-to-rem(-535px)})
    top: calc(0 + #{px-to-rem(550px)})

  .triangle1
    left: calc(50vw + #{px-to-rem(595px)})
    top: calc(0 + #{px-to-rem(100px)})

  .triangle2
    left: calc(50vw + #{px-to-rem(601px)})
    top: calc(0 + #{px-to-rem(145px)})

  .triangle3
    left: calc(50vw + #{px-to-rem(850px)})
    top: calc(0 + #{px-to-rem(490px)})

  .triangle4
    left: calc(50vw + #{px-to-rem(810px)})
    top: calc(0 + #{px-to-rem(600px)})

  .triangle5
    left: calc(50vw + #{px-to-rem(-560px)})
    top: calc(0 + #{px-to-rem(590px)})

  .triangle6
    left: calc(50vw + #{px-to-rem(-600px)})
    top: calc(0 + #{px-to-rem(625px)})


.tech-wrapper
  position: relative

  .tech
    position: relative

  .net
    left: calc(50vw + #{px-to-rem(110px)})
    top: calc(0 + #{px-to-rem(-325px)})

  .triangle1
    left: calc(50vw + #{px-to-rem(-775px)})
    top: calc(0 + #{px-to-rem(-25px)})

  .triangle2
    left: calc(50vw + #{px-to-rem(-790px)})
    top: calc(0 + #{px-to-rem(5px)})

  .triangle3
    left: calc(50vw + #{px-to-rem(670px)})
    top: calc(0 + #{px-to-rem(635px)})


.partners-wrapper
  position: relative

  .tech
    position: relative

  .triangle1
    left: calc(50vw + #{px-to-rem(-715px)})
    top: calc(0 + #{px-to-rem(87px)})

  .triangle2
    left: calc(50vw + #{px-to-rem(-750px)})
    top: calc(0 + #{px-to-rem(145px)})

  .triangle3
    left: calc(50vw + #{px-to-rem(-970px)})
    top: calc(0 + #{px-to-rem(405px)})

  .triangle4
    left: calc(50vw + #{px-to-rem(-683px)})
    top: calc(0 + #{px-to-rem(655px)})

  .triangle5
    left: calc(50vw + #{px-to-rem(443px)})
    top: calc(0 + #{px-to-rem(337px)})

  .triangle6
    left: calc(50vw + #{px-to-rem(450px)})
    top: calc(0 + #{px-to-rem(353)})

  .triangle7
    left: calc(50vw + #{px-to-rem(850px)})
    top: calc(0 + #{px-to-rem(710px)})
    z-index: 2

  .triangle8
    left: calc(50vw + #{px-to-rem(770px)})
    top: calc(0 + #{px-to-rem(827px)})
    z-index: 2
