.cases

	.pattern
		div.pattern
			//- img.js-prevent-inline.triangle_1(src="/static/img/new-page/small_bg.svg" alt="")
			//- img.js-prevent-inline.triangle_2(src="/static/img/new-page/small_bg2.svg" alt="")
			//- img.js-prevent-inline.triangle_6(src="/static/img/new-page/big_bg.svg" alt="")
			//- img.js-prevent-inline.triangle_3(src="/static/img/new-page/mid_bg.svg" alt="")
			//- img.js-prevent-inline.triangle_4(src="/static/img/new-page/small_bg2.svg" alt="")
			//- img.js-prevent-inline.triangle_5(src="/static/img/new-page/small_bg2.svg" alt="")
			//- img.js-prevent-inline.triangle_7(src="/static/img/new-page/small_bg2.svg" alt="")
			img.js-prevent-inline.lane1(src="/static/img/pictures/cases/lane3.svg" alt="")
			img.js-prevent-inline.lane2(src="/static/img/pictures/cases/lane3.svg" alt="")
			img.js-prevent-inline.lane3(src="/static/img/pictures/cases/lane4.svg" alt="")
			img.js-prevent-inline.lane4(src="/static/img/pictures/cases/lane4.svg" alt="")
			img.js-prevent-inline.grp(src="/static/img/pictures/cases/grp.svg" alt="")
			img.js-prevent-inline.bg(src="/static/img/pictures/cases/bg.png" alt="")

	
	.cases__wr
		.cases__head
			p.cases__head_top earn money with 
				span.bold membrana:
			h2.cases__title.h-text-gradient.title-lg use cases

		.cases__wr_cont
			.cases__wr1.cases__left
				.cases__wr1_top
					.cases__numb_wr
						p.cases__numb(data-aos="fade-right") 1
					.cases__wr1_low invest
					span.h-text-gradient in trading bots
				ul.cases__list
					li.cases__list_item(data-aos="fade-right") From 
						span.bold 2-3% BTC 
						| profit per month
					li.cases__list_item(data-aos="fade-right") 
						span.bold Different 
						| strategies
					li.cases__list_item(data-aos="fade-right") Fix price from 
						span.bold $100 
					li.cases__list_item(data-aos="fade-right")  
						span.bold One API key
						| for 
						span.bold several bots
					li.cases__list_item(data-aos="fade-right") No 
						span.bold 3rd party 
						| , your money at your control.
						span.bold Always  
				a(href="#").cases__btn 
					img(src="/static/img/pictures/cases/icon1.svg", alt="")
					span Get Profit
			
			.cases__wr1.cases__right
				.cases__wr1_top
					.text_fix
						.cases__wr1_low invest
						span.h-text-gradient  in traders
					.cases__numb_wr
						p.cases__numb(data-aos="fade-right") 2
				ul.cases__list
					li.cases__list_item(data-aos="fade-right") Choose from 
						span.bold many successfull traders 
						| on the platform
					li.cases__list_item(data-aos="fade-right") All trading history is stored 
						span.bold in blockchain
					li.cases__list_item(data-aos="fade-right")  
						span.bold One API key 
						| for 
						span.bold several traders
					li.cases__list_item(data-aos="fade-right") No 
						span.bold 3rd party 
						| , your money at your control.
						span.bold Always  
				a(href="#").cases__btn 
					img(src="/static/img/pictures/cases/icon1.svg", alt="")
					span Get Profit

			.cases__wr1.cases__center
				.cases__wr1_top
					.cases__numb_wr
						p.cases__numb(data-aos="fade-right") 3
					| Become a 
					span.colored TRADER
				ul.cases__list
					li.cases__list_item(data-aos="fade-right") Setup your 
						span.bold own parameters 
						| for trust management: 
						span.bold Target Profit, Duration Time, Stop Loss 
						| and  
						span.bold Commission Fee
					li.cases__list_item(data-aos="fade-right") 
						span.bold Your commission 
						| is saved in the 
						span.bold smart-contract
					li.cases__list_item(data-aos="fade-right")  Trade on 
						span.bold Binance, Bittrex, Huobi 
						| from one Terminal
				a(href="#").cases__btn 
					img(src="/static/img/pictures/cases/icon1.svg", alt="")
					span Get Profit
