.competition-wrapper.js-section.comp_re
  .patterns.pat
    div.pattern.bg
      img.js-prevent-inline(src="/static/img/pictures/competition/bg.svg" alt="").comp_re__bg


    .comp_wr
      .comp_wr__side.comp_wr__side-left
        img(src="/static/img/pictures/competition/plus.svg" alt="").comp_wr__icon
        | Share part of prize pool 
        span.comp_wr-colored.h-text-gradient $100,000
      .comp_wr__side.comp_wr__side-right
        img(src="/static/img/pictures/competition/plus.svg" alt="").comp_wr__icon
        | Join huge 
        span.comp_wr-colored.h-text-gradient $300,000 
        | Airdrop
      .comp_wr__center
        h2.comp_wr__title free
          p.comp_wr-colored_yell $100
        a(href="/competition/" target="blank").comp_wr__btn Take 
          span.comp_wr-bold $100
        .comp_wr__desc For trading via 
          span.comp_wr-bold Membrana


    //- img.competition__image.js-prevent-inline(src="/static/img/pictures/competition/competition.svg" alt="")