.competition-wrapper.js-section.comp_re
  .patterns.pat
    div.pattern.bg
      img.js-prevent-inline(src="/static/img/pictures/competition/bg.svg" alt="").comp_re__bg


    .comp_wr
      .comp_wr__wrap
        .comp_wr__side.comp_wr__side-left
          img(src="/static/img/pictures/competition/plus.svg" alt="").comp_wr__icon
          span.comp_wr-colored Beta version 
          | is 
          span.comp_wr-colored live
        .comp_wr__side.comp_wr__side-left
          img(src="/static/img/pictures/competition/plus.svg" alt="").comp_wr__icon
          span.comp_wr-colored 3000+ 
          | registrations
      .comp_wr__center
        h2.comp_wr__title.comp_wr__one BECOME A
          p.comp_wr__two PART OF THE
          p.comp_wr-colored_yell.comp_wr__three FINANCIAL
          p.comp_wr-colored_yell.comp_wr__four FREEDOM
        a(href="/ieo/" target="blank").comp_wr__btn Learn more about
          span.comp_wr-bold Membrana
      .comp_wr__wrap
        .comp_wr__side.comp_wr__side-right
          img(src="/static/img/pictures/competition/plus.svg" alt="").comp_wr__icon
          span.comp_wr-colored $600,000 
          | already raised
        .comp_wr__side.comp_wr__side-right
          img(src="/static/img/pictures/competition/plus.svg" alt="").comp_wr__icon
          | Over 
          span.comp_wr-colored 100k 
          | community


    //- img.competition__image.js-prevent-inline(src="/static/img/pictures/competition/competition.svg" alt="")
