.how-we-help

	.patternsed
		div.patterned
			img.js-prevent-inline.triangle_1(src="/static/img/new-page/small_bg.svg" alt="")
			img.js-prevent-inline.triangle_2(src="/static/img/new-page/small_bg2.svg" alt="")
			img.js-prevent-inline.triangle_6(src="/static/img/new-page/big_bg.svg" alt="")
			img.js-prevent-inline.triangle_3(src="/static/img/new-page/small_bg.svg" alt="")
			img.js-prevent-inline.triangle_4(src="/static/img/new-page/small_bg2.svg" alt="")
			img.js-prevent-inline.triangle_5(src="/static/img/new-page/small_bg2.svg" alt="")
			img.js-prevent-inline.triangle_7(src="/static/img/new-page/small_bg2.svg" alt="")

	h2.how-we-help__title How does 
		span.h-text-gradient Membrana 
		| helps 
		span.h-text-gradient Traders

	.how-we-help__video_wr
		iframe(width="100%" height="100%" src="https://www.youtube.com/embed/zFs9AZn27HQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

	a(href="https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA" target="_blank").how-we-help__link
		i.arrow.right
		| Check out other videos on our 
		img.link-youtube(src="/static/img/icons/youtube2.svg" alt="" width="22" height="22")
		|  channel 
