.top-wrapper.js-section
  //- script(type="application/javascript", async="async", src="https://icoholder.com/en/widget/big-green/21042.js?width=300")
  .top
    h1.top__title.title-lg.h-text-gradient!=app.top.title
    h3.top__title2.main__title
      span.top__title2-white IEO  
      span.top__title2-col ABCC #[!=app.top.subTitle]
    a(href="https://abcc.com/en/active/ieo/mbn").top__btn.live-sale__btn
      img(src="/static/img/icons/play2.svg" alt="").top__btn_img
      span.top__btn_span Membrana on IEO 
    .top__timer.top_timer
      p.top_timer__desc
        span.top-bold 10% bonus
        | starts in
      .top_timer__wr
        .top_timer__d
          span.top-bold_700.timerJs
          | d
          span.top_timer-colored :
        .top_timer__h
          span.top-bold_700.timerJs
          | h
          span.top_timer-colored :
        .top_timer__m
          span.top-bold_700.timerJs
          | m
    .top__widgets

      a(href="https://icobench.com/ico/membrana" target="_blank" rel="nofollow" title="Membrana on ICObench").top__widget1.top__widget
        img(border="0" src="https://icobench.com/rated/membrana?shape=horizontal&size=s" width="174px" height="76px" alt="Membrana ICO rating")

      a(href="https://www.trackico.io/ico/membrana/", target="_blank", title="Membrana on TrackICO").top__widget1.top__widget
        img(border="0", src="https://www.trackico.io/widget/horizontal/membrana/300.png", width="230px", height="76px", alt="Membrana TrackICO rating")
        
      a(href="https://www.icohotlist.com/ico/membrana-platform/", target="_blank", title="Membrana on IcoHotList").top__widget1.top__widget.top__hot
        img(border="0", src="/static/img/icons/HotListed.png", width="76px", height="76px", alt="Membrana IcoHotList rating")

      a(href="https://findico.io/ico/membrana", target="_blank", title="Membrana (MBN) on FindICO").top__widget1.top__widget
        img(src="https://findico.io/widget/horizontal/membrana/300.png", width="auto", height="76px", alt="Membrana (MBN) FindICO rating").top__widget-height

      a(href="https://icomarks.com/ico/membrana", rel="nofollow", target="_blank", title="Membrana ICO").top__widget1.top__widget
        img(src="/static/img/icons/horizontal.svg", width="auto", height="76px", alt="Membrana ICO Rating").top__widget-height
    div
      a(href="https://proofofreview.com/report/membrana", rel="nofollow", target="_blank", title="Membrana Proof of Review").top_widget
        img(src="/static/img/icons/POR.png", width="auto", height="100px", alt="Membrana ICO Rating").top__widget-height1

      //- #icoholder-widget-big-green-21042 

    //     //- img(border="0", src="https://icomarks.com/widget/m/membrana/square.svg", width="320px", height="100px", alt="Membrana ICO Rating")
    //     img(border="0", src="/static/img/icons/mark2.svg", width="320", height="100", alt="Membrana ICO Rating").top__widgets_img
    // //- .top__beta-btn
    //-   a.beta-btn(href="https://beta.membrana.io/" target="_blank")
    //-     img.beta-btn__icon.js-prevent-inline(src="/static/img/icons/beta.svg" alt="")
    //-     span.beta-btn__text.h-uppercase!=app.top.beta_text
    //- .top__description.h-uppercase!=app.top.description
    //- .top__socials
    //-   .socials
    //-     include ../shared/socials
    //-     +socials('top')
    .top__scroll-btn
      a.scroll-btn(href="javascript:void(0)"): img.scroll-btn__icon(src="/static/img/icons/scroll-arrow.svg" alt="")
