.top-wrapper.js-section
  .top
    h2.top__title.title-lg.h-text-gradient!=app.top.title
    .top__beta-btn
      a.beta-btn(href="https://alpha.membrana.io/" target="_blank")
        img.beta-btn__icon.js-prevent-inline(src="/static/img/icons/alpha.svg" alt="")
        span.beta-btn__text.h-uppercase!=app.top.beta_text
    .top__description.h-uppercase!=app.top.description
    .top__socials
      .socials
        include ../shared/socials
        +socials('top')
    .top__scroll-btn
      a.scroll-btn(href="javascript:void(0)"): img.scroll-btn__icon(src="/static/img/icons/scroll-arrow.svg" alt="")