include ../variables

  .top-wrapper.js-section
    .top
      h2.top__title.title-lg.h-text-gradient!=app.top.title
      .top__play-btn
        a.play-btn.h-text-gradient(href="javascript:void(0)" data-open-modal="video")
          img.play-btn__icon(src="/static/img/icons/play.svg" alt="")
          span.play-btn__text.h-uppercase!=app.top.play_text
      .top__description.h-uppercase!=app.top.description
      .top__socials
        .socials
          include ../shared/socials
          +socials('top')
      .top__scroll-btn
        a.scroll-btn(href="javascript:void(0)"): img.scroll-btn__icon(src="/static/img/icons/scroll-arrow.svg" alt="")