.trust_head
  .trust_head__img_wr
    img(src='/static/img/pictures/trust/GreenStars.svg', width='119.5', height='39.3', alt='GreenStars').trust_head__img
  header.rectangle_1
    span.trust_head_title Trust Management
  p.text_1
    span.yell_text.font_weight-bold Community Operated Fund
    | , department of Membrana.io, has plans to distribute up to 
    span.white_text_1.font_weight-bold $500,000
    |  for traders to work on trust management area.
  p.text_2
    | We are looking for 
    span.top_trades.font_weight-bold TOP traders
    | , who has positive
    br
    |  experience with big amount of trades.
  p.text_3 All contracts concluded via Membrana.io our special technology:
  p.smart_contracts Membrana Smart-Contracts
  p.text_4 providing 
    span.white_text_2.font_weight-bold 100%
    |  blockchain’s safety for both sides

img(src='/static/img/pictures/trust/triangle4.svg').trust_head__triangle_1
img(src='/static/img/pictures/trust/triangle3.svg').trust_head__triangle_2
img(src='/static/img/pictures/trust/triangle2.svg').trust_head__triangle_3
img(src='/static/img/pictures/trust/triangle3.svg').trust_head__triangle_4
img(src='/static/img/pictures/trust/triangle3.svg').trust_head__triangle_5
img(src='/static/img/pictures/trust/triangle6.svg').trust_head__triangle_6
img(src='/static/img/pictures/trust/triangle1.svg').trust_head__triangle_7
img(src='/static/img/pictures/trust/triangle4.svg').trust_head__triangle_8
img(src='/static/img/pictures/trust/triangle2.svg').trust_head__triangle_9
//- img(src='/static/img/pictures/trust/triangle6.svg').trust_head__triangle_10
img(src='/static/img/pictures/trust/triangle4.svg').trust_head__triangle_11
img(src='/static/img/pictures/trust/triangle3.svg').trust_head__triangle_12
img(src='/static/img/pictures/trust/triangle1.svg').trust_head__triangle_13
img(src='/static/img/pictures/trust/triangle6.svg').trust_head__triangle_14
img(src='/static/img/pictures/trust/triangle2.svg').trust_head__triangle_15
img(src='/static/img/pictures/trust/triangle2.svg').trust_head__triangle_16