.section_1.font_color-yellow
	.section_1__block_1.section_1__block
		img(src='/static/img/pictures/trust/Line1.svg', width='141', height='171.5', alt='Line1').section_1__img_1.section_1__img 
		span.section_1__number_1.number_size.font_weight-bold.section_1__number 1
		p.section_1__text_1 The technology is using 
			span.font_weight-bold Ethereum Smart-contracts
			|, which fully operates deals between investor and trader. Trader sets only 3 contract condition: 
			span.font_weight-bold duration time, target profit, max loss.
	.section_1__block_2.section_1__block
		img(src='/static/img/pictures/trust/Line2.svg', width='141', height='171.5', alt='Line2').section_1__img_2.section_1__img 
		span.section_1__number_2.number_size.font_weight-bold.section_1__number 2
		p.section_1__text_2 Investor adds connection to his assets on the exchange via API keys. API keys stored in special data-base and has multilevel secure system. 
			span.font_weight-bold Trader does not have direct access to assets
			|, he could not withdraw it any, he 
			br
			| has just a temporary access for trading.
	.section_1__block_3.section_1__block
		img(src='/static/img/pictures/trust/Line3.svg', width='123', height='143', alt='Line3').section_1__img_3.section_1__img
		span.section_1__number_3.number_size.font_weight-bold.section_1__number 3
		p.section_1__text_3 Trader’s commission is stored on Ethereum blockchain and is payed to trader in proportional to his profit results.
	.section_1__block_4.section_1__block
			img(src='/static/img/pictures/trust/Line4.svg', width='337', height='86.5', alt='Line4').section_1__img_4.section_1__img
			span.section_1__number_4.font_weight-bold.section_1__number 4
			p.section_1__text_4 Investor can choose trading pairs and 
				span.font_weight-bold exclude coins with low liquidity.

.section_1__block_5
	.block_5__title
		img(src='/static/img/pictures/trust/YellowStars.svg', width='89.1', height='29.3', alt='YellowStars').title__img
		.title__text_bg
			span.text_bg__text5 Conclusion
	.block_5__yell_line
		p.yell_line__yell_text 
			span.font_weight-bold Investor gain profit, trader gain profit 
			| (smart-contract transfer trader’s
			br
			| commission to his Ethereum address) and 
			span.font_weight-bold Membrana gain profit.
	.block_5__dark_yell_line
	


