.trust_head
  .trust_head__img_wr
    img(src='/static/img/pictures/trust/GreenStars.svg', width='119.5', height='39.3', alt='GreenStars').trust_head__img
  header.rectangle_1
    span.trust_head_title Trust Management
  p.text_1
    span.yell_text.font_weight-bold Community Operated Fund
    | , department of Membrana.io, has plans to distribute up to 
    span.white_text_1.font_weight-bold $500,000
    |  for traders to work on trust management area.
  p.text_2
    | We are looking for 
    span.top_trades.font_weight-bold TOP traders
    | , who has positive
    br
    |  experience with big amount of trades.
  p.text_3 All contracts concluded via Membrana.io our special technology:
  p.smart_contracts Membrana Smart-Contracts
  p.text_4 providing 
    span.white_text_2.font_weight-bold 100%
    |  blockchain’s safety for both sides

