.section_2__middle
	.section_2__head
		h1.section_2__head-text Example
	.section_2__block_1
		p.section_2__conent 
			span.font_weight-bold Investor
			| has 
			span.font_weight-bold 10 BTC.
			| He sends request for trust management to a trader. They concluded a deal via Membrana smart-contract with 
			span.font_weight-bold following conditions:
	
	.section_2__block_2
		.section_2__block_2-left
			p.section_2__conent.section_2__block_2-mg-b-l Trader's fee
			p.section_2__conent.section_2__block_2-mg-b-l Duration time
			p.section_2__conent.section_2__block_2-mg-b-l Target profit
			p.section_2__conent Max loss
		.section_2__block_2-right
			p.section_2__conent-blue.section_2__block_2-mg-b-r 40%
			p.section_2__conent-blue.section_2__block_2-mg-b-r 30 days
			p.section_2__conent-blue.section_2__block_2-mg-b-r 10%
			p.section_2__conent-blue 5%
	
	.section_2__block_3
		img(src='/static/img/pictures/trust/person.svg', alt='Person').section_2__img_2
	.section_2__block_4
		img(src='/static/img/pictures/trust/WhiteLine.svg', width='178', height='202', alt='WheteLine').section_2__img_1
		p.section_2__conent After next 
			span.font_weight-bold 30 days 
			| trader gain only 
			span.font_weight-bold 8% profit 
			| in BTC and contract was 
			br
			| closed by time. So, trader’s commission is 10 BTC * 8% *40% = 
			span.font_weight-bold 0.32 BTC

		