form.trust_form
	h2.trust_form__header Send Request
	.trust_form__group
		p.trust_form__desc 
			span.trust_form__star.trust_form__star-bottom *
			| - required 

		.trust_form__inp_grp
			label.trust_form__label Your e-mail
				span.trust_form__star *
			input.trust_form__input(placeholder="Type answer..." data-type="email")

		.trust_form__inp_grp
			label.trust_form__label Your first name
				span.trust_form__star *
			input.trust_form__input(placeholder="Type answer..." data-type="text")

		.trust_form__inp_grp
			label.trust_form__label.trust_form__label-no_wrap I can share my trades (*xls) in last 6 month and make the proof for profit
				span.trust_form__star *
			input.trust_form__input(placeholder="Type answer..." data-type="text")

		.trust_form__inp_grp
			label.trust_form__label Average profit last 6 months, per month in USD
				span.trust_form__star *
			label.trust_form__container <1%
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
			label.trust_form__container <1%
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
			label.trust_form__container <1%
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
			label.trust_form__container <1%
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
			label.trust_form__container <1%
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
			label.trust_form__container <1%
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
			label.trust_form__container <1%
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
			label.trust_form__container 
				input.trust_form__input(placeholder="Type answer..." data-type="text")
				input(type="radio" name="average_profit").hid_input
				span.trust_form__checkmark
