.updates-wrapper.js-section
  .updates
    h2.updates__title.title.h-text-gradient Weekly updates
    .updates__document_links_wr
      a(href="/static/pdf/weekly/Weekly_News_10_aug.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 10 august 2018
      a(href="/static/pdf/weekly/Weekly_News_17_aug.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 17 august 2018
      a(href="/static/pdf/weekly/Weekly_News_24_aug.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 24 august 2018
      a(href="/static/pdf/weekly/Weekly_News_31_aug.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 31 august 2018
      a(href="/static/pdf/weekly/Weekly_News_7_sep.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 7 september 2018
      a(href="/static/pdf/weekly/Weekly_News_14_sep.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 14 september 2018
      a(href="/static/pdf/weekly/Weekly_News_21_sep.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 21 september 2018
      a(href="/static/pdf/weekly/Weekly_News_28_sep.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 28 september 2018
      a(href="/static/pdf/weekly/Weekly_News_5_oct.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 5 october 2018
      a(href="/static/pdf/weekly/Weekly_News_12_oct.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 12 october 2018
      a(href="/static/pdf/weekly/Weekly_News_26_oct.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 26 october 2018
      a(href="/static/pdf/weekly/Weekly_News_2_nov.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 2 november 2018
