.updates-wrapper.js-section
  .updates
    h2.updates__title.title.h-text-gradient Weekly updates
    .updates__document_links_wr
      a(href="/static/pdf/weekly/Weekly_News_10_aug.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 10 august 2018
      a(href="/static/pdf/weekly/Weekly_News_17_aug.pdf" target="_blank").updates__doc_link
        img(src="/static/img/icons/dock.svg" alt="").updates__icon
        span.link__text 17 august 2018 